24-2-t9RBbn9ydkg6zd8y.json
{"createdAt":"2025-07-16T23:33:27.143Z","updatedAt":"2025-07-24T23:18:04.000Z","id":"t9RBbn9ydkg6zd8y","name":"Automate Email Filtering & AI Summarization. 100% free & effective, works 7/24  2","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## 🧪 TEST BEFORE DEPLOYING\n1. Send test email\n2. Check Sheets output\n3. Verify summary quality\n4. Adjust filters/prompt as needed","height":220,"width":300,"color":6},"id":"39b2d4bd-b29b-4e52-864e-0090e8f8e56f","name":"Test Note","type":"n8n-nodes-base.stickyNote","position":[2416,320],"typeVersion":1},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04","mode":"list","cachedResultName":"N8N-TESTE","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":312191284,"mode":"list","cachedResultName":"Página2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04/edit#gid=312191284"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $('info1').item.json.Date }}","summary":"={{ $json.output }}","sender name":"={{ $('info1').item.json[\"Sender Name\"] }}","sender email":"={{ $('info1').item.json[\"Sender Email\"] }}","subject":"={{ $('info1').item.json.Subject }}"},"matchingColumns":["sender name"],"schema":[{"id":"sender name","displayName":"sender name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"sender email","displayName":"sender email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"subject","displayName":"subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"75cc1f51-da2d-411a-bd64-7c574c5d5d11","name":"Log to Google Sheets1","type":"n8n-nodes-base.googleSheets","position":[2032,432],"typeVersion":4,"credentials":{"googleSheetsOAuth2Api":{"id":"bdtx0CIYVT2yv04Y","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=Please read this email \"{{ $json.Content }}\" and provide in Portuguese (BR) a very short, concise summary containing only the most important information. Keep the summary as brief as possible without losing essential details.","options":{}},"id":"b5d3d06e-116f-4c40-bbd0-c22cd622af96","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","position":[1456,368],"typeVersion":2},{"parameters":{"pollTimes":{"item":[{"mode":"=everyHour","minute":59}]},"simple":false,"filters":{"labelIds":["CATEGORY_PERSONAL"]},"options":{"downloadAttachments":false}},"id":"a69f2251-947b-444c-b314-d510870b6583","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","position":[448,464],"typeVersion":1,"credentials":{"gmailOAuth2":{"id":"210i97UAvOhXftXK","name":"Gmail account"}}},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"c1d2e3f4-g5h6-i7j8-k9l0-m1n2o3p4q5r6","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json['Sender Name'] }}","rightValue":"Daniel Menezes"}],"combinator":"and"},"options":{}},"id":"a7024314-9303-42f3-a854-dcb385c991f7","name":"Check Valid Email","type":"n8n-nodes-base.if","position":[1120,464],"typeVersion":2},{"parameters":{"jsCode":"const items = [];\n\nfor (const item of $input.all()) {\n  const emailData = item.json;\n  \n  // Handle sender information (unchanged)\n  let senderEmail = '';\n  let senderName = '';\n\n  if (emailData.from?.value?.[0]) {\n    senderEmail = emailData.from.value[0].address || '';\n    senderName = emailData.from.value[0].name || senderEmail;\n  } else if (emailData.from?.text) {\n    const emailMatch = emailData.from.text.match(/<([^>]+)>/) || \n                      emailData.from.text.match(/([^\\s]+@[^\\s]+)/);\n    senderEmail = emailMatch ? emailMatch[1] : emailData.from.text;\n    \n    const nameMatch = emailData.from.text.match(/^([^<]+)/);\n    senderName = nameMatch ? nameMatch[1].trim().replace(/\\\"/g, '') : senderEmail;\n  }\n\n  // Format date (unchanged)\n  const receivedDate = new Date(emailData.date || emailData.receivedTime);\n  const formattedDate = receivedDate.toLocaleString('en-US', {\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: true\n  });\n\n  // FIXED CONTENT EXTRACTION\n  let emailContent = '';\n  \n  // 1. First priority: Plain text version\n  if (emailData.text) {\n    emailContent = emailData.text;\n  } \n  // 2. Second priority: HTML version (convert to plain text)\n  else if (emailData.html) {\n    emailContent = emailData.html\n      .replace(/<style[^>]*>.*?<\\/style>/gs, '')  // Remove CSS\n      .replace(/<[^>]*>/g, ' ')                   // Strip HTML tags\n      .replace(/\\s+/g, ' ')                       // Collapse whitespace\n      .trim();\n  }\n  // 3. Fallback to other possible fields\n  else if (emailData.body || emailData.textPlain || emailData.textHtml) {\n    emailContent = emailData.body || emailData.textPlain || emailData.textHtml;\n  }\n\n  // Truncate content if too long\n  const maxContentLength = 5000;\n  if (emailContent.length > maxContentLength) {\n    emailContent = emailContent.substring(0, maxContentLength) + '... [truncated]';\n  }\n\n  // Create row data\n  const rowData = {\n    'Date': formattedDate,\n    'Sender Name': senderName,\n    'Sender Email': senderEmail,\n    'Subject': emailData.subject || 'No Subject',\n    'Content': emailContent,\n    //'Message ID': emailData.messageId || '',\n    'Has Attachments': emailData.attachments?.length > 0 ? 'Yes' : 'No'\n  };\n  \n  items.push({ json: rowData });\n}\n\nreturn items;"},"id":"d408d58f-c818-4601-8109-f90bb152e381","name":"info1","type":"n8n-nodes-base.code","position":[800,464],"typeVersion":2},{"parameters":{"content":"## 🔑 Step 1: Add Gmail Credentials 👇","height":400,"width":260,"color":5},"id":"2bb19466-2a13-48d1-8f9c-be3db440c061","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[368,240],"typeVersion":1},{"parameters":{"content":"## 📧 Step 2: Email Processing Node\n","height":400,"width":260,"color":5},"id":"5fef7b17-cca7-4f06-99c0-efe6944b6a48","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[720,240],"typeVersion":1},{"parameters":{"content":"## ⚙️ Step 3: Sender Filter\n• Replace 'YOUR_SENDER_NAME_FILTER'\n• Only emails from this sender will proceed\n• Supports multiple conditions","height":400,"width":260,"color":5},"id":"bf269863-ccaa-4a22-aff2-a98305d8c354","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[1040,240],"typeVersion":1},{"parameters":{"content":"## ✍️ Step 4: Customize AI Prompt\n• Default: Short email summary\n• Change tone/formality as needed","height":420,"width":360,"color":5},"id":"2ea54fa1-fd79-48ca-854c-14b706cf3315","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[1408,224],"typeVersion":1},{"parameters":{"content":"## 🤖 Step 5: AI Configuration\n1. Add Groq API key\n2. Or replace with other AI model\n","height":220,"width":260,"color":5},"id":"92c18c6f-3c83-41e0-8757-67455aff44da","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[1008,768],"typeVersion":1},{"parameters":{"content":"## 📊 Step 6: Google Sheets Setup\n1. Add Google credentials\n2. Paste Sheet URL\n3. Select target sheet\n4. Columns auto-map to email data","height":400,"width":500,"color":4},"id":"56894a8f-5340-43a3-a852-7d4dadbdd376","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[1856,240],"typeVersion":1},{"parameters":{"content":"## ✅ Expected Output Format\nColumns: Sender | Date | Email | Subject | Summary\n\n![Example Table](https://cdn.ablebits.com/_img-blog/google-sheets-create-table/table-format.webp)","height":420,"width":700,"color":4},"id":"bb07639e-3edb-4be1-8554-cd6df8ebb22c","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[1776,704],"typeVersion":1},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1312,832],"id":"47ad9078-3da5-41d6-bd91-6a779aee6109","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"yKGo5HNJO3JwmlDo","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"info1":{"main":[[{"node":"Check Valid Email","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Log to Google Sheets1","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"info1","type":"main","index":0}]]},"Check Valid Email":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"lastTimeChecked":1753397995,"possibleDuplicates":["1983eaa289064a70","1983e7a1e52de723"]}},"meta":{"templateId":"5678","templateCredsSetupCompleted":true},"pinData":{},"versionId":"1a9a52de-c9d9-495d-878d-168f02b4297f","triggerCount":1,"shared":[{"createdAt":"2025-07-16T23:33:27.147Z","updatedAt":"2025-07-16T23:33:27.147Z","role":"workflow:owner","workflowId":"t9RBbn9ydkg6zd8y","projectId":"UkmxdPS16V9GSHYc"}],"tags":[]}