[ok]-ssl-expiry-alert-with-ssl-checker.io-A9nieEiHH33scuJq.json
{"createdAt":"2025-07-17T00:49:10.598Z","updatedAt":"2025-08-21T11:29:45.000Z","id":"A9nieEiHH33scuJq","name":"[Ok] SSL Expiry Alert with SSL-Checker.io","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1tOfwY9kyVEKi7zW0s2vP3e1y57gAEirEYikxrA8esJA","mode":"list","cachedResultName":"URLs to Monitor for SSL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tOfwY9kyVEKi7zW0s2vP3e1y57gAEirEYikxrA8esJA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VfsX4cW2oKQ3ZHUjBvGk--d1X7509c6__b6gPvA5VpI/edit#gid=0","cachedResultName":"URLs to Check"},"columns":{"mappingMode":"defineBelow","value":{"URL":"={{ $('Fetch URLs').item.json.URL }}","KnownExpiryDate":"={{ $json.result.valid_till }}"},"matchingColumns":["URL"],"schema":[{"id":"Website ","displayName":"Website ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"KnownExpiryDate","displayName":"KnownExpiryDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"260b66a2-0841-4dc7-9666-acbc9317fd91","name":"URLs to Monitor","type":"n8n-nodes-base.googleSheets","position":[144,384],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"bdtx0CIYVT2yv04Y","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":8}]}},"id":"a2922f1b-9d29-4b66-9560-44207f3e14d2","name":"Weekly Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-528,480],"typeVersion":1.2},{"parameters":{"documentId":{"__rl":true,"value":"1tOfwY9kyVEKi7zW0s2vP3e1y57gAEirEYikxrA8esJA","mode":"list","cachedResultName":"URLs to Monitor for SSL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tOfwY9kyVEKi7zW0s2vP3e1y57gAEirEYikxrA8esJA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"URLs to Check","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tOfwY9kyVEKi7zW0s2vP3e1y57gAEirEYikxrA8esJA/edit#gid=0"},"options":{}},"id":"005564e9-5ecb-4ee9-aca0-69a660656b09","name":"Fetch URLs","type":"n8n-nodes-base.googleSheets","position":[-304,480],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"bdtx0CIYVT2yv04Y","name":"Google Sheets account"}}},{"parameters":{"url":"=https://ssl-checker.io/api/v1/check/{{ $json[\"URL\"].replace(/^https?:\\/\\//, \"\").replace(/\\/$/, \"\") }}","options":{}},"id":"943c561c-ca89-461c-a6fb-c3011baaf81a","name":"Check SSL","type":"n8n-nodes-base.httpRequest","position":[-80,480],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"ee6e2ce8-569a-4f1f-91b5-2c55f605a16b","operator":{"type":"number","operation":"lte"},"leftValue":"={{ $json.result.days_left }}","rightValue":30}],"combinator":"and"},"options":{}},"id":"911fa691-decf-4572-a46e-d8644d3b2a35","name":"Expiry Alert","type":"n8n-nodes-base.if","position":[144,576],"typeVersion":2.2},{"parameters":{"sendTo":"daniel.menezes@sebratel.com.br","subject":"=Aviso de certificado SSL: {{ $json.result.host }}","emailType":"text","message":"={{ $json.result.host }}\nO certificado SSL irá expirar em {{ $json.result.valid_till }}, {{ $json.result.days_left }} dias restantes.","options":{"appendAttribution":false}},"id":"8b59ebbb-0a87-40c2-be79-cc38431ebdbd","name":"Send Alert Email","type":"n8n-nodes-base.gmail","position":[368,384],"webhookId":"cd6b6b20-e619-4526-aa69-64754e3d9035","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"210i97UAvOhXftXK","name":"Gmail account"}},"disabled":true},{"parameters":{"content":"Triggers the workflow once a week.","height":329.860465116279},"id":"32eebd68-f0e6-467c-bf65-f2d513a60666","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-608,320],"typeVersion":1},{"parameters":{"content":"Pulls the list of URLs to monitor from the Google Sheet. Ensure you clone the Google Sheet worksheet and update this node with its URL.","height":327.0154373927959},"id":"3c0ed796-94a4-488c-9cb7-e3d46db63815","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-384,320],"typeVersion":1},{"parameters":{"content":"Uses SSL-Checker.io to verify the SSL certificate of each URL. Fetches details like the host, validity period, and days remaining until expiry.","height":323.89365351629556},"id":"fdb2077c-7d6a-4255-b499-e90513a0de1d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-160,320],"typeVersion":1},{"parameters":{"content":"Updates the Google Sheet with SSL details, including the expiry date and certificate status.","height":344.1852487135509},"id":"5cc1644b-6abc-4299-8a25-9507b09d863f","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[80,208],"typeVersion":1},{"parameters":{"content":"Checks if any SSL certificate is set to expire in 30 days or less.","height":344.1852487135509},"id":"1001a69e-8efc-4a8b-a97b-a1bc021ada35","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[80,400],"typeVersion":1},{"parameters":{"content":"Sends an email alert if an SSL certificate is nearing expiry, including the host and days remaining.","height":344.1852487135509},"id":"ad9e359e-3d95-4e8c-97b0-d06475bb8883","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[304,208],"typeVersion":1},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"host"},{"fieldToAggregate":"result.valid_till"},{"fieldToAggregate":"result.days_left"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[368,576],"id":"29fe9fe0-9e7a-44ba-984b-8d6a72e3acc4","name":"Aggregate"},{"parameters":{"sendTo":"ti@sebratel.com.br","subject":"=Aviso de certificado SSL: <= 30 DIAS","emailType":"text","message":"={{ $json.message }}","options":{"appendAttribution":false}},"id":"ed82ffcb-8710-4bb6-8924-bbf2580cac56","name":"Send Alert Email1","type":"n8n-nodes-base.gmail","position":[816,576],"webhookId":"cd6b6b20-e619-4526-aa69-64754e3d9035","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"210i97UAvOhXftXK","name":"Gmail account"}}},{"parameters":{"jsCode":"// Recupera arrays\nconst hosts = $json.host;\nconst validTill = $json.valid_till;\nconst daysLeft = $json.days_left;\n\nlet message = '';\n\nfor (let i = 0; i < hosts.length; i++) {\n  message += `host: ${hosts[i]}\\nO certificado SSL irá expirar em ${validTill[i]}, ${daysLeft[i]} dias restantes.\\n\\n`;\n}\n\n// Retorna como novo campo \"message\"\nreturn {\n  json: {\n    message\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,576],"id":"ae62a98f-6ff5-4524-9fed-d61ddfcec48f","name":"Code"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[368,768],"id":"611cccf1-f192-417b-9d73-e7e3025d2a91","name":"No Operation, do nothing"}],"connections":{"Check SSL":{"main":[[{"node":"URLs to Monitor","type":"main","index":0},{"node":"Expiry Alert","type":"main","index":0}]]},"Fetch URLs":{"main":[[{"node":"Check SSL","type":"main","index":0}]]},"Expiry Alert":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Send Alert Email","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Weekly Trigger":{"main":[[{"node":"Fetch URLs","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send Alert Email1","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Weekly Trigger":{"recurrenceRules":[]}},"meta":{"templateId":"2694"},"pinData":{},"versionId":"33f18503-0f54-49e0-b305-88083534a886","triggerCount":1,"shared":[{"createdAt":"2025-07-17T00:49:10.603Z","updatedAt":"2025-07-17T00:49:10.603Z","role":"workflow:owner","workflowId":"A9nieEiHH33scuJq","projectId":"UkmxdPS16V9GSHYc"}],"tags":[]}