[ok]-backup-all-n8n-workflows-to-google-drive-every-1-day(s)-JAja9FAk3DBVm114.json
{"createdAt":"2025-07-17T02:16:18.296Z","updatedAt":"2025-09-03T11:31:40.000Z","id":"JAja9FAk3DBVm114","name":"[Ok] Backup all n8n workflows to Google Drive every 1 day(s)","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"62edf095-a02a-4b8d-a7b1-e194ae0d3652","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[368,240],"typeVersion":1},{"parameters":{"options":{}},"id":"1f5caabb-d76b-4744-be76-97e9abea1ddc","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[928,368],"typeVersion":3},{"parameters":{"resource":"folder","name":"=Workflow Backups {{ $now.format('yyyyMMdd-TT') }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1suYcUeQtlgYQ51XYHyl-nsExsyAGWhtQ","mode":"list","cachedResultName":"N8N Workflow Backups","cachedResultUrl":"https://drive.google.com/drive/folders/1suYcUeQtlgYQ51XYHyl-nsExsyAGWhtQ"},"options":{}},"id":"755e0803-c5c0-48a7-9c0c-44f8d5718d0b","name":"create new folder","type":"n8n-nodes-base.googleDrive","position":[560,368],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"Ep1OmE8WxwxLbC2N","name":"DM - Google Drive account"}}},{"parameters":{"operation":"toJson","options":{"format":true,"fileName":"={{ $json.name + \".json\" }} "}},"id":"22874532-6d87-4a72-bb51-dd8c6e03c0c1","name":"Convert to File","type":"n8n-nodes-base.convertToFile","position":[1152,464],"typeVersion":1.1},{"parameters":{"name":"={{ $('Loop Over Items').item.json.name + \".json\" }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $('create new folder').item.json.id }}"},"options":{}},"id":"0b0155f1-15bc-4580-af6e-7dec3b0d5737","name":"Google Drive","type":"n8n-nodes-base.googleDrive","position":[1328,464],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"Ep1OmE8WxwxLbC2N","name":"DM - Google Drive account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"id":"c7b73036-1831-4dd6-8dd9-fef1356a184c","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[368,512],"typeVersion":1.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"538fc29d-2693-4c62-9848-bdcaf8566909","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.id }}","rightValue":"={{ $('create new folder').item.json.id }}"}]},"looseTypeValidation":true,"options":{"ignoreCase":true}},"id":"666dcf95-928c-4270-808f-755a9771a410","name":"Filter","type":"n8n-nodes-base.filter","position":[1328,272],"typeVersion":2.2,"disabled":true},{"parameters":{"resource":"folder","operation":"deleteFolder","folderNoRootId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"deletePermanently":true}},"id":"f6f44cbe-a98e-4a49-8c4c-59ebe02db9e5","name":"delete folder","type":"n8n-nodes-base.googleDrive","position":[1520,272],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"Ep1OmE8WxwxLbC2N","name":"DM - Google Drive account"}},"disabled":true},{"parameters":{"resource":"fileFolder","filter":{"folderId":{"__rl":true,"value":"1suYcUeQtlgYQ51XYHyl-nsExsyAGWhtQ","mode":"list","cachedResultName":"N8N Workflow Backups","cachedResultUrl":"https://drive.google.com/drive/folders/1suYcUeQtlgYQ51XYHyl-nsExsyAGWhtQ"}},"options":{}},"id":"d96a009f-08d3-4f0d-9f70-f9e0de9b9f91","name":"Get folders","type":"n8n-nodes-base.googleDrive","position":[1152,272],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"Ep1OmE8WxwxLbC2N","name":"DM - Google Drive account"}},"disabled":true},{"parameters":{"filters":{},"requestOptions":{}},"id":"1e10875b-f54b-43a8-a7a2-43d4fcbf248d","name":"Get many workflows","type":"n8n-nodes-base.n8n","position":[736,368],"retryOnFail":true,"typeVersion":1,"alwaysOutputData":true,"credentials":{"n8nApi":{"id":"LJONv86U4fTNMiIN","name":"DM - n8n account"}}}],"connections":{"Filter":{"main":[[{"node":"delete folder","type":"main","index":0}]]},"Get folders":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"delete folder":{"main":[[]]},"Convert to File":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Get folders","type":"main","index":0}],[{"node":"Convert to File","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"create new folder","type":"main","index":0}]]},"create new folder":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"create new folder","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","executionOrder":"v0"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[8]}},"meta":{"templateId":"2886","templateCredsSetupCompleted":true},"pinData":{},"versionId":"1387735b-91a2-4ca8-b847-fbe53d9e29d8","triggerCount":1,"shared":[{"createdAt":"2025-07-17T02:16:18.300Z","updatedAt":"2025-07-17T02:16:18.300Z","role":"workflow:owner","workflowId":"JAja9FAk3DBVm114","projectId":"UkmxdPS16V9GSHYc"}],"tags":[]}