[ok]-dm:-notion-+-mindmap-+-email-iisFChnFCAptWzDG.json
{"createdAt":"2025-08-13T16:47:49.132Z","updatedAt":"2025-08-21T20:44:19.000Z","id":"iisFChnFCAptWzDG","name":"[Ok] DM: Notion + MindMap + Email","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"24f76cd2-f72a-80a3-ba60-d6487bac860d","mode":"list","cachedResultName":"dmnzs","cachedResultUrl":"https://www.notion.so/24f76cd2f72a80a3ba60d6487bac860d"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[-352,80],"id":"3154ab50-82df-4480-882c-7a9cc48c3cbe","name":"Notion Trigger","credentials":{"notionApi":{"id":"BuZHr5pcTN01Wdsu","name":"Notion account"}}},{"parameters":{"resource":"block","operation":"getAll","blockId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-128,80],"id":"eb972775-bdac-4dde-afe7-01bfa388f256","name":"Get many child blocks","credentials":{"notionApi":{"id":"BuZHr5pcTN01Wdsu","name":"Notion account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"content"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[96,80],"id":"73dd2e26-9b86-4a8d-8e30-1dbb00338b04","name":"Aggregate"},{"parameters":{"jsCode":"// Recupera arrays\nconst msg = $input.first().json.content\nconst content = $json.content;\n\nlet message = '';\n\nfor (let i = 0; i < msg.length; i++) {\n  message += `- ${content[i]}.`;\n}\n\n// Retorna como novo campo \"message\"\nreturn {\n  json: {\n    message\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,80],"id":"f6dc29bf-3445-4d2c-915a-fad9bbb75492","name":"Code"},{"parameters":{"method":"POST","url":"https://kroki.io/plantuml/pdf","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,80],"id":"c6ced92e-850b-4ca6-b0ee-fb6619fb6202","name":"HTTP Request"},{"parameters":{"promptType":"define","text":"=Crie uma saída JSON para importar no Kroki.io. Não imprima suas percepções, apenas o JSON.\n\nTexto:\n {{ $('Notion Trigger').item.json.Name }}{{ $json.message }}\n\nOrientações:\n1) Siga o exemplo:\n{ \n \"diagram_source\": \"@startmindmap\\n* Gestão de Projetos\\n** IA\\n*** Contexto\\n*** Tendências\\n**** Mercado\\n**** Concorrência\\n*** Necessidades dos Clientes\\n*** Objetivos\\n**** SMART\\n***** Específicos\\n***** Mensuráveis\\n***** Alcançáveis\\n***** Relevantes\\n***** Temporais\\n** Equipe\\n*** Papéis\\n**** Gerente de Projeto\\n**** Cientista de Dados\\n**** Engenheiro de Machine Learning\\n**** DevOps\\n*** Comunicação\\n** Reuniões\\n*** Relatórios\\n*** Planejamento\\n** Fases\\n*** Definição\\n*** Desenvolvimento\\n*** Testes\\n**** Unitários\\n**** Integração\\n**** Desempenho\\n*** Implantação\\n** Cronograma\\n*** Marcos\\n** Dependências\\n** Recursos\\n*** Infraestrutura\\n**** Servidores\\n**** Nuvem\\n*** Software\\n**** Linguagens\\n**** Frameworks\\n**** Ferramentas de colaboração\\n***** Git\\n***** CI/CD\\n*** Orçamento\\n**** Custos Fixos\\n**** Custos Variáveis\\n**** ROI\\n** Riscos\\n*** Identificação\\n*** Técnicos\\n*** Projeto\\n*** Financeiros\\n*** Plano de mitigação\\n** Acompanhamento e Métricas\\n*** KPIs\\n**** Taxa de sucesso\\n**** Tempo de resposta\\n*** Relatórios\\n** Comunicação e Marketing\\n*** Alvos\\n*** Canais\\n*** Mensagens principais\\n@endmindmap\",\n  \"diagram_type\": \"plantuml\",\n  \"output_format\": \"svg\"\n}\n\n2) Suprima do início da saída do seu código o trecho json (```json\\n).\n\n3) NUNCA inicie o seu código com ```json\\n.\n\n4) Suprima do inicio do seu código o ```json\\n.\n\n5) Nunca separe a var \"{{ $('Notion Trigger').item.json.Name }}\" que é o título, deixe na mesma linha.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[544,80],"id":"09120773-9318-44ab-afb1-af5344d130ce","name":"AI Agent"},{"parameters":{"sendTo":"daniel.menezes@sebratel.com.br","subject":"=Mapa mental da nota:  {{ $('Notion Trigger').item.json.Name }}","emailType":"text","message":"=Nota: {{ $('Notion Trigger').item.json.Name }}\n\nAnotações:\nName: {{ $('Notion Trigger').item.json.Name }}\nDate started: {{ $('Notion Trigger').item.json.Date.start }}\nLast edited by: {{ $('Notion Trigger').item.json['Last edited by'] }}\nLast edited time: {{ $('Notion Trigger').item.json['Last edited time'] }}\n\nTópicos:\n{{ $('Aggregate').item.json.content }}\n\nMapa mental em anexo.","options":{"attachmentsUi":{"attachmentsBinary":[{}]}}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1120,80],"id":"a16e1d9b-7731-4b0c-bda9-0fd41858f34e","name":"Send a message1","webhookId":"bd26a34a-6099-4c5d-82df-e438134c762e","credentials":{"gmailOAuth2":{"id":"210i97UAvOhXftXK","name":"Gmail account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[544,288],"id":"9836147c-5f6e-4d40-b833-c16d8d422829","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Dq0ASQEB4JdKxH5v","name":"OpenAi account"}}}],"connections":{"Notion Trigger":{"main":[[{"node":"Get many child blocks","type":"main","index":0}]]},"Get many child blocks":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"154ca3f1-023a-44e2-affc-adb6dc0fd18c","triggerCount":0,"shared":[{"createdAt":"2025-08-13T16:47:49.137Z","updatedAt":"2025-08-13T16:47:49.137Z","role":"workflow:owner","workflowId":"iisFChnFCAptWzDG","projectId":"UkmxdPS16V9GSHYc"}],"tags":[]}