back-up-your-n8n-workflows-to-github-[original]-NZe6vHVaDasuRivT.json
{"createdAt":"2025-09-01T23:01:14.503Z","updatedAt":"2025-09-01T23:01:14.503Z","id":"NZe6vHVaDasuRivT","name":"Back Up Your n8n Workflows To Github [original]","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"e52c7671-937f-4a0a-a4b2-40c36b7b460b","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[848,320],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":731.7039821513649,"width":1910.7813046051347,"color":6},"id":"be57a7fa-de38-4949-8b56-83e0f201eb8e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[368,704],"typeVersion":1},{"parameters":{},"id":"0614ee5b-7a7d-4b38-81bd-20588355f2ca","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[432,1088],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"cd57ebe9-4fdb-422b-8499-e51531db5319","name":"n8n","type":"n8n-nodes-base.n8n","position":[1248,432],"typeVersion":1,"credentials":{"n8nApi":{"id":"LJONv86U4fTNMiIN","name":"DM - n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"ee48cd4b-6bca-445b-b489-3161b5c397f6","name":"Return","type":"n8n-nodes-base.set","position":[2096,912],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"83124acc-56ee-4be9-909f-ada0f02cc0b0","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[1056,784],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"8e4999e4-e742-4bf8-87ae-fdf0ff9002a7","name":"If file too large","type":"n8n-nodes-base.if","position":[816,800],"typeVersion":2},{"parameters":{},"id":"4f206917-a960-40c5-85d6-dd04ae792a4d","name":"Merge Items","type":"n8n-nodes-base.merge","position":[816,1072],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"},"id":"c477a02a-04b6-49c9-bd7d-a89b88913ca9","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[1008,1072],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"54776117-ef4f-41cd-bb81-9280630c3d21","name":"Check Status","type":"n8n-nodes-base.switch","position":[1408,1072],"typeVersion":1},{"parameters":{},"id":"06c9f2f6-6bbf-438c-a87a-4189e7e67a5c","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1632,912],"typeVersion":1},{"parameters":{},"id":"147a21d7-d8b7-4d08-b88b-47371c928340","name":"File is different","type":"n8n-nodes-base.noOp","position":[1632,1072],"typeVersion":1},{"parameters":{},"id":"a769a86f-278a-481d-be73-c0f09e117052","name":"File is new","type":"n8n-nodes-base.noOp","position":[1632,1264],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})","path":"a919641d-0668-44ef-ab97-db277992787e"},"id":"202e0368-247d-4809-8370-f70d5c53086d","name":"Create new file","type":"n8n-nodes-base.github","position":[1856,1264],"typeVersion":1,"webhookId":"a919641d-0668-44ef-ab97-db277992787e","credentials":{"githubApi":{"id":"vhzyXO7hHaxVDu20","name":"DM - GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})","path":"b4a96409-6fba-4a10-ba64-766bb3134899"},"id":"d228faf3-b13c-4f50-b0d3-f94e2d139524","name":"Edit existing file","type":"n8n-nodes-base.github","position":[1856,1072],"typeVersion":1,"webhookId":"b4a96409-6fba-4a10-ba64-766bb3134899","credentials":{"githubApi":{"id":"vhzyXO7hHaxVDu20","name":"DM - GitHub account"}}},{"parameters":{"options":{}},"id":"0f42a6be-baee-46c8-ade5-307fbb3cc74d","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1456,432],"typeVersion":3},{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":33}]}},"id":"4c77fdd9-d934-410f-b61f-806f6302cf2e","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[848,528],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"dae43d3b-56e5-4098-b602-862ebf5cd073","name":"subPath","type":"string","value":"={{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/"}]},"includeOtherFields":true,"options":{}},"id":"6efeac36-68d6-4ad8-acbb-d8f8bd3f7c58","name":"Create sub path","type":"n8n-nodes-base.set","position":[1216,1072],"typeVersion":3.3},{"parameters":{"content":"## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.","height":417,"width":385,"color":4},"id":"c15d4569-7f12-4a14-95a2-c084d44a8f53","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[368,240],"typeVersion":1},{"parameters":{"content":"## Main workflow loop","height":416.1856906618075,"width":1272.6408145680155,"color":7},"id":"17c1f96d-81ad-454d-9f95-74aa4e2bf794","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[816,240],"typeVersion":1},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#notifications"},"text":"=:information_source:  Starting Workflow Backup [{{ $execution.id }}]","otherOptions":{"includeLinkToWorkflow":false},"path":"c74cc1d4-6ecf-4ec5-9a0e-42ff3f54efb1"},"id":"0d3d8269-5ebe-40db-9103-5fd3966a357b","name":"Starting Message","type":"n8n-nodes-base.slack","position":[1088,432],"webhookId":"c74cc1d4-6ecf-4ec5-9a0e-42ff3f54efb1","typeVersion":2.2,"disabled":true},{"parameters":{"workflowId":"={{ $workflow.id }}","mode":"each","options":{}},"id":"ce3f677d-9d55-4b96-9d84-460211f09990","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[1680,448],"typeVersion":1,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#notifications"},"text":"=✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.","otherOptions":{},"path":"deba43c3-1ebb-4b2f-83e5-b2ee0e2cb865"},"id":"6e125ff1-1fcb-4a78-8ec8-f24b237e74b9","name":"Completed Notification","type":"n8n-nodes-base.slack","position":[1680,272],"webhookId":"deba43c3-1ebb-4b2f-83e5-b2ee0e2cb865","executeOnce":true,"typeVersion":2.2,"disabled":true},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#notifications"},"text":"=:x: Failed to backup {{ $('Loop Over Items').item.json.id }}","otherOptions":{"includeLinkToWorkflow":false},"path":"1c834e67-08f7-40de-bcc2-e5c9844132fd"},"id":"bbd459a4-6777-43d9-be37-83bbc9defe3a","name":"Failed Flows","type":"n8n-nodes-base.slack","position":[1872,464],"webhookId":"1c834e67-08f7-40de-bcc2-e5c9844132fd","typeVersion":2.2,"disabled":true},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json","asBinaryProperty":false,"additionalParameters":{},"path":"9f3471e3-2435-4125-84f0-547b2edb4b51"},"id":"9d8d2319-2748-4acf-9192-3fc552bb3bfd","name":"Get file data","type":"n8n-nodes-base.github","position":[608,800],"typeVersion":1,"alwaysOutputData":true,"webhookId":"9f3471e3-2435-4125-84f0-547b2edb4b51","credentials":{"githubApi":{"id":"vhzyXO7hHaxVDu20","name":"DM - GitHub account"}},"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"8f6d1741-772f-462a-811f-4c334185e4f0","name":"repo_owner","type":"string","value":"=danielmenezes-sebratel"},{"id":"8cac215c-4fd7-422f-9fd2-6b2d1e5e0383","name":"repo_name","type":"string","value":"=dev_n8n"},{"id":"eee305e9-4164-462a-86bd-80f0d58a31ae","name":"repo_path","type":"string","value":"=/"}]},"includeOtherFields":true,"options":{}},"id":"b4a6b4dd-e404-49d3-a310-6f1dc28868be","name":"Config","type":"n8n-nodes-base.set","position":[608,1088],"typeVersion":3.4}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Config":{"main":[[{"node":"Get file data","type":"main","index":0},{"node":"Merge Items","type":"main","index":1}]]},"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Create sub path","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Failed Flows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Create sub path":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Completed Notification","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Failed Flows","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Starting Message":{"main":[[{"node":"n8n","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"1534"},"pinData":{},"versionId":"f399a34c-4ed3-40aa-86a6-4bdfd1c56fb8","triggerCount":0,"shared":[{"createdAt":"2025-09-01T23:01:14.511Z","updatedAt":"2025-09-01T23:01:14.511Z","role":"workflow:owner","workflowId":"NZe6vHVaDasuRivT","projectId":"UkmxdPS16V9GSHYc"}],"tags":[]}