chatbot-sebratel-lrujUlt3jvLMREpG.json
{"createdAt":"2025-07-25T17:21:05.701Z","updatedAt":"2025-07-30T17:36:27.000Z","id":"lrujUlt3jvLMREpG","name":"ChatBot-Sebratel","active":false,"isArchived":true,"nodes":[{"parameters":{"public":true,"initialMessages":"Olá!! 👋\nComo posso te ajudar?","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-320,-32],"id":"39017aee-ca4a-489e-9f03-365658a0a306","name":"When chat message received","webhookId":"412b7729-9c39-4897-88f2-a28e21251b5c"},{"parameters":{"assignments":{"assignments":[{"id":"bc7689ba-3729-4e25-8a22-8936ec1f070f","name":"IDconversa","value":"={{ $json.sessionId }}","type":"string"},{"id":"460b4fa8-b91e-4309-8ec1-fc00e1efe377","name":"Mensagem","value":"={{ $json.chatInput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-112,-32],"id":"d7767f38-5448-444d-9689-8a9a8e7bddc1","name":"Edit Fields"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1YqKkb1WOzjm6cEWv4df7S9u5MLdC3NOPtVvBzFhwF2g","mode":"list","cachedResultName":"Banco de dados N8N","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YqKkb1WOzjm6cEWv4df7S9u5MLdC3NOPtVvBzFhwF2g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":466669467,"mode":"list","cachedResultName":"Página3","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YqKkb1WOzjm6cEWv4df7S9u5MLdC3NOPtVvBzFhwF2g/edit#gid=466669467"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $json.IDconversa }}","Mensagem":"={{ $json.Mensagem }}"},"matchingColumns":[],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Mensagem","displayName":"Mensagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[96,-32],"id":"4bfcdf01-cf81-4cce-96cd-910d6ef6a8d8","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"z7ScZjUjInfsiXPz","name":"Google Sheets account 3"}}},{"parameters":{"promptType":"define","text":"={{ $json.Mensagem }}","options":{"systemMessage":"Você é um super agente de suporte, seja educado, engraçado e utilize emojis em suas respostas para deixar conversa mais humanizada"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[304,-32],"id":"5d7bf517-c866-4c40-bd76-b0a32baf2f62","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[288,240],"id":"2e3b4b82-6b9c-4532-895d-4683912ff5ed","name":"Groq Chat Model","credentials":{"groqApi":{"id":"HErl272LaZ9mTyQ9","name":"Groq account 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.Nome }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[432,240],"id":"2079a2ec-2801-4810-a424-2374483995c0","name":"Simple Memory"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[560,240],"id":"0ff687f2-09b4-4e53-8a5c-b76c9280b19c","name":"Wikipedia"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[688,240],"id":"c4cafd4f-bc07-44ef-9e15-fcca8b0b1453","name":"Calculator"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[656,-32],"id":"66327602-ff97-451b-b7d7-271ce10cf07d","name":"No Operation, do nothing"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=","tableName":"authentication_contracts"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[880,208],"id":"7663b120-3122-4f13-a623-8a425db9d49c","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"pZZuMR6i37yaEw54","name":"Postgres account 2"}}},{"parameters":{"descriptionType":"manual","toolDescription":"const resultados = $items().map(item => {\n  const i = item.json;\n  return `Solicitação: ${i[\"SOLICITACAO\"]}, Protocolo: ${i[\"PROTOCOLO\"]}, Tipo: ${i[\"TIPO DE SOLICITACAO\"]}, Criado em: ${i[\"CRIADO EM:\"]}`;\n});\n\nreturn [{\n  json: {\n    contexto: resultados.join(\"\\n\")\n  }\n}];\n","operation":"executeQuery","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[656,368],"id":"03d495f6-56b5-4934-9687-f2d45777eff4","name":"Execute a SQL query in Postgres","credentials":{"postgres":{"id":"pZZuMR6i37yaEw54","name":"Postgres account 2"}}}],"connections":{"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[]]},"Wikipedia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[]]},"Execute a SQL query in Postgres":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8788d9eb-0679-44e7-a200-5e5f9b92dba3","triggerCount":1,"shared":[{"createdAt":"2025-07-25T17:21:05.707Z","updatedAt":"2025-07-25T17:21:05.707Z","role":"workflow:owner","workflowId":"lrujUlt3jvLMREpG","projectId":"2CRGWlpvxl6HNury"}],"tags":[]}