chat_sebratel-yLl0mcmFq6LfAMLS.json
{"createdAt":"2025-07-25T13:34:25.563Z","updatedAt":"2025-09-01T11:03:04.000Z","id":"yLl0mcmFq6LfAMLS","name":"CHAT_SEBRATEL","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"daf09f0c-c3d3-41a7-98ae-d24b1bbff19c","name":"IDconversa","value":"={{ $json.body.phone }}","type":"string"},{"id":"f132a1e6-0cb4-4d73-a1e7-0fbb36143674","name":"Mensagem","value":"={{ $json.body.text.message }}","type":"string"},{"id":"23b4e195-e05e-4228-aedb-0c70383bccb3","name":"Nome","value":"={{ $('Webhook').item.json.body.chatName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,240],"id":"e7becd50-6d3c-4d37-aef8-c98f61528e67","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields').item.json.Mensagem }}","options":{"systemMessage":"Você é um super agente de suporte, seja educado, engraçado e utilize emojis em suas respostas para deixar conversa mais humanizada"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[832,240],"id":"468d692d-bd79-4f5b-a0bd-0011722446b5","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[864,464],"id":"4008626d-97dd-4707-882f-a2a70142e161","name":"Groq Chat Model","credentials":{"groqApi":{"id":"vWXjxEnQlDTeSdIf","name":"Groq account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.IDconversa }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1008,464],"id":"8db84bf3-dbc9-40bd-806d-a4efce1df848","name":"Simple Memory"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[1152,464],"id":"cbed38d0-f53a-4199-b53d-bbb634c4a548","name":"Wikipedia"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1264,464],"id":"ea686ed3-05ab-4432-b9b3-35b4a657128a","name":"Calculator"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1680,240],"id":"f37a5621-1af8-4fc5-8034-3214da0244e6","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d03a32c-c0d7-47f7-99dd-f7901330cd98","leftValue":"={{ $json.body.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"4fea2fd2-03b1-4498-9eb5-30337fe4f424","leftValue":"={{ $json.body.isNewsletter }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"13516e0d-bc56-456d-ba91-0babadc5c567","leftValue":"={{ $json.body.broadcast }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"f39f4cfa-a621-474a-91d6-a0be2164ad5a","leftValue":"={{ $json.body.fromApi }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[144,240],"id":"b321e2e8-99c3-4b4f-9075-01f7c9004e60","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[384,464],"id":"48e41c1e-39dc-4d0f-b454-537780c64517","name":"No Operation, do nothing1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1YqKkb1WOzjm6cEWv4df7S9u5MLdC3NOPtVvBzFhwF2g","mode":"list","cachedResultName":"Banco de dados N8N","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YqKkb1WOzjm6cEWv4df7S9u5MLdC3NOPtVvBzFhwF2g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1215119442,"mode":"list","cachedResultName":"Página2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YqKkb1WOzjm6cEWv4df7S9u5MLdC3NOPtVvBzFhwF2g/edit#gid=1215119442"},"columns":{"mappingMode":"defineBelow","value":{"WhatsApp":"={{ $json.IDconversa }}","Nome":"={{ $json.Nome }}"},"matchingColumns":["WhatsApp"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"WhatsApp","displayName":"WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[608,240],"id":"c893c032-d1c9-48e2-86b4-a7f96b828344","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"z7ScZjUjInfsiXPz","name":"Google Sheets account 3"}}},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3E4B8011688420F9CE309E6774402775/token/8334443EBBA3A79E040219BC/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"client-token","value":"F8d05c2bf25864b38826d5abd0fff645dS"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Edit Fields').item.json.IDconversa }}"},{"name":"message","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,240],"id":"a036c44d-9f07-445f-8c48-441db7a87b05","name":"HTTP Request"},{"parameters":{"public":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-64,240],"id":"30440811-66f7-4c48-89e6-3ec834c82993","name":"When chat message received","webhookId":"0aaf801c-97d7-45f2-9f82-6e79966753fe"}],"connections":{"Edit Fields":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"437471e6-019d-42b6-a399-8a2190553ebf","triggerCount":1,"shared":[{"createdAt":"2025-07-25T13:34:25.570Z","updatedAt":"2025-07-25T13:34:25.570Z","role":"workflow:owner","workflowId":"yLl0mcmFq6LfAMLS","projectId":"2CRGWlpvxl6HNury"}],"tags":[]}