dani-int6-teste-GkPRy8F0a7U82VDP.json
{"createdAt":"2025-08-16T13:44:35.259Z","updatedAt":"2025-08-21T20:06:58.000Z","id":"GkPRy8F0a7U82VDP","name":"Dani INT6 Teste","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"=https://{{ $('int6_url').item.json.url_api_int6 }}/api/diag/v2/onu_status ","sendQuery":true,"queryParameters":{"parameters":[{"name":"city","value":"%"},{"name":"page","value":"1"},{"name":"per_page","value":"5"},{"name":"gpon_client_id","value":"={{ $json.gpon_client_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"=Bearer {{ $('int6_token').item.json.token }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[864,0],"id":"8d6459b5-8bca-4147-aedc-39b4f5485265","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"7114e46c-2e13-4504-9caf-39f3addf1cf6","name":"url_api_int6","value":"autoisp.sebratel.net.br","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,0],"id":"ab6423d4-4ddc-4a9a-939c-02c7e20f9595","name":"int6_url"},{"parameters":{"method":"POST","url":"=https://{{ $json.url_api_int6 }}/api/auth/v2/request_token ","sendBody":true,"bodyParameters":{"parameters":[{"name":"username","value":"daniel.menezes@sebratel.com.br"},{"name":"password","value":"jKH8n4XP28@uFJ"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,0],"id":"79ad4cb7-044e-43c1-9c2c-54eed74763a9","name":"get int6_token"},{"parameters":{"assignments":{"assignments":[{"id":"29afea5f-8960-4a48-9274-ae819c7fcc3f","name":"token","value":"={{ $json.token }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,0],"id":"2db0c86e-d436-4f4a-a164-b68890fa36a4","name":"int6_token"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-256,0],"id":"d66e1102-acea-47b1-b210-48e403af4dfc","name":"When chat message received","webhookId":"e3018ba2-92cc-40cb-98be-9bcad0806b04"},{"parameters":{"assignments":{"assignments":[{"id":"e28317e4-64fd-4f7d-a250-e37ccc9b683b","name":"gpon_client_id","value":"={{ $('When chat message received').item.json.chatInput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,0],"id":"26af9468-7420-42f2-9726-ee84b691ce94","name":"Edit Fields"}],"connections":{"int6_url":{"main":[[{"node":"get int6_token","type":"main","index":0}]]},"get int6_token":{"main":[[{"node":"int6_token","type":"main","index":0}]]},"int6_token":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"int6_url","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"292a1780-2d15-4651-9f69-d0921d41da46","triggerCount":0,"shared":[{"createdAt":"2025-08-16T13:44:35.261Z","updatedAt":"2025-08-16T13:44:35.261Z","role":"workflow:owner","workflowId":"GkPRy8F0a7U82VDP","projectId":"UkmxdPS16V9GSHYc"}],"tags":[]}