dani-zabbix-NmHlJ9sRdH7nZ1qa.json
{"createdAt":"2025-08-30T22:54:04.274Z","updatedAt":"2025-08-30T23:14:36.000Z","id":"NmHlJ9sRdH7nZ1qa","name":"Dani Zabbix","active":false,"isArchived":false,"nodes":[{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","httpVariantWarning":"","curlImport":"","method":"POST","":"","url":"http://zabbix.sebratel.net.br/api_jsonrpc.php","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"{\"jsonrpc\":\"2.0\",\"method\":\"user.login\",\"params\":{\"username\":\"danielmenezes\",\"password\":\"V*s=muS>i;4vmv%\"},\"id\":1}","options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,-64],"id":"fe088fb2-2627-41e7-a412-0ef9a6bbefa4","name":"Zabbix HTTP Request","extendsCredential":"zabbixApi","credentials":{"zabbixApi":{"id":"nQH57axGEPlzYH3v","name":"DM - Zabbix account"}}},{"parameters":{"assignments":{"assignments":[{"id":"90c616c2-bcb2-487e-a048-a750328d6742","name":"zbx_token","value":"={{ $json.result }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,-64],"id":"579923f3-1866-4a77-b15f-642bf23802e9","name":"Edit Fields"},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","httpVariantWarning":"","curlImport":"","method":"GET","":"","url":"http://zabbix.sebratel.net.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.zbx_token }}"},{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"{\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"host.get\",\n    \"params\": {\n        \"output\": [\n            \"hostid\",\n            \"host\"\n        ],\n        \"selectInterfaces\": [\n            \"interfaceid\",\n            \"ip\"\n        ]\n    },\n    \"id\": 2\n}","options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,-160],"id":"1c7bfb98-a7bd-4d06-b2d3-d9b2fa0d0596","name":"Zabbix HTTP Request1","extendsCredential":"zabbixApi","credentials":{"zabbixApi":{"id":"nQH57axGEPlzYH3v","name":"DM - Zabbix account"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-64],"id":"e0114eb5-c866-4a5d-8767-c3eac85b834b","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[896,-160],"id":"6c1eb9b9-9b25-47c2-90ae-91a6ab5a4a83","name":"No Operation, do nothing"},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","httpVariantWarning":"","curlImport":"","method":"GET","":"","url":"http://zabbix.sebratel.net.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.zbx_token }}"},{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"{\n           \"jsonrpc\": \"2.0\",\n           \"method\": \"user.create\",\n           \"params\": {\n               \"username\": \"John\",\n               \"passwd\": \"Doe123\",\n               \"roleid\": \"6\",\n               \"usrgrps\": [\n                   {\n                       \"usrgrpid\": \"14\"\n                   }\n               ],\n               \"medias\": [\n                   {\n                       \"mediatypeid\": \"1\",\n                       \"sendto\": [\n                           \"support@company.com\"\n                       ],\n                       \"active\": 0,\n                       \"severity\": 63,\n                       \"period\": \"1-7,00:00-24:00\"\n                   }\n               ]\n           },\n           \"id\": 1\n       }","options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,32],"id":"7c676a8d-5918-4791-b877-6dbf4a02517c","name":"Add User/Group","extendsCredential":"zabbixApi","credentials":{"zabbixApi":{"id":"nQH57axGEPlzYH3v","name":"DM - Zabbix account"}}}],"connections":{"Zabbix HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Zabbix HTTP Request1","type":"main","index":0},{"node":"Add User/Group","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Zabbix HTTP Request","type":"main","index":0}]]},"Zabbix HTTP Request1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Add User/Group":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3a3c9165-b332-4bc4-9f2b-400f33f286ec","triggerCount":0,"shared":[{"createdAt":"2025-08-30T22:54:04.277Z","updatedAt":"2025-08-30T22:54:04.277Z","role":"workflow:owner","workflowId":"NmHlJ9sRdH7nZ1qa","projectId":"UkmxdPS16V9GSHYc"}],"tags":[]}