dm:-workflow_sebratel-k70JfPdgSQ3XW8X9.json
{"createdAt":"2025-08-08T16:48:05.279Z","updatedAt":"2025-08-12T23:42:09.000Z","id":"k70JfPdgSQ3XW8X9","name":"DM: WorkFlow_Sebratel","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"receber-mensagem-zapi","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-16,944],"id":"b934b72e-64f3-4cfb-b33b-d339e63dc32a","name":"Webhook","webhookId":"d085f964-25c5-4073-ad07-9fc95e65218b"},{"parameters":{},"type":"n8n-nodes-base.stickyNote","position":[2224,896],"typeVersion":1,"id":"8823ae8f-8e38-40e3-adce-376842cdc090","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"e40af769-c973-40b3-8a20-bf5e99a95598","name":"idConversa","value":"={{ $json.body.phone }}","type":"string"},{"id":"2be0ceff-1e97-4e6e-b7af-6014803cff1f","name":"Mensagem","value":"={{ $json.body.text.message }}","type":"string"},{"id":"72dc4574-322a-4134-9de1-add4e3bce3e3","name":"Nome","value":"={{ $json.body.chatName }}","type":"string"},{"id":"df36db46-960b-452b-8681-78b38f457b63","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,848],"id":"b9660058-fcee-4849-9634-935e94b1a652","name":"Edit Fields2"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"16oL4fD-g5SjJID8tjTJkAbBvhd9nFZ8biaY6tFE8AtE","mode":"list","cachedResultName":"Cases_curso_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16oL4fD-g5SjJID8tjTJkAbBvhd9nFZ8biaY6tFE8AtE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1450601,"mode":"list","cachedResultName":"Case 2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16oL4fD-g5SjJID8tjTJkAbBvhd9nFZ8biaY6tFE8AtE/edit#gid=1450601"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $json.Nome }}","WhatsApp":"={{ $json.idConversa }}"},"matchingColumns":[],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"WhatsApp","displayName":"WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[816,848],"id":"9554962b-65af-4227-b70b-aae45246cf89","name":"Append row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"jlSK6LVQmnLP7ZaJ","name":"Google Sheets account 2"}}},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields2').item.json.Mensagem }}","options":{"systemMessage":"Você é um super agente de suporte, seja educado, engraçado e utilize emojis em suas respostas para deixar conversas mais humanizadas."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[1136,848],"id":"d0cebd9a-0f7f-4b6b-ad54-cb42dec6cde3","name":"AI Agent1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1040,1072],"id":"9cbc9034-3e7b-40ae-91c1-0740b4eda3f2","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"JKL6I87VMb0TCoX7","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields2').item.json.idConversa }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1168,1072],"id":"76d6d0e6-48f5-43e9-8173-7a6ca2638384","name":"Simple Memory2"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1296,1072],"id":"2b1517c6-ee3d-4dfe-8f87-11d73f23ac39","name":"Calculator1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[1424,1072],"id":"85c76eb6-99fb-45b4-a8ee-851538814695","name":"Wikipedia1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1856,848],"id":"047e0730-9dc5-41e6-8676-61a0d00ec743","name":"No Operation, do nothing2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b62fe41-1d7a-4f13-9390-91b9b6370ab5","leftValue":"={{ $json.body.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"ca9290e3-cd45-4434-9016-4c58f11d4bad","leftValue":"={{ $json.body.isNewsletter }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"b462119a-ed14-4edd-a400-4dc52658fcc6","leftValue":"={{ $json.body.broadcast }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"2992c889-6e5f-4ae9-81f2-3eceace36446","leftValue":"={{ $json.body.fromApi }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"8839468b-4ed3-4cc4-8764-dcadc21e4a15","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[368,944],"id":"93d55210-4b26-42dc-9315-6666df32a68a","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[592,1040],"id":"e210c80d-450d-4699-b6ad-765efd105932","name":"No Operation, do nothing4"},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3E55E5638F06119561CF2AC1CE4E084C/token/452D431820172C077FAA9751/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"client-token","value":"F1944b1b319ce411d893a0a95a7ceb2b6S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=phone","value":"={{ $('Edit Fields2').item.json.idConversa }}"},{"name":"=message","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1632,848],"id":"94b05ed3-a35b-47d7-be34-79fad234fa8d","name":"HTTP Request1"}],"connections":{"Webhook":{"main":[[{"node":"If1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Append row in sheet2","type":"main","index":0}]]},"Append row in sheet2":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Calculator1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Wikipedia1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"If1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4beb3d8a-9593-4589-847f-aa2c274b14b5","triggerCount":2,"shared":[{"createdAt":"2025-08-08T16:48:05.284Z","updatedAt":"2025-08-08T16:48:05.284Z","role":"workflow:owner","workflowId":"k70JfPdgSQ3XW8X9","projectId":"UkmxdPS16V9GSHYc"}],"tags":[]}