gmail-ai-email-manager-2ulwujgoq9ktpU89.json
{"createdAt":"2025-07-16T23:54:29.126Z","updatedAt":"2025-07-17T00:34:30.000Z","id":"2ulwujgoq9ktpU89","name":"Gmail AI Email Manager","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{}},"id":"5e01a927-caf7-41ad-aca7-d7504e313564","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","position":[368,240],"typeVersion":1.2,"credentials":{"gmailOAuth2":{"id":"210i97UAvOhXftXK","name":"Gmail account"}}},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{}},"id":"a8644856-a8bf-49de-84a7-3fd9f93550d3","name":"Gmail","type":"n8n-nodes-base.gmail","position":[592,288],"webhookId":"[REDACTED_WEBHOOK_ID]","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"210i97UAvOhXftXK","name":"Gmail account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"label\": \"Label name\", \n\"label ID\": \"label ID\" \n}"},"id":"f6ddae9f-303b-46cd-980d-1d46fc4ecbec","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[1392,400],"typeVersion":1.2},{"parameters":{"promptType":"define","text":"Run the task.","hasOutputParser":true,"options":{"systemMessage":"=Objetivo: Analisar os dados do e-mail fornecido e classificá-lo com o rótulo mais apropriado. Utilize a capacidade de verificar o histórico prévio de e-mails (e-mails enviados ou recebidos do remetente por {{ $json.from.value[0].address }}) para determinar se esta é uma interação inicial (cold email) ou parte de um relacionamento existente. Esse contexto é crucial para uma rotulagem precisa, especialmente para diferenciar entre Marketing, Notificações e FYI. Responda apenas com o ID do Rótulo correspondente.\n\nSeu Endereço de E-mail (para contexto): {{ $json.to.value[0].address }}\n\nPrincipais Capacidades (a serem usadas pelo sistema que executa este prompt):\n\nVerificar Histórico Prévio de E-mails: Antes da classificação completa, determine se existe alguma correspondência anterior entre {{ $json.to.value[0].address }} e {{ $json.from.value[0].address }}.\nEste check deve retornar \"Sim\" (histórico existe) ou \"Não\" (nenhum histórico encontrado).\n\nDados do E-mail de Entrada (do item JSON do n8n para o e-mail atual):\n\nE-mail do Remetente: {{ $json.from.value[0].address }}\nNome do Remetente: {{ $json.from.value[0].name }}\nDestinatários Diretos (Para): {{ $json.to.value.map(r => r.address).join(', ') }}\nDestinatários em Cópia (CC): {{ $json.cc.value.map(r => r.address).join(', ') }} (Adicionado com base no seu JSON, use se populado)\nAssunto: {{ $json.subject }}\nCorpo (Texto Simples): {{ $json.text }}\nRótulos do Gmail Existentes (para o e-mail atual): {{ $json.labelIds.join(', ') }}\nCabeçalho Auto-Submitted: {{ $json.headers['auto-submitted'] }}\nCabeçalho Original Sender (se diferente de From): {{ $json.headers.sender }}\nCabeçalho In-Reply-To (do e-mail atual): {{ $json.headers['in-reply-to'] }}\nCabeçalho References (do e-mail atual): {{ $json.headers.references }}\nCabeçalho List-Unsubscribe: {{ $json.headers['list-unsubscribe'] }}\nCabeçalho Precedence: {{ $json.headers.precedence }} (ex.: \"Bulk\")\n\nRótulos, Descrições e Lógica de Priorização:\n\nOrientação sobre o Uso do Histórico Prévio de E-mails e Links de Descadastro:\n\nHistórico Prévio de E-mails = \"Não\": Forte indicativo de e-mail frio/não solicitado.\n\nSe for promocional/argumento de vendas: Provável \"Marketing\".\n\nSe for excepcionalmente personalizado e de alto valor para a Trigify: Raramente \"To Respond\".\n\nHistórico Prévio de E-mails = \"Sim\": Indica um relacionamento/conversa existente.\n\nSe for uma atualização sobre termos, políticas ou mudanças de serviço desse remetente conhecido: Provável \"Notification\".\n\nSe for uma newsletter para a qual Max se inscreveu: Pode ser \"FYI\" ou \"Marketing\", dependendo do conteúdo.\n\nSe for uma mensagem direta que requer ação: Provável \"To Respond\".\n\nCabeçalho List-Unsubscribe ou Links de Descadastro no Corpo:\n\nComum em e-mails de \"Marketing\".\n\nTambém presente em muitos e-mails legítimos de \"Notification\" (ex.: atualizações de serviço, mudanças de política como no exemplo do DPA) e algumas newsletters \"FYI\" para conformidade.\n\nPortanto, um link de descadastro sozinho não define a categoria. Considere-o junto ao Histórico Prévio de E-mails e ao conteúdo/propósito do e-mail.\n\nCabeçalho Precedence: Bulk: Frequentemente indica envios em massa, comum em Marketing, Notifications e alguns FYIs.\n\n---\n\n* **To Respond (Label ID: `Label_5151750749488724401`):**\n    * **Primary Criteria:** Requires direct, timely action/reply from `[REDACTED_EMAIL]`.\n    * **Key Indicators (especially if Prior Email History = \"Yes\"):** Direct questions to Max, assigned tasks, requests for info for Trigify, deadlines for Max, part of an active conversation (indicated by `In-Reply-To`/`References`).\n    * **Sales Process Prioritization (Warm Leads/Active Processes - typically Prior Email History = \"Yes\"):** Ongoing, active Trigify sales process discussions.\n    * **High-Value Cold Outreach (Exceptional Cases - Prior Email History = \"No\"):** Highly personalized, strategic opportunity for Trigify requiring Max's personal attention. (Default for cold sales is \"Marketing\").\n\n* **FYI (Label ID: `Label_7518716752151077752`):**\n    * **Primary Criteria:** For Max's awareness; no immediate action/reply required.\n    * **Key Indicators:**\n        * Max is CC'd, primary action for others.\n        * General announcements, *non-promotional* newsletters from *known entities/subscriptions* (Prior Email History = \"Yes\" or sender is clearly a subscribed source) that aren't critical service notifications.\n        * Informational updates within ongoing projects where Max isn't the primary actor.\n    * If an email is a mass mailing (`Precedence: Bulk`, `List-Unsubscribe` present) from a *known entity* (Prior Email History = \"Yes\") and is purely informational without a direct call to action or critical service update, it could be \"FYI.\"\n\n* **Comment (Label ID: `Label_1470120230130814788`):**\n    * Comment/feedback on a document, task, system (e.g., subject \"New comment on...\").\n\n* **Notification (Label ID: `Label_9`):**\n    * **Primary Criteria:** Provides important, often non-promotional, updates or alerts regarding an existing service, account, or system that `[REDACTED_EMAIL]` or Trigify uses or is affected by. Action is typically awareness, potential configuration change, or noting a deadline, rather than a conversational reply.\n    * **Key Indicators:**\n        * **Updates from Known Service Providers (Prior Email History = \"Yes\" is common):**\n            * Changes to Terms of Service, Privacy Policies, Data Processing Agreements (DPAs like the \"Plain\" example).\n            * Critical service availability announcements (outages, maintenance).\n            * Security alerts related to an account Max uses.\n            * Important updates about features or functionality of a service Trigify relies on, which are not primarily marketing new features.\n        * System-generated alerts (e.g., `Auto-Submitted Header` = `auto-generated`) like social media notifications, non-meeting calendar reminders, some financial transaction alerts.\n        * Subject lines may contain: \"Important Update,\" \"Service Notification,\" \"Policy Change,\" \"DPA Update,\" \"Security Alert.\"\n        * Even if a `List-Unsubscribe` link is present (for compliance), if the core content is a critical service/account/legal update from a company Max/Trigify does business with, it's a \"Notification.\"\n        * The `Existing Gmail Labels` might include `CATEGORY_UPDATES`.\n\n* **Meeting Update (Label ID: `Label_7958083858424702466`):**\n    * Update specifically regarding a scheduled meeting (e.g., \"Accepted:\", \"Declined:\", \"Updated Invitation:\", \"Cancelled:\").\n\n* **Marketing (Label ID: `Label_5274550748854913384`):**\n    * **Primary Criteria:** Unsolicited promotional sales pitch, advertisement, or general marketing newsletter, especially if **Prior Email History = \"No.\"**\n    * **Key Indicators:**\n        * **No prior email history found with the `Sender Email`,** AND the email is primarily aimed at selling a product/service or promoting a company/event to Max/Trigify.\n        * Content is generic, focused on features/benefits without strong personalization to Max's known, active projects.\n        * Contains a `List-Unsubscribe Header` AND the content is promotional.\n        * `Existing Gmail Labels` may include `CATEGORY_PROMOTIONS`.\n    * If **Prior Email History = \"Yes\"**: Could still be \"Marketing\" if it's a clearly promotional newsletter/offer from a known contact that doesn't fit \"Notification\" or demand a \"To Respond.\"\n\n---\n\n**Email Data for Classification (Summary):**\n* **Prior Email History with Sender (Yes/No) - From the new capability**\n* Sender Email: `{{ $json.from.value[0].address }}`\n* Sender Name: `{{ $json.from.value[0].name }}`\n* Direct Recipient Emails (To): `{{ $json.to.value.map(r => r.address).join(', ') }}`\n* CC Recipient Emails: `{{ $json.cc.value.map(r => r.address).join(', ') }}`\n* Subject: `{{ $json.subject }}`\n* Body (Plain Text): `{{ $json.text }}`\n* Existing Gmail Labels: `{{ $json.labelIds.join(', ') }}`\n* Auto-Submitted Header: `{{ $json.headers['auto-submitted'] }}`\n* Original Sender Header: `{{ $json.headers.sender }}`\n* In-Reply-To Header: `{{ $json.headers['in-reply-to'] }}`\n* References Header: `{{ $json.headers.references }}`\n* List-Unsubscribe Header: `{{ $json.headers['list-unsubscribe'] }}`\n* Precedence Header: `{{ $json.headers.precedence }}`\n\n**Output:** [Provide ONLY the Label ID here]"}},"id":"b0ed86c7-5ddd-48dc-aa93-5c4d5c1cacf7","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[896,160],"typeVersion":1.9},{"parameters":{"operation":"getAll","returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","filters":{"q":"=from:{{ $fromAI('email') }}"}},"id":"f4bbdda0-dcd8-41a7-a870-69dfcb747a4f","name":"Get Email","type":"n8n-nodes-base.gmailTool","position":[1152,448],"webhookId":"[REDACTED_WEBHOOK_ID]","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"210i97UAvOhXftXK","name":"Gmail account"}}},{"parameters":{"operation":"getAll","filters":{"labelIds":["SENT"],"q":"=to:{{ $fromAI('email') }}"}},"id":"64c3b465-d2be-43cc-ad41-cc1298038640","name":"Check Sent","type":"n8n-nodes-base.gmailTool","position":[960,480],"webhookId":"[REDACTED_WEBHOOK_ID]","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"210i97UAvOhXftXK","name":"Gmail account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[768,416],"id":"e0093946-551f-4f7a-8bd0-69b95b9e419b","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"yKGo5HNJO3JwmlDo","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $('Gmail').item.json.id }}","labelIds":"={{ $('Gmail').item.json.labelIds }}"},"id":"cc6b0990-a778-4199-a0fe-80c83dfb9934","name":"Add label to message","type":"n8n-nodes-base.gmail","position":[1408,80],"webhookId":"[REDACTED_WEBHOOK_ID]","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"210i97UAvOhXftXK","name":"Gmail account"}}}],"connections":{"Gmail":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Add label to message","type":"main","index":0}]]},"Get Email":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Check Sent":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Add label to message":{"main":[[]]}},"settings":{},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1752712154}}},"meta":{"templateId":"4722","templateCredsSetupCompleted":true},"pinData":{},"versionId":"239f44c1-778b-4147-b2d4-eaeae7e30835","triggerCount":1,"shared":[{"createdAt":"2025-07-16T23:54:29.131Z","updatedAt":"2025-07-16T23:54:29.131Z","role":"workflow:owner","workflowId":"2ulwujgoq9ktpU89","projectId":"UkmxdPS16V9GSHYc"}],"tags":[]}