history_matrix_teste-0PabGUWi5z3WLPjD.json
{"createdAt":"2025-08-14T09:31:53.068Z","updatedAt":"2025-08-19T13:56:19.000Z","id":"0PabGUWi5z3WLPjD","name":"history_matrix_teste","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Início fluxo\nComeça fluxo e armazena variáveis de datas a cada 30 minots\n\n","height":560,"width":880},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"0262aca7-f7fb-47ae-89e3-1ce04931ef60","name":"Sticky Note"},{"parameters":{"content":"## Desenvolvimento\n\nRealiza a chamada na API por paginação\n","height":560,"width":624,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[896,0],"id":"1fc81fdd-d9df-402e-b6ec-693d53556c70","name":"Sticky Note1"},{"parameters":{"content":"## Exceções\n\nCaso o token expire executará este fluxo","height":560,"width":608},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1536,0],"id":"062ff298-1626-4cc4-aa9a-64fa3b865360","name":"Sticky Note2"},{"parameters":{"content":"## Armanezamento\n\nArmaneza no maria DB todas as informações das páginas","height":560,"width":448,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2160,0],"id":"ad271012-5b74-4c44-be7e-43ec9498efd3","name":"Sticky Note3"},{"parameters":{"content":"## Fim / Início Loop\n\nVerifica a paginação e inicia o loop até finalização das páginas","height":560,"width":544,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2624,0],"id":"7e02a6f9-8316-474c-9d71-7134346d9cb8","name":"Sticky Note4"},{"parameters":{"operation":"executeQuery","query":"INSERT IGNORE INTO db_matrix_stops \n(id_agente, agente, data_pausa, data_despausa, seg_pausado, id_pausa, tempo_pausado, pausa) VALUES (\n  {{ $json.id_agente }},\n  '{{ $json.agente }}',\n  '{{ $json.data_pausa }}',\n  '{{ $json.data_despausa }}',\n  {{ $json.seg_pausado }},\n  {{ $json.id_pausa }},\n  '{{ $json.tempo_pausado }}',\n  '{{ $json.pausa }}'\n  );\n  "},"id":"96d43fe4-e039-4cc1-a328-27885f19b03f","name":"Inserir no Banco1","type":"n8n-nodes-base.mySql","typeVersion":1,"position":[2352,224],"credentials":{"mySql":{"id":"oMA4i34MCkG3AGNu","name":"MySQL account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2768,224],"id":"32901060-cd4f-4df7-af35-7baa14ea9de5","name":"No Operation, do nothing1"},{"parameters":{"documentId":{"__rl":true,"value":"16oL4fD-g5SjJID8tjTJkAbBvhd9nFZ8biaY6tFE8AtE","mode":"list","cachedResultName":"Cases_curso_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16oL4fD-g5SjJID8tjTJkAbBvhd9nFZ8biaY6tFE8AtE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1380782455,"mode":"list","cachedResultName":"Case 3","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16oL4fD-g5SjJID8tjTJkAbBvhd9nFZ8biaY6tFE8AtE/edit#gid=1380782455"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1056,224],"id":"b6e37ab0-52c5-4599-9332-95bed8371327","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"jlSK6LVQmnLP7ZaJ","name":"Google Sheets account 2"}}},{"parameters":{"jsCode":"function formatDate(dateStr) {\n  if (!dateStr) return null;\n  const [datePart, timePart] = dateStr.split(' ');\n  const [day, month, year] = datePart.split('/');\n  return `${year}-${month}-${day} ${timePart}`;\n}\n\nconst newItems = [];\n\nfor (const item of items) {\n  // Só envia se tiver data_despausa preenchida\n  if (!item.json.data_despausa) continue;\n\n  newItems.push({\n    json: {\n      id_agente: Number(item.json.id_agente),\n      agente: item.json.agente,\n      data_pausa: formatDate(item.json.data_pausa),\n      data_despausa: formatDate(item.json.data_despausa),\n      seg_pausado: Number(item.json.seg_pausado),\n      id_pausa: Number(item.json.id_pausa),\n      tempo_pausado: item.json.tempo_pausado,\n      pausa: item.json.pausa,\n    }\n  });\n}\n\nreturn newItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,224],"id":"241853bd-c21b-43a4-a0e9-ac511fcd1ece","name":"Code"},{"parameters":{"content":"## Início fluxo\nComeça fluxo e armazena variáveis de datas a cada 30 minots\n\n","height":560,"width":880},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,656],"id":"ecd34a96-fb0b-4322-b2aa-4cbcd6e2154d","name":"Sticky Note5"},{"parameters":{"content":"## Desenvolvimento\n\nRealiza a chamada na API por paginação\n","height":560,"width":624,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[896,656],"id":"bb4a9672-f0a8-4575-975e-5ce3e616fa45","name":"Sticky Note6"},{"parameters":{"content":"## Exceções\n\nCaso o token expire executará este fluxo","height":560,"width":608},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1536,656],"id":"f06fa7c0-89a3-45d1-af03-f4eefb002504","name":"Sticky Note7"},{"parameters":{"content":"## Armanezamento\n\nArmaneza no maria DB todas as informações das páginas","height":560,"width":448,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2160,656],"id":"4d8e52ce-1043-4a19-812a-1a5f8cb8fc99","name":"Sticky Note8"},{"parameters":{"content":"## Fim / Início Loop\n\nVerifica a paginação e inicia o loop até finalização das páginas","height":560,"width":544,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2624,656],"id":"b7bd6cbb-8747-488d-b9d6-92cd6cc88066","name":"Sticky Note9"},{"parameters":{"operation":"executeQuery","query":"INSERT IGNORE INTO db_matrix \n(data_entrada, data_atendimento, data_finalizacao, classificacao, servico, canal, data_fila, tempo_fila, tmic, tmia, ativo_receptivo, atendente)\nVALUES (\n  '{{ $json.data_entrada }}',\n  '{{ $json.data_atendimento }}',\n  '{{ $json.data_finalizacao }}',\n  '{{ $json.classificacao }}',\n  '{{ $json.servico }}',\n  '{{ $json.canal }}',\n  '{{ $json.data_fila }}',\n  '{{ $json.tempo_fila }}',\n  '{{ $json.tmic }}',\n  '{{ $json.tmia }}',\n  '{{ $json.ativo_receptivo }}',\n  '{{ $json.atendente }}'\n);\n"},"id":"dea11568-7cc9-4049-95a7-7a68569d812f","name":"Inserir no Banco","type":"n8n-nodes-base.mySql","typeVersion":1,"position":[2352,880],"credentials":{"mySql":{"id":"oMA4i34MCkG3AGNu","name":"MySQL account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2768,880],"id":"193e7d60-edd5-43f0-a296-9c06531ab593","name":"No Operation, do nothing"},{"parameters":{"documentId":{"__rl":true,"value":"16oL4fD-g5SjJID8tjTJkAbBvhd9nFZ8biaY6tFE8AtE","mode":"list","cachedResultName":"Cases_curso_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16oL4fD-g5SjJID8tjTJkAbBvhd9nFZ8biaY6tFE8AtE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1380782455,"mode":"list","cachedResultName":"Case 3","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16oL4fD-g5SjJID8tjTJkAbBvhd9nFZ8biaY6tFE8AtE/edit#gid=1380782455"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1056,880],"id":"e5fb6b78-0ad8-452c-a587-94db36be57c4","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"jlSK6LVQmnLP7ZaJ","name":"Google Sheets account 2"}}},{"parameters":{"jsCode":"const newItems = [];\n\nfor (const item of items) {\n  // Só envia se tiver data_finalizacao preenchida\n  if (!item.json.data_finalizacao) continue;\n\n  newItems.push({\n    json: {\n      protocolo: Number(item.json.protocolo),\n      data_entrada: item.json.data_entrada,        // já está em YYYY-MM-DD HH:mm:ss\n      data_atendimento: item.json.data_atendimento,\n      data_finalizacao: item.json.data_finalizacao,\n      classificacao: item.json.classificacao,\n      servico: item.json.servico,\n      canal: item.json.canal,\n      data_fila: item.json.data_fila,\n      tempo_fila: item.json.tempo_fila,\n      tmic: item.json.tmic,\n      tmia: item.json.tmia,\n      ativo_receptivo: item.json.ativo_receptivo,\n      atendente: item.json.atendente,\n      email: item.json.email || null,\n      cpf: item.json.cpf || null,\n    }\n  });\n}\n\nreturn newItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,880],"id":"e8410b19-d591-40f7-9455-f787be647bb8","name":"Code1"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[512,880],"id":"8d800c1c-9f15-4a89-8136-001e4fd59edd","name":"Schedule Trigger1"}],"connections":{"Inserir no Banco1":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Inserir no Banco1","type":"main","index":0}]]},"Inserir no Banco":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Inserir no Banco","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ea56d95e-8a32-4254-aeda-9e1ee146466b","triggerCount":0,"shared":[{"createdAt":"2025-08-14T09:31:53.074Z","updatedAt":"2025-08-14T09:31:53.074Z","role":"workflow:owner","workflowId":"0PabGUWi5z3WLPjD","projectId":"T3171E2RbgkIbJjB"}],"tags":[]}