list-v2-6R0f7OgRnt2ZnmH3.json
{"createdAt":"2025-08-30T23:15:40.980Z","updatedAt":"2025-09-02T19:22:45.000Z","id":"6R0f7OgRnt2ZnmH3","name":"[Ok] Google Workspace: Add User to Group/List v2","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1536,-32],"id":"69181861-c4b8-4e34-89f2-f1498f16ee04","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"getAll","returnAll":true,"output":"raw","filter":{"showDeleted":false}},"type":"n8n-nodes-base.gSuiteAdmin","typeVersion":1,"position":[-1312,-32],"id":"1b91d44c-ae6d-47f4-b607-c0652e9179c0","name":"Get many users","credentials":{"gSuiteAdminOAuth2Api":{"id":"d8dPvRQuZANzKmTs","name":"DM - Google Workspace Admin account"}}},{"parameters":{"fieldToSplitOut":"primaryEmail","include":"selectedOtherFields","fieldsToInclude":"creationTime, organizations[0].department","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-640,-128],"id":"253485fe-b439-411c-96ec-8bcb9a904e76","name":"Split Out"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-640,64],"id":"1b224ee2-c649-4ca3-b957-3d9aaef2cac2","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2192,-208],"id":"02886441-2b72-47e2-8f17-a99dcb768582","name":"No Operation, do nothing2"},{"parameters":{"operation":"addToGroup","userId":{"__rl":true,"value":"={{ $json.primaryEmail }}","mode":"userEmail"},"groupId":{"__rl":true,"value":"={{ $json.gws_lista_id }}","mode":"groupId"}},"type":"n8n-nodes-base.gSuiteAdmin","typeVersion":1,"position":[928,-368],"id":"c6cddf07-ac56-4667-8ead-46f13b59d5fa","name":"Add user to group","alwaysOutputData":false,"credentials":{"gSuiteAdminOAuth2Api":{"id":"d8dPvRQuZANzKmTs","name":"DM - Google Workspace Admin account"}},"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04","mode":"list","cachedResultName":"N8N-TESTE","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1223507015,"mode":"list","cachedResultName":"db_n8n_equipes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04/edit#gid=1223507015"},"filtersUI":{"values":[{"lookupColumn":"=equipe","lookupValue":"={{ $json['organizations[0].department'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-192,-368],"id":"2ef664b8-c95a-4a76-bddd-607b4385c164","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"bdtx0CIYVT2yv04Y","name":"DM - Google Sheets account"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"=creationTime","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-1088,-32],"id":"74f23c92-5970-444a-8991-298e1fbea53d","name":"Sort"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ad55e780-055a-445c-a348-fbfdbb373c9f","leftValue":"={{ $json.creationTime }}","rightValue":"2025-08-29T00:00:00","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-864,-32],"id":"fc4e4361-2712-4f6e-a3f9-300a5a8a5d2a","name":"Define data","alwaysOutputData":false},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"equipe","field2":"['organizations[0].department']"}]},"joinMode":"enrichInput2","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[32,-368],"id":"07340cd3-63a2-42e7-8f57-109b82bd76bf","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"ed3739b9-92c4-49ed-8e10-1b8be567430e","name":"primaryEmail","value":"={{ $json.primaryEmail }}","type":"string"},{"id":"a8a67652-682c-4e59-a3fb-7eff3cbe5174","name":"gws_lista_id","value":"={{ $json.gws_lista_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,-368],"id":"60150eee-01b3-4c0c-aa1f-83205b5ed404","name":"Edit Fields"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"primaryEmail, gws_lista_id","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[480,-368],"id":"08e09583-62a9-4945-8c7c-3fe61e45da7d","name":"Remove Duplicates"},{"parameters":{"content":"## Deadline\n**Data base**. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":256},"type":"n8n-nodes-base.stickyNote","position":[-944,-128],"typeVersion":1,"id":"ec6203ec-a3a0-4e60-ad25-5a89cc1b7b0b","name":"Sticky Note"},{"parameters":{"operation":"get","userId":{"__rl":true,"value":"everton.lombardi@sebratel.com.br","mode":"userEmail"},"output":"raw","projection":"full"},"type":"n8n-nodes-base.gSuiteAdmin","typeVersion":1,"position":[-1536,432],"id":"366add29-cbc5-4c17-a168-446c52b7c9f6","name":"Get a user","credentials":{"gSuiteAdminOAuth2Api":{"id":"d8dPvRQuZANzKmTs","name":"DM - Google Workspace Admin account"}}},{"parameters":{"sendTo":"daniel.menezes@sebratel.com.br","subject":"GWS User to Group Added","message":"=User: {{ $('Split Out').item.json.primaryEmail }}\nLista: {{ $('Remove Duplicates').item.json.gws_lista }} \nLista-id: {{ $('Edit Fields').item.json.gws_lista_id }} //\nGWS Added: {{ $json.added }} // {{ $json.message }}\nZabbix Added: userids {{ $json.result.userids }}\nZabbix pwd: {{ $('pwd_gen').item.json.random_password }}\nDatatime: {{ $now }} ","options":{"appendAttribution":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1968,-112],"id":"786704a1-6bb4-4638-9c96-7f77e7a581a8","name":"Send a message","webhookId":"dcbb1c75-028d-4f74-88ea-2e256821f491","credentials":{"gmailOAuth2":{"id":"210i97UAvOhXftXK","name":"DM - Gmail account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3E59F2AFB78BA023505DC200745B43DD/token/CC3B98858E449DE870658751/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"client-token","value":"F5b10efc71d93404488016342811ba814S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"=5551996906250"},{"name":"message","value":"=User: {{ $('Split Out').item.json.primaryEmail }}\nLista: {{ $('Remove Duplicates').item.json.gws_lista }}\nLista-id: {{ $('Edit Fields').item.json.gws_lista_id }}\nGWS Added: {{ $json.added }} // {{ $json.message }}\nZabbix Added: userids {{ $json.result.userids }}\nZabbix pwd: {{ $('pwd_gen').item.json.random_password }}\nDatatime: {{ $now }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1968,-304],"id":"46d66afd-6036-46f5-a794-64e5dd9d3fd0","name":"Z-API Send Wpp","onError":"continueRegularOutput"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"['organizations[0].department']","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-416,-368],"id":"a6e76132-985b-4a51-bf47-33a598cc6bb6","name":"Remove Duplicates1"},{"parameters":{"content":"## GWS Add to list\n","height":352,"width":1248},"type":"n8n-nodes-base.stickyNote","position":[128,-464],"typeVersion":1,"id":"d512d14e-5a42-47b4-8823-8dcd9110d284","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"948a0a5f-cd7f-42b4-8260-7857b3c3c88c","leftValue":"={{ $json.gws_lista_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[256,-368],"id":"6e4df676-6050-4235-8d7a-703849c0acba","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[480,-176],"id":"76145657-7b0d-47da-9e47-f59c89f39a50","name":"No Operation, do nothing"},{"parameters":{"documentId":{"__rl":true,"value":"1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04","mode":"list","cachedResultName":"N8N-TESTE","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1223507015,"mode":"list","cachedResultName":"db_n8n_equipes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04/edit#gid=1223507015"},"filtersUI":{"values":[{"lookupColumn":"=equipe","lookupValue":"={{ $json['organizations[0].department'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-192,-16],"id":"e28722af-eb38-42fb-90f6-b3294a50d5aa","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"bdtx0CIYVT2yv04Y","name":"DM - Google Sheets account"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"equipe","field2":"['organizations[0].department']"}]},"joinMode":"enrichInput2","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[32,16],"id":"b5e8535c-04f9-4a49-b92f-ba76ae4ed216","name":"Merge1"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"['organizations[0].department']","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-416,-16],"id":"94a149bf-9aee-4e47-bb8e-11ec4ea6f426","name":"Remove Duplicates2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"948a0a5f-cd7f-42b4-8260-7857b3c3c88c","leftValue":"={{ $json.zbx_usrgroupid }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[256,16],"id":"c30d9070-e0c5-4d3e-986d-bc968e1b5753","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"ed3739b9-92c4-49ed-8e10-1b8be567430e","name":"primaryEmail","value":"={{ $json.primaryEmail }}","type":"string"},{"id":"a8a67652-682c-4e59-a3fb-7eff3cbe5174","name":"zbx_usrgroupid","value":"={{ $json.zbx_usrgroupid }}","type":"string"},{"id":"70dfd908-375c-4274-88db-a41ec400996f","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,16],"id":"4d261bfd-21ac-46e0-81d2-58b18a9b14d2","name":"Edit Fields1"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"primaryEmail, gws_lista_id","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[480,16],"id":"d9147729-a976-4611-a2a4-8acb6d246446","name":"Remove Duplicates3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[480,208],"id":"c902b1b2-ee00-4ae4-8a7d-422e0209f485","name":"No Operation, do nothing3"},{"parameters":{"content":"## Zabbix","height":480,"width":1248},"type":"n8n-nodes-base.stickyNote","position":[128,-96],"typeVersion":1,"id":"fc4fc81e-1958-426e-acad-122e7d57d7d8","name":"Sticky Note2"},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","httpVariantWarning":"","curlImport":"","method":"POST","":"","url":"http://zabbix.sebratel.net.br/api_jsonrpc.php","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"{\"jsonrpc\":\"2.0\",\"method\":\"user.login\",\"params\":{\"username\":\"danielmenezes\",\"password\":\"V*s=muS>i;4vmv%\"},\"id\":1}","options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,16],"id":"d0bb0c26-208d-4e13-a228-c105a97fd29a","name":"Zabbix HTTP Request","extendsCredential":"zabbixApi","credentials":{"zabbixApi":{"id":"nQH57axGEPlzYH3v","name":"DM - Zabbix account"}}},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","httpVariantWarning":"","curlImport":"","method":"GET","":"","url":"http://zabbix.sebratel.net.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.zbx_token }}"},{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n           \"jsonrpc\": \"2.0\",\n           \"method\": \"user.create\",\n           \"params\": {\n               \"username\": \"{{ $('Edit Fields1').item.json.primaryEmail }}\",\n               \"passwd\": \"{{ $json.random_password }}\",\n               \"roleid\": \"6\",\n               \"usrgrps\": [\n                   {\n                       \"usrgrpid\": \"{{ $('Edit Fields1').item.json.zbx_usrgroupid }}\"\n                   }\n               ],\n               \"medias\": [\n                   {\n                       \"mediatypeid\": \"1\",\n                       \"sendto\": [\n                           \"{{ $('Edit Fields1').item.json.primaryEmail }}\"\n                       ],\n                       \"active\": 0,\n                       \"severity\": 63,\n                       \"period\": \"1-7,00:00-24:00\"\n                   }\n               ]\n           },\n           \"id\": 1\n       }","options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1632,16],"id":"1bd90f8f-eb85-459c-a96e-5c88a9b088d9","name":"Add User/Group","extendsCredential":"zabbixApi","credentials":{"zabbixApi":{"id":"nQH57axGEPlzYH3v","name":"DM - Zabbix account"}}},{"parameters":{"assignments":{"assignments":[{"id":"90c616c2-bcb2-487e-a048-a750328d6742","name":"zbx_token","value":"={{ $json.result }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1168,16],"id":"abad0ea1-c2cd-4576-b2b8-c672619b8b75","name":"Edit Fields2"},{"parameters":{"url":"https://api.api-ninjas.com/v1/passwordgenerator?length=16","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"7TxAsHXypQp3rBB7/YF5Cw==9lM2598AFi2LZCLD"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1376,16],"id":"04d1c600-3a26-4527-909e-8fc03904fd05","name":"pwd_gen"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many users","type":"main","index":0}]]},"Get many users":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Remove Duplicates1","type":"main","index":0},{"node":"Remove Duplicates2","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Add user to group":{"main":[[{"node":"Z-API Send Wpp","type":"main","index":0},{"node":"Send a message","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Define data","type":"main","index":0}]]},"Define data":{"main":[[{"node":"Split Out","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Add user to group","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[]]},"Send a message":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Z-API Send Wpp":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Remove Duplicates1":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"If":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Remove Duplicates2":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Remove Duplicates3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Remove Duplicates3","type":"main","index":0}],[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"Zabbix HTTP Request":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"pwd_gen","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Zabbix HTTP Request","type":"main","index":0}]]},"pwd_gen":{"main":[[{"node":"Add User/Group","type":"main","index":0}]]},"Add User/Group":{"main":[[{"node":"Z-API Send Wpp","type":"main","index":0},{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6e7a8946-941e-45d6-a5b9-b3b690004b21","triggerCount":0,"shared":[{"createdAt":"2025-08-30T23:15:40.984Z","updatedAt":"2025-08-30T23:15:40.984Z","role":"workflow:owner","workflowId":"6R0f7OgRnt2ZnmH3","projectId":"UkmxdPS16V9GSHYc"}],"tags":[]}