list-xWvniMyP5QI9qRxF.json
{"createdAt":"2025-08-11T23:07:57.404Z","updatedAt":"2025-08-22T11:54:49.000Z","id":"xWvniMyP5QI9qRxF","name":"[Ok] Google Workspace: Add User to Group/List","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1536,-272],"id":"411ce831-9c08-499e-9d0d-e34109f63db3","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"getAll","returnAll":true,"output":"raw","filter":{"showDeleted":false}},"type":"n8n-nodes-base.gSuiteAdmin","typeVersion":1,"position":[-1312,-176],"id":"5334227a-211e-4db6-b5f8-a86e6ca2a221","name":"Get many users","credentials":{"gSuiteAdminOAuth2Api":{"id":"d8dPvRQuZANzKmTs","name":"Google Workspace Admin account - DM"}}},{"parameters":{"fieldToSplitOut":"primaryEmail","include":"selectedOtherFields","fieldsToInclude":"creationTime, organizations[0].department","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-416,-272],"id":"f80c0770-fc47-4c69-810f-6bdc17e599bc","name":"Split Out"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-416,-80],"id":"4c1a7ad5-fc46-417a-9307-2e02b11977c9","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1600,-368],"id":"0beb1066-fcb9-4658-b04b-84bdd8becbd3","name":"No Operation, do nothing2"},{"parameters":{"operation":"addToGroup","userId":{"__rl":true,"value":"={{ $json.primaryEmail }}","mode":"userEmail"},"groupId":{"__rl":true,"value":"={{ $json.lista_id }}","mode":"groupId"}},"type":"n8n-nodes-base.gSuiteAdmin","typeVersion":1,"position":[1152,-368],"id":"0caf1335-3741-4d2f-86b2-489cab2ea035","name":"Add user to group","alwaysOutputData":false,"credentials":{"gSuiteAdminOAuth2Api":{"id":"d8dPvRQuZANzKmTs","name":"Google Workspace Admin account - DM"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"group","operation":"getAll","returnAll":true,"filter":{}},"type":"n8n-nodes-base.gSuiteAdmin","typeVersion":1,"position":[-1312,-368],"id":"497be269-d65e-44b4-a74d-ba5f0603bed3","name":"Get many groups","credentials":{"gSuiteAdminOAuth2Api":{"id":"d8dPvRQuZANzKmTs","name":"Google Workspace Admin account - DM"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-640,-368],"id":"2e6bbb1e-3dc6-4178-9b48-444da9e84ced","name":"No Operation, do nothing3"},{"parameters":{"documentId":{"__rl":true,"value":"1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04","mode":"list","cachedResultName":"N8N-TESTE","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1489734241,"mode":"list","cachedResultName":"db-equipe-listas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04/edit#gid=1489734241"},"filtersUI":{"values":[{"lookupColumn":"=equipe","lookupValue":"={{ $json['organizations[0].department'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[32,-344],"id":"f1805e3d-f9b4-4cff-a51d-1b27db59c49f","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"bdtx0CIYVT2yv04Y","name":"Google Sheets account"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"=creationTime","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-864,-176],"id":"e53c1128-c011-454a-b5bf-1cb2fca2abf0","name":"Sort"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ad55e780-055a-445c-a348-fbfdbb373c9f","leftValue":"={{ $json.creationTime }}","rightValue":"2025-07-23T00:00:00","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-640,-176],"id":"847b8f07-471e-4f5b-8e6e-e5809019ae12","name":"Define data","alwaysOutputData":false},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"equipe","field2":"['organizations[0].department']"}]},"joinMode":"enrichInput2","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[256,-272],"id":"e3813a6c-2c77-43cb-ad3b-f5a7cd548928","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"ed3739b9-92c4-49ed-8e10-1b8be567430e","name":"primaryEmail","value":"={{ $json.primaryEmail }}","type":"string"},{"id":"a8a67652-682c-4e59-a3fb-7eff3cbe5174","name":"lista_id","value":"={{ $json.lista_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,-368],"id":"1e30ab62-61c5-4133-9f24-5aebd1ab6da8","name":"Edit Fields"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"primaryEmail, lista_id","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[704,-368],"id":"72dc8061-a10f-4f8d-bf60-768f67acfaca","name":"Remove Duplicates"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"589d831c-d40d-4732-a05e-70b78b046bde","leftValue":"={{ $json.lista_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,-272],"id":"943acb15-7c54-42f5-bee6-603162f705b6","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[704,-176],"id":"877ddb7c-eb3a-4924-9458-c390e584b512","name":"No Operation, do nothing"},{"parameters":{"content":"## Deadline\n**Data base**. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":256},"type":"n8n-nodes-base.stickyNote","position":[-936,-272],"typeVersion":1,"id":"49ff38cc-5f83-4dc7-b401-8f65ffabf344","name":"Sticky Note"},{"parameters":{"operation":"get","userId":{"__rl":true,"value":"everton.lombardi@sebratel.com.br","mode":"userEmail"},"output":"raw","projection":"full"},"type":"n8n-nodes-base.gSuiteAdmin","typeVersion":1,"position":[-1536,144],"id":"c12740b0-e664-45ac-a94f-10f9787aa484","name":"Get a user","credentials":{"gSuiteAdminOAuth2Api":{"id":"d8dPvRQuZANzKmTs","name":"Google Workspace Admin account - DM"}}},{"parameters":{"sendTo":"daniel.menezes@sebratel.com.br","subject":"GWS User to Group Added","message":"=User: {{ $('Split Out').item.json.primaryEmail }}\nLista: {{ $('Remove Duplicates').item.json.lista }} \nLista-id: {{ $('Edit Fields').item.json.lista_id }} //\nAdded: {{ $json.added }} || {{ $json.message }}\nDatatime: {{ $now }} ","options":{"appendAttribution":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1376,-272],"id":"866bc63b-0b07-417b-a409-e9953d56c2f1","name":"Send a message","webhookId":"5210bde2-4543-4741-8890-1ad3fc7e6630","credentials":{"gmailOAuth2":{"id":"210i97UAvOhXftXK","name":"Gmail account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3E59F2AFB78BA023505DC200745B43DD/token/CC3B98858E449DE870658751/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"client-token","value":"F5b10efc71d93404488016342811ba814S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"=5551996906250"},{"name":"message","value":"=User: {{ $('Split Out').item.json.primaryEmail }}\nLista: {{ $('Remove Duplicates').item.json.lista }}\nLista-id: {{ $('Edit Fields').item.json.lista_id }}\nAdded: {{ $json.added }} // {{ $json.message }}\nDatatime: {{ $now }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1376,-464],"id":"48280cb8-209a-42bd-8c81-b8525f9db909","name":"Z-API Send Wpp","onError":"continueRegularOutput"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04","mode":"list","cachedResultName":"N8N-TESTE","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1489734241,"mode":"list","cachedResultName":"db-equipe-listas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04/edit#gid=1489734241"},"columns":{"mappingMode":"defineBelow","value":{"lista_id":"={{ $json.id }}","lista":"={{ $json.email }}"},"matchingColumns":["lista_id"],"schema":[{"id":"lista_id","displayName":"lista_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lista","displayName":"lista","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"equipe","displayName":"equipe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-864,-368],"id":"b31effde-79cd-406f-abf2-608b1b34156d","name":"Get Listas","credentials":{"googleSheetsOAuth2Api":{"id":"bdtx0CIYVT2yv04Y","name":"Google Sheets account"}}},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1088,-176],"id":"6da6f866-adc7-4893-bee1-e1db5e40053b","name":"Wait1","webhookId":"57efa4e1-3f4f-40c4-be47-ca2945721bdc"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1088,-368],"id":"30269978-8850-4358-bbe1-1ec865ecbc6c","name":"Wait2","webhookId":"5eed962b-0abb-414e-89e6-a35e88b84b38"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"['organizations[0].department']","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-192,-344],"id":"c8256dd7-0146-4f15-90ef-cd0f9fb04222","name":"Remove Duplicates1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many groups","type":"main","index":0},{"node":"Get many users","type":"main","index":0}]]},"Get many users":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Remove Duplicates1","type":"main","index":0}]]},"Add user to group":{"main":[[{"node":"Z-API Send Wpp","type":"main","index":0},{"node":"Send a message","type":"main","index":0}]]},"Get many groups":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Define data","type":"main","index":0}]]},"Define data":{"main":[[{"node":"Split Out","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Add user to group","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"If":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[]]},"Send a message":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Z-API Send Wpp":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Get Listas":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Get Listas","type":"main","index":0}]]},"Remove Duplicates1":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5cb47aa1-4102-4e71-81cc-7ed7a8738d64","triggerCount":0,"shared":[{"createdAt":"2025-08-11T23:07:57.408Z","updatedAt":"2025-08-11T23:07:57.408Z","role":"workflow:owner","workflowId":"xWvniMyP5QI9qRxF","projectId":"UkmxdPS16V9GSHYc"}],"tags":[]}