list-v3-H4IjpXuvpv6oqKTd.json
{"createdAt":"2025-09-02T19:26:09.486Z","updatedAt":"2025-09-02T19:33:31.000Z","id":"H4IjpXuvpv6oqKTd","name":"[Ok] Google Workspace: Add User to Group/List v3","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1536,-8],"id":"4cb2185b-c5f9-4d4d-b8c7-625af52c8fe1","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"getAll","returnAll":true,"output":"raw","filter":{"showDeleted":false}},"type":"n8n-nodes-base.gSuiteAdmin","typeVersion":1,"position":[-1312,-8],"id":"b8d9c3a1-bfd6-4f11-a261-a3cba5970406","name":"Get many users","credentials":{"gSuiteAdminOAuth2Api":{"id":"d8dPvRQuZANzKmTs","name":"DM - Google Workspace Admin account"}}},{"parameters":{"fieldToSplitOut":"primaryEmail","include":"selectedOtherFields","fieldsToInclude":"creationTime, organizations[0].department","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-416,-104],"id":"4dc63527-a6c0-46f7-80ab-e97586c2129c","name":"Split Out"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-640,88],"id":"e687b7fd-c560-449c-9e1c-e26359e9d0c0","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2048,-272],"id":"bcb1d4e2-b00c-40f0-92ce-7299d2715ad3","name":"No Operation, do nothing2"},{"parameters":{"operation":"addToGroup","userId":{"__rl":true,"value":"={{ $json.primaryEmail }}","mode":"userEmail"},"groupId":{"__rl":true,"value":"={{ $json.gws_lista_id }}","mode":"groupId"}},"type":"n8n-nodes-base.gSuiteAdmin","typeVersion":1,"position":[1600,-368],"id":"73773b8f-a8cd-420d-b3c5-560743b23f2c","name":"Add user to group","alwaysOutputData":false,"credentials":{"gSuiteAdminOAuth2Api":{"id":"d8dPvRQuZANzKmTs","name":"DM - Google Workspace Admin account"}},"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04","mode":"list","cachedResultName":"N8N-TESTE","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1223507015,"mode":"list","cachedResultName":"db_n8n_equipes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04/edit#gid=1223507015"},"filtersUI":{"values":[{"lookupColumn":"=equipe","lookupValue":"={{ $json['organizations[0].department'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[32,-200],"id":"addba854-f1ed-45be-b66b-dbbaf75a3226","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"bdtx0CIYVT2yv04Y","name":"DM - Google Sheets account"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"=creationTime","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-1088,-8],"id":"ab0bff27-e2a4-4d10-9b86-1b88dcb0af6b","name":"Sort"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ad55e780-055a-445c-a348-fbfdbb373c9f","leftValue":"={{ $json.creationTime }}","rightValue":"={{ $today.minus(1, 'day') }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-864,-8],"id":"52d8c3c1-9b5b-49ed-9b5b-a1bf6003e1a3","name":"Define data","alwaysOutputData":false},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"equipe","field2":"['organizations[0].department']"}]},"joinMode":"enrichInput2","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[256,-368],"id":"e5c96e7e-feeb-47db-b71b-a2cc7b4c5337","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"ed3739b9-92c4-49ed-8e10-1b8be567430e","name":"primaryEmail","value":"={{ $json.primaryEmail }}","type":"string"},{"id":"a8a67652-682c-4e59-a3fb-7eff3cbe5174","name":"gws_lista_id","value":"={{ $json.gws_lista_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,-368],"id":"ae2b0e08-b2bf-4a7b-b5ba-564dff2420be","name":"Edit Fields"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"primaryEmail, gws_lista_id","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[704,-368],"id":"7003e1fb-e12e-4ee7-abba-c8e9db4abad2","name":"Remove Duplicates"},{"parameters":{"content":"## Deadline\n**Data base**. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":256},"type":"n8n-nodes-base.stickyNote","position":[-936,-104],"typeVersion":1,"id":"7938e662-a008-4fe1-8d96-7f4560769293","name":"Sticky Note"},{"parameters":{"operation":"get","userId":{"__rl":true,"value":"everton.lombardi@sebratel.com.br","mode":"userEmail"},"output":"raw","projection":"full"},"type":"n8n-nodes-base.gSuiteAdmin","typeVersion":1,"position":[-1536,432],"id":"4d874880-59a0-40e2-be88-69a55d45772d","name":"Get a user","credentials":{"gSuiteAdminOAuth2Api":{"id":"d8dPvRQuZANzKmTs","name":"DM - Google Workspace Admin account"}}},{"parameters":{"sendTo":"daniel.menezes@sebratel.com.br","subject":"GWS User to Group Added","message":"=User: {{ $('Split Out').item.json.primaryEmail }}\nLista: {{ $('Remove Duplicates').item.json.gws_lista }} \nLista-id: {{ $('Edit Fields').item.json.gws_lista_id }} //\nGWS Added: {{ $json.added }} // {{ $json.message }}\nZabbix Added: userids {{ $json.result.userids }}\nZabbix pwd: {{ $('pwd_gen').item.json.random_password }}\nDatatime: {{ $now }} ","options":{"appendAttribution":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1824,-80],"id":"3912f0da-86de-434c-a439-3cb7eef5ac33","name":"Send a message","webhookId":"91529bbc-c24d-4f43-898c-ad6902611f2c","credentials":{"gmailOAuth2":{"id":"210i97UAvOhXftXK","name":"DM - Gmail account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3E59F2AFB78BA023505DC200745B43DD/token/CC3B98858E449DE870658751/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"client-token","value":"F5b10efc71d93404488016342811ba814S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"=5551996906250"},{"name":"message","value":"=User: {{ $('Split Out').item.json.primaryEmail }}\nLista: {{ $('Remove Duplicates').item.json.gws_lista }}\nLista-id: {{ $('Edit Fields').item.json.gws_lista_id }}\nGWS Added: {{ $json.added }} // {{ $json.message }}\nZabbix Added: userids {{ $json.result.userids }}\nZabbix pwd: {{ $('pwd_gen').item.json.random_password }}\nDatatime: {{ $now }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1824,-368],"id":"8a048b6e-817d-4a9b-8fe5-db32b743b9a8","name":"Z-API Send Wpp","onError":"continueRegularOutput"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"['organizations[0].department']","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-192,-200],"id":"c2faee36-7393-435b-9e52-1f119eed5c19","name":"Remove Duplicates1"},{"parameters":{"content":"## GWS Add to list\n","height":352,"width":1248},"type":"n8n-nodes-base.stickyNote","position":[464,-560],"typeVersion":1,"id":"becd9e20-ceba-4396-9b14-2ab3a85d247f","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"948a0a5f-cd7f-42b4-8260-7857b3c3c88c","leftValue":"={{ $json.gws_lista_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,-368],"id":"dc04d8c2-d406-468c-9397-e27d490c4ec8","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[704,-176],"id":"6ad60e5b-b652-4c52-a2d7-d5e85b33c239","name":"No Operation, do nothing"},{"parameters":{"documentId":{"__rl":true,"value":"1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04","mode":"list","cachedResultName":"N8N-TESTE","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1223507015,"mode":"list","cachedResultName":"db_n8n_equipes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04/edit#gid=1223507015"},"filtersUI":{"values":[{"lookupColumn":"=equipe","lookupValue":"={{ $json['organizations[0].department'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[32,16],"id":"bb3e8209-2e6c-4938-a3bd-7777b7ba8b4f","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"bdtx0CIYVT2yv04Y","name":"DM - Google Sheets account"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"equipe","field2":"['organizations[0].department']"}]},"joinMode":"enrichInput2","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[256,16],"id":"9d45500f-be5e-49cc-b592-09bfae75e9d9","name":"Merge1"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"['organizations[0].department']","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-192,16],"id":"6bbda2e5-943b-4603-9870-2a30a2843a7e","name":"Remove Duplicates2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"948a0a5f-cd7f-42b4-8260-7857b3c3c88c","leftValue":"={{ $json.zbx_usrgroupid }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,16],"id":"8a48256d-0440-4e7b-a7b1-f3b3b62e8ac7","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"ed3739b9-92c4-49ed-8e10-1b8be567430e","name":"primaryEmail","value":"={{ $json.primaryEmail }}","type":"string"},{"id":"a8a67652-682c-4e59-a3fb-7eff3cbe5174","name":"zbx_usrgroupid","value":"={{ $json.zbx_usrgroupid }}","type":"string"},{"id":"70dfd908-375c-4274-88db-a41ec400996f","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,16],"id":"10066f0d-aee3-44c0-bb66-616da9a2701e","name":"Edit Fields1"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"primaryEmail, gws_lista_id","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[704,16],"id":"5a6e2d54-4cbc-4199-8838-ada609db1f98","name":"Remove Duplicates3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[704,208],"id":"fb2c0553-b6df-448d-9bee-fcbd22b5b6e9","name":"No Operation, do nothing3"},{"parameters":{"content":"## Zabbix","height":480,"width":1248},"type":"n8n-nodes-base.stickyNote","position":[352,-112],"typeVersion":1,"id":"1f88795d-775e-488e-80f1-2f1f340c112d","name":"Sticky Note2"},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","httpVariantWarning":"","curlImport":"","method":"POST","":"","url":"http://zabbix.sebratel.net.br/api_jsonrpc.php","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"{\"jsonrpc\":\"2.0\",\"method\":\"user.login\",\"params\":{\"username\":\"danielmenezes\",\"password\":\"V*s=muS>i;4vmv%\"},\"id\":1}","options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1152,16],"id":"c9a9eb6d-cea9-4c15-8384-3f0056e17eb4","name":"Zabbix HTTP Request","extendsCredential":"zabbixApi","credentials":{"zabbixApi":{"id":"nQH57axGEPlzYH3v","name":"DM - Zabbix account"}}},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","httpVariantWarning":"","curlImport":"","method":"GET","":"","url":"http://zabbix.sebratel.net.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.zbx_token }}"},{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n           \"jsonrpc\": \"2.0\",\n           \"method\": \"user.create\",\n           \"params\": {\n               \"username\": \"{{ $('Edit Fields1').item.json.primaryEmail }}\",\n               \"passwd\": \"{{ $json.random_password }}\",\n               \"roleid\": \"6\",\n               \"usrgrps\": [\n                   {\n                       \"usrgrpid\": \"{{ $('Edit Fields1').item.json.zbx_usrgroupid }}\"\n                   }\n               ],\n               \"medias\": [\n                   {\n                       \"mediatypeid\": \"1\",\n                       \"sendto\": [\n                           \"{{ $('Edit Fields1').item.json.primaryEmail }}\"\n                       ],\n                       \"active\": 0,\n                       \"severity\": 63,\n                       \"period\": \"1-7,00:00-24:00\"\n                   }\n               ]\n           },\n           \"id\": 1\n       }","options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,16],"id":"09c8707d-4639-4a27-a1b0-d3d804d10d64","name":"Add User/Group","extendsCredential":"zabbixApi","credentials":{"zabbixApi":{"id":"nQH57axGEPlzYH3v","name":"DM - Zabbix account"}}},{"parameters":{"assignments":{"assignments":[{"id":"90c616c2-bcb2-487e-a048-a750328d6742","name":"zbx_token","value":"={{ $json.result }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1376,16],"id":"4be58538-47ff-401a-a54c-c64c9b12561e","name":"Edit Fields2"},{"parameters":{"url":"https://api.api-ninjas.com/v1/passwordgenerator?length=16","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Api-Key","value":"7TxAsHXypQp3rBB7/YF5Cw==9lM2598AFi2LZCLD"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,-208],"id":"52d28e36-8ffd-4a3f-85b3-37e12975ebf7","name":"pwd_gen"},{"parameters":{"operation":"update","userId":{"__rl":true,"value":"{{ $json.primaryEmail }}","mode":"userEmail"},"updateFields":{"password":"={{ $('pwd_gen').item.json.random_password }}"}},"type":"n8n-nodes-base.gSuiteAdmin","typeVersion":1,"position":[1152,-368],"id":"45d65bf2-df86-4a2f-b9fd-e45bbef14289","name":"Update a user","credentials":{"gSuiteAdminOAuth2Api":{"id":"d8dPvRQuZANzKmTs","name":"DM - Google Workspace Admin account"}}},{"parameters":{"height":352,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1072,-512],"typeVersion":1,"id":"1d2c15e0-caa7-483a-a0ec-4dda66092b2a","name":"Sticky Note3"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many users","type":"main","index":0}]]},"Get many users":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Remove Duplicates1","type":"main","index":0},{"node":"Remove Duplicates2","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Add user to group":{"main":[[{"node":"Z-API Send Wpp","type":"main","index":0},{"node":"Send a message","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Define data","type":"main","index":0}]]},"Define data":{"main":[[{"node":"pwd_gen","type":"main","index":0},{"node":"Split Out","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Update a user","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[]]},"Send a message":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Z-API Send Wpp":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Remove Duplicates1":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"If":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Remove Duplicates2":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Remove Duplicates3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Remove Duplicates3","type":"main","index":0}],[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"Zabbix HTTP Request":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Add User/Group","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Zabbix HTTP Request","type":"main","index":0}]]},"pwd_gen":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Add User/Group":{"main":[[{"node":"Z-API Send Wpp","type":"main","index":0},{"node":"Send a message","type":"main","index":0}]]},"Update a user":{"main":[[{"node":"Add user to group","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bb08871a-5351-4a9b-b95b-c65b5b155a96","triggerCount":0,"shared":[{"createdAt":"2025-09-02T19:26:09.495Z","updatedAt":"2025-09-02T19:26:09.495Z","role":"workflow:owner","workflowId":"H4IjpXuvpv6oqKTd","projectId":"UkmxdPS16V9GSHYc"}],"tags":[]}