matrix_atendwebhook-G14fYtQXZZ6RiWbc.json
{"createdAt":"2025-07-28T18:19:10.111Z","updatedAt":"2025-08-14T21:05:04.000Z","id":"G14fYtQXZZ6RiWbc","name":"matrix_atendWebhook","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"matrixgo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1216,-304],"id":"8295176a-ee05-49b5-b382-5b07d187a4aa","name":"Webhook","webhookId":"299658cb-485b-4711-9d09-26ed8df788c6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b509866-b20a-4f06-8da6-ac3c1c58d353","leftValue":"={{ $json.body.atendente.nome }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-928,-304],"id":"27451664-f344-4064-ac28-c8e5ee10df35","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-320,-320],"id":"51ba97ae-9c56-48cc-90b7-8994282bb0c6","name":"No Operation, do nothing"},{"parameters":{"table":{"__rl":true,"value":"db_matrix","mode":"list","cachedResultName":"db_matrix"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"codigo","value":"={{ $json.body.atendimento.codigo }}"},{"column":"protocolo","value":"={{ $json.body.atendimento.protocolo }}"},{"column":"data_entrada","value":"={{ $json.body.atendimento.data_entrada }}"},{"column":"data_atendimento","value":"={{ $json.body.atendimento.data_atendimento }}"},{"column":"data_finalizacao","value":"={{ $json.body.atendimento.data_finalizacao }}"},{"column":"ativo_receptivo","value":"={{ $json.body.atendimento.ativo_receptivo }}"},{"column":"email","value":"={{ $json.body.atendente.email }}"},{"column":"servico","value":"={{ $json.body.atendimento.servico }}"},{"column":"atendente","value":"={{ $('Webhook').item.json.body.atendente.nome }}"},{"column":"canal","value":"={{ $json.body.atendimento.canal }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-624,-320],"id":"866d26c2-ef88-4a88-b12a-c5e226fd21d9","name":"Insert rows in a table","credentials":{"mySql":{"id":"oMA4i34MCkG3AGNu","name":"MySQL account"}}},{"parameters":{"content":"## Início \nInicia o Webhook","height":256,"width":272},"type":"n8n-nodes-base.stickyNote","position":[-1296,-400],"typeVersion":1,"id":"34d0b1f7-94bb-43a3-b80e-4006cc575bd7","name":"Sticky Note"},{"parameters":{"content":"## Condicional\nVerifica possui atendente","height":256,"width":256,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1008,-400],"typeVersion":1,"id":"eb4a4ca7-f208-485d-ab32-d42a92877fa0","name":"Sticky Note1"},{"parameters":{"content":"## Inserção \nCaso tenha atendente insere no banco de dados","height":432,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-736,-400],"typeVersion":1,"id":"b2f0bc6a-de0c-4477-96c5-3b43bed1e76a","name":"Sticky Note2"},{"parameters":{"content":"## Finalização\n\n","height":256,"width":256,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-400,-400],"typeVersion":1,"id":"24609069-bc52-472e-94f3-c0867183d44c","name":"Sticky Note4"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-624,-128],"id":"6363e67e-36f9-4d51-93f5-ded87da358f0","name":"No Operation"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}],[{"node":"No Operation","type":"main","index":0}]]},"Insert rows in a table":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f518f7a6-c6fa-4ecf-950f-acd6f56f0f0d","triggerCount":1,"shared":[{"createdAt":"2025-07-28T18:19:10.117Z","updatedAt":"2025-07-28T18:19:10.117Z","role":"workflow:owner","workflowId":"G14fYtQXZZ6RiWbc","projectId":"T3171E2RbgkIbJjB"}],"tags":[]}