matrix_relatapis-i0iN5BEznNWcwStX.json
{"createdAt":"2025-08-11T15:31:09.197Z","updatedAt":"2025-08-19T16:34:07.000Z","id":"i0iN5BEznNWcwStX","name":"matrix_relatAPIs","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT IGNORE INTO db_matrix_stops \n(id_agente, agente, data_pausa, data_despausa, seg_pausado, id_pausa, tempo_pausado, pausa)\nSELECT \n  {{ $json.id_agente }},\n  '{{ $json.agente }}',\n  '{{ $json.data_pausa }}',\n  '{{ $json.data_despausa }}',\n  {{ $json.seg_pausado }},\n  {{ $json.id_pausa }},\n  '{{ $json.tempo_pausado }}',\n  '{{ $json.pausa }}'\nFROM DUAL\nWHERE '{{ $json.data_despausa }}' <> ''\nAND '{{ $json.data_pausa }}' is not null ;\n"},"id":"cadcf1f3-f4ff-4b67-90a2-f6ffb6c5368a","name":"Inserir no Banco","type":"n8n-nodes-base.mySql","typeVersion":1,"position":[2416,144],"credentials":{"mySql":{"id":"oMA4i34MCkG3AGNu","name":"MySQL account"}}},{"parameters":{"jsCode":"const newItems = [];\n\nfor (const item of items) {\n  if (!item.json.body || !item.json.body.rows) continue;\n\n  for (const row of item.json.body.rows) {\n    newItems.push({\n      json: {\n        id_agente: Number(row.id_agente),\n        agente: row.agente,\n        data_pausa: row.data_pausa,\n        data_despausa: row.data_despausa,\n        seg_pausado: Number(row.seg_pausado),\n        id_pausa: Number(row.id_pausa),\n        tempo_pausado: row.tempo_pausado,\n        pausa: row.pausa,\n      }\n    });\n  }\n}\n\nreturn newItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,144],"id":"3f97ce1b-82b7-4503-98d2-670946463d52","name":"Code"},{"parameters":{"jsCode":"const hoje = new Date();\n\nconst ano = hoje.getFullYear();\nconst mes = String(hoje.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\nconst dia = String(hoje.getDate()).padStart(2, '0');\n\nconst dataFormatada = `${ano}-${mes}-${dia}`;\n\nreturn [{ json: { dataHoje: dataFormatada } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,512],"id":"87df80f4-1340-43dc-8d9f-e95c732884f3","name":"Hoje"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-48,512],"id":"d57784f6-366b-47d4-a62e-f8adf40c2ee4","name":"Schedule Trigger"},{"parameters":{"url":"https://sebratel.matrixdobrasil.ai/rest/v2/RelPesqAnalitico?data_final=2025-08-08&pesquisa=14&data_inicial=2025-08-08","options":{},"headerParametersUi":{"parameter":[{"name":"Authorization","value":"Bearer {{$json[\"token\"]}}"}]}},"id":"a9e1212f-56f7-407c-94e2-e84ccc6ba605","name":"Buscar Dados","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1968,352]},{"parameters":{"values":{"string":[{"name":"token","value":"={{$json[\"body\"][\"token\"]}}"}]},"options":{}},"id":"1b0717c1-d675-4ad2-afbf-8d8bfef1fefb","name":"Salvar Token","type":"n8n-nodes-base.set","typeVersion":1,"position":[1776,352]},{"parameters":{"url":"=https://sebratel.matrixdobrasil.ai/rest/v2/relAgentePausa","options":{"fullResponse":true},"headerParametersUi":{"parameter":[{"name":"Authorization","value":"=Bearer {{ $('Gerar Token').all()[0].json.result.token }}"}]},"queryParametersUi":{"parameter":[{"name":"dat_final","value":"={{ $('Hoje').first().json.dataHoje }}"},{"name":"dat_inicial","value":"={{ $('Ontem').first().json.dataDoisDiasAtras }}"},{"name":"pagina","value":"={{ $json.page }}"}]}},"id":"a8ed1309-8556-4e0c-97b7-1d8e0c7a5cd9","name":"Get Pausas","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[976,160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5b33beda-a923-4b44-80cb-973eb51d1d41","leftValue":"={{ Number($('Get Pausas').first().json.body.page) }}","rightValue":"={{ Number($('Get Pausas').first().json.body.total) }}","operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2656,144],"id":"92f105e0-08c0-4092-b2f7-59d5432c3f95","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2928,320],"id":"020f578b-bb33-4545-91b7-27043840d95a","name":"No Operation, do nothing"},{"parameters":{"content":"## Início fluxo\nComeça fluxo e armazena variáveis de datas a cada 30 minots\n\n","height":560,"width":880},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,304],"id":"19ed98ff-707d-4143-a15d-7a40f5056c7a","name":"Sticky Note"},{"parameters":{"content":"## Desenvolvimento\n\nRealiza a chamada na API por paginação\n","height":560,"width":624,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[864,-48],"id":"393c0d82-a006-45d9-a049-77aec1640305","name":"Sticky Note1"},{"parameters":{"content":"## Exceções\n\nCaso o token expire executará este fluxo","height":560,"width":608},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1504,-48],"id":"8e658900-05ad-455d-9705-b741def1b935","name":"Sticky Note2"},{"parameters":{"content":"## Armanezamento\n\nArmaneza no maria DB todas as informações das páginas","height":560,"width":448,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2128,-48],"id":"8f3634f3-2033-4fb2-9de9-49d98c392833","name":"Sticky Note3"},{"parameters":{"content":"## Fim / Início Loop\n\nVerifica a paginação e inicia o loop até finalização das páginas","height":560,"width":544,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2592,-48],"id":"88fe184a-783e-42c7-840e-847c3faf596e","name":"Sticky Note4"},{"parameters":{"requestMethod":"POST","url":"https://sebratel.matrixdobrasil.ai/rest/v2/authuser","options":{},"bodyParametersUi":{"parameter":[{"name":"login","value":"Misael C"},{"name":"chave","value":"HSUN1O5jL*4?i!a"}]}},"id":"5a317d48-b598-44c3-9942-b4cf35426b07","name":"Gerar Novo Token","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1568,352]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"page","value":"={{ Number($('Get Pausas').first().json.body.page) + 1 }}"}]},"options":{}},"id":"acfa5600-f164-4888-96f5-4ba3293b0d57","name":"Incrementar Page","type":"n8n-nodes-base.set","typeVersion":1,"position":[2912,128]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"page","value":"=1"}]},"options":{}},"id":"07f51160-6032-4398-a137-984db6b81ec4","name":"Pagina Inicial","type":"n8n-nodes-base.set","typeVersion":1,"position":[672,512]},{"parameters":{"requestMethod":"POST","url":"https://sebratel.matrixdobrasil.ai/rest/v2/authuser","options":{},"bodyParametersUi":{"parameter":[{"name":"login","value":"Misael C"},{"name":"chave","value":"HSUN1O5jL*4?i!a"}]}},"id":"5bda2d13-927e-4978-84ab-4c709520fba6","name":"Gerar Token","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[112,512]},{"parameters":{"jsCode":"const hoje = new Date();\n\n// Subtrai 2 dias em milissegundos (2 dias * 24h * 60min * 60s * 1000ms)\nconst doisDiasAtras = new Date(hoje.getTime() - 1 * 24 * 60 * 60 * 1000);\n\nconst ano = doisDiasAtras.getFullYear();\nconst mes = String(doisDiasAtras.getMonth() + 1).padStart(2, '0');\nconst dia = String(doisDiasAtras.getDate()).padStart(2, '0');\n\nconst dataFormatada = `${ano}-${mes}-${dia}`;\n\nreturn [{ json: { dataDoisDiasAtras: dataFormatada } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,512],"id":"7e46801e-8eff-41b2-a445-0b4cce6707d2","name":"Ontem"},{"parameters":{"url":"https://sebratel.matrixdobrasil.ai/rest/v2/RelPesqAnalitico?data_final=2025-08-08&pesquisa=14&data_inicial=2025-08-08","options":{},"headerParametersUi":{"parameter":[{"name":"Authorization","value":"Bearer {{$json[\"token\"]}}"}]}},"id":"9e0e54db-1578-467a-8ec4-9c7a1a7a3ee6","name":"Buscar Dados1","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1968,976]},{"parameters":{"values":{"string":[{"name":"token","value":"={{$json[\"body\"][\"token\"]}}"}]},"options":{}},"id":"ea70e91b-5e46-4f9c-ad13-199d972ff369","name":"Salvar Token1","type":"n8n-nodes-base.set","typeVersion":1,"position":[1776,976]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2832,768],"id":"715eb243-75cb-4292-8e7e-2fb267611206","name":"No Operation, do nothing1"},{"parameters":{"content":"## Desenvolvimento\n\nRealiza a chamada na API por paginação\n","height":560,"width":624,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[864,576],"id":"77c84f13-7763-4d12-9179-9de9aa72c409","name":"Sticky Note6"},{"parameters":{"content":"## Exceções\n\nCaso o token expire executará este fluxo","height":560,"width":608},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1504,576],"id":"6359e683-eee6-4c26-9e53-340231fa7f3e","name":"Sticky Note7"},{"parameters":{"content":"## Armanezamento\n\nArmaneza no maria DB todas as informações das páginas","height":560,"width":448,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2128,576],"id":"8b1fcf1e-426d-4079-a4ed-49304032061c","name":"Sticky Note8"},{"parameters":{"content":"## Fim / Início Loop\n\nVerifica a paginação e inicia o loop até finalização das páginas","height":560,"width":544,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2592,576],"id":"9880d888-1d24-4450-b544-30981401d8be","name":"Sticky Note9"},{"parameters":{"requestMethod":"POST","url":"https://sebratel.matrixdobrasil.ai/rest/v2/authuser","options":{},"bodyParametersUi":{"parameter":[{"name":"login","value":"Misael C"},{"name":"chave","value":"HSUN1O5jL*4?i!a"}]}},"id":"528b7260-4f0d-4d4b-a4ca-73c08c98b8aa","name":"Gerar Novo Token1","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1568,976]},{"parameters":{"operation":"executeQuery","query":"INSERT IGNORE INTO db_matrix_avaliations \n(cod_atendimento, nom_pergunta, dat_resposta, num_telefone, num_cpf, nom_resposta, nom_valor, num_protocolo, nom_agente, nom_tipo_integracao, nom_conta)\nVALUES ({{$json.cod_atendimento}}, '{{$json.nom_pergunta}}', '{{$json.dat_resposta}}', {{$json.num_telefone}}, {{$json.num_cpf}},'{{$json.nom_resposta}}', {{$json.nom_valor}}, {{$json.num_protocolo}}, '{{$json.nom_agente}}', '{{$json.nom_tipo_integracao}}', '{{$json.nom_conta}}');\n"},"id":"3f2d4ec5-8ccd-4556-81e7-73335802c474","name":"Inserir no Banco1","type":"n8n-nodes-base.mySql","typeVersion":1,"position":[2416,768],"credentials":{"mySql":{"id":"oMA4i34MCkG3AGNu","name":"MySQL account"}}},{"parameters":{"jsCode":"const newItems = [];\n\nfor (const item of items) {\n  if (!item.json.body) continue;\n\n  for (const atendimento of item.json.body) {\n    if (!atendimento.respostas) continue;\n\n    for (const resposta of atendimento.respostas) {\n      newItems.push({\n        json: {\n          cod_atendimento: resposta.cod_atendimento || atendimento.cod_atendimento,\n          nom_pergunta: atendimento.nom_pergunta || null,\n          dat_resposta: resposta.dat_resposta || null,\n          num_telefone: resposta.num_telefone || null,\n          num_cpf: resposta.num_cpf || null,\n          nom_resposta: resposta.nom_resposta || null,  // Corrigi aqui\n          nom_valor: resposta.nom_valor || null,\n          num_protocolo: resposta.num_protocolo || null,\n          nom_agente: resposta.nom_agente || null,\n          nom_tipo_integracao: resposta.nom_tipo_integracao || null,\n          nom_conta: resposta.nom_conta || null\n        }\n      });\n    }\n  }\n}\n\nreturn newItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,768],"id":"12af0f81-812b-426f-bfda-f5733c2d6fc8","name":"Code1"},{"parameters":{"url":"=https://sebratel.matrixdobrasil.ai/rest/v2/RelPesqAnalitico","options":{"fullResponse":true},"headerParametersUi":{"parameter":[{"name":"Authorization","value":"=Bearer {{ $('Gerar Token').all()[0].json.result.token }}"}]},"queryParametersUi":{"parameter":[{"name":"data_final","value":"={{ $('Hoje').first().json.dataHoje }}"},{"name":"data_inicial","value":"={{ $('Ontem').first().json.dataDoisDiasAtras }}"},{"name":"pesquisa","value":"=14"}]}},"id":"c9a473e8-7900-45dc-a0fa-f90534e5d154","name":"Get Pesquisa","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[976,784]},{"parameters":{"conditions":{"number":[{"value1":"={{$json[\"statusCode\"]}}","operation":"equal","value2":200}]}},"id":"03899423-0cd8-4c37-97ac-7f76335a98c9","name":"If Token Pesquisa Inválido","type":"n8n-nodes-base.if","typeVersion":1,"position":[1312,784]},{"parameters":{"conditions":{"number":[{"value1":"={{$json[\"statusCode\"]}}","operation":"equal","value2":200}]}},"id":"29866e0d-3917-46cc-8486-86aa6b7ad65f","name":"If Token Inválido","type":"n8n-nodes-base.if","typeVersion":1,"position":[1184,160]}],"connections":{"Inserir no Banco":{"main":[[{"node":"If","type":"main","index":0}]]},"Code":{"main":[[{"node":"Inserir no Banco","type":"main","index":0}]]},"Hoje":{"main":[[{"node":"Pagina Inicial","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Gerar Token","type":"main","index":0}]]},"Buscar Dados":{"main":[[{"node":"Code","type":"main","index":0}]]},"Salvar Token":{"main":[[{"node":"Buscar Dados","type":"main","index":0}]]},"Get Pausas":{"main":[[{"node":"If Token Inválido","type":"main","index":0}]]},"If":{"main":[[{"node":"Incrementar Page","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Gerar Novo Token":{"main":[[{"node":"Salvar Token","type":"main","index":0}]]},"Incrementar Page":{"main":[[{"node":"Get Pausas","type":"main","index":0}]]},"Pagina Inicial":{"main":[[{"node":"Get Pesquisa","type":"main","index":0},{"node":"Get Pausas","type":"main","index":0}]]},"Gerar Token":{"main":[[{"node":"Ontem","type":"main","index":0}]]},"Ontem":{"main":[[{"node":"Hoje","type":"main","index":0}]]},"Buscar Dados1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Salvar Token1":{"main":[[{"node":"Buscar Dados1","type":"main","index":0}]]},"Gerar Novo Token1":{"main":[[{"node":"Salvar Token1","type":"main","index":0}]]},"Inserir no Banco1":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Inserir no Banco1","type":"main","index":0}]]},"Get Pesquisa":{"main":[[{"node":"If Token Pesquisa Inválido","type":"main","index":0}]]},"If Token Pesquisa Inválido":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"Gerar Novo Token1","type":"main","index":0}]]},"If Token Inválido":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Gerar Novo Token","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[14]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-08-14T06:00:58.009-03:00","Readable date":"August 14th 2025, 6:00:58 am","Readable time":"6:00:58 am","Day of week":"Thursday","Year":"2025","Month":"August","Day of month":"14","Hour":"06","Minute":"00","Second":"58","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"b4644bca-de0b-4f47-9806-d058fb275325","triggerCount":1,"shared":[{"createdAt":"2025-08-11T15:31:09.203Z","updatedAt":"2025-08-11T15:31:09.203Z","role":"workflow:owner","workflowId":"i0iN5BEznNWcwStX","projectId":"T3171E2RbgkIbJjB"}],"tags":[]}