matrix_relatavaliations-BbiFzpRVEqiHISvp.json
{"createdAt":"2025-08-14T12:53:36.338Z","updatedAt":"2025-08-14T12:58:21.000Z","id":"BbiFzpRVEqiHISvp","name":"matrix_relatAvaliations","active":false,"isArchived":true,"nodes":[{"parameters":{"conditions":{"number":[{"value1":"={{$json[\"statusCode\"]}}","operation":"equal","value2":200}]}},"id":"6ffe9108-bc40-46b2-a624-f16fdd5bc9b3","name":"IF Token Inválido","type":"n8n-nodes-base.if","typeVersion":1,"position":[160,-80]},{"parameters":{"jsCode":"const hoje = new Date();\n\nconst ano = hoje.getFullYear();\nconst mes = String(hoje.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\nconst dia = String(hoje.getDate()).padStart(2, '0');\n\nconst dataFormatada = `${ano}-${mes}-${dia}`;\n\nreturn [{ json: { dataHoje: dataFormatada } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,-80],"id":"1877304a-8fea-4e3e-8c74-9fdbb30325a0","name":"Hoje"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":60}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1152,-80],"id":"db7eb366-5ba0-4d3d-b43c-013b576e8c23","name":"Schedule Trigger"},{"parameters":{"url":"https://sebratel.matrixdobrasil.ai/rest/v2/RelPesqAnalitico?data_final=2025-08-08&pesquisa=14&data_inicial=2025-08-08","options":{},"headerParametersUi":{"parameter":[{"name":"Authorization","value":"Bearer {{$json[\"token\"]}}"}]}},"id":"69e1e718-5d29-4f18-8b93-a7776e204a92","name":"Buscar Dados","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[816,112]},{"parameters":{"values":{"string":[{"name":"token","value":"={{$json[\"body\"][\"token\"]}}"}]},"options":{}},"id":"77e3173b-4382-4efe-854f-2768c9218cea","name":"Salvar Token","type":"n8n-nodes-base.set","typeVersion":1,"position":[624,112]},{"parameters":{"url":"=https://sebratel.matrixdobrasil.ai/rest/v2/RelPesqAnalitico","options":{"fullResponse":true},"headerParametersUi":{"parameter":[{"name":"Authorization","value":"=Bearer {{ $('Gerar Token').all()[0].json.result.token }}"}]},"queryParametersUi":{"parameter":[{"name":"data_final","value":"={{ $('Hoje').first().json.dataHoje }}"},{"name":"data_inicial","value":"={{ $('Ontem').first().json.dataDoisDiasAtras }}"},{"name":"pesquisa","value":"=14"}]}},"id":"d1c5db0a-7422-4a2c-94d0-64211e71817e","name":"Get Pausas","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-176,-80]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5b33beda-a923-4b44-80cb-973eb51d1d41","leftValue":"={{ Number($('Get Pausas').first().json.body.page) }}","rightValue":"={{ Number($('Get Pausas').first().json.body.total) }}","operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1504,-96],"id":"31784dc6-fc59-4d50-a48e-0d779fdb3f37","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1776,80],"id":"73e01b9d-0f61-4a19-8a4e-672db497f1ce","name":"No Operation, do nothing"},{"parameters":{"content":"## Início fluxo\nComeça fluxo e armazena variáveis de datas a cada 30 minots\n\n","height":560,"width":880},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1184,-288],"id":"34b251fe-6e41-493b-92a8-6cfb3fa919d8","name":"Sticky Note"},{"parameters":{"content":"## Desenvolvimento\n\nRealiza a chamada na API por paginação\n","height":560,"width":624,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-288,-288],"id":"37dc1ce4-202e-4c0a-b835-e0267c850c6a","name":"Sticky Note1"},{"parameters":{"content":"## Exceções\n\nCaso o token expire executará este fluxo","height":560,"width":608},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[352,-288],"id":"fadce829-7bcd-4154-aaaa-24f0d4bc6d8e","name":"Sticky Note2"},{"parameters":{"content":"## Armanezamento\n\nArmaneza no maria DB todas as informações das páginas","height":560,"width":448,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[976,-288],"id":"48569630-cc17-43be-94c8-6ee236836083","name":"Sticky Note3"},{"parameters":{"content":"## Fim / Início Loop\n\nVerifica a paginação e inicia o loop até finalização das páginas","height":560,"width":544,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1440,-288],"id":"bae6f0ec-ba1f-402c-8a05-1bd9f253e3e9","name":"Sticky Note4"},{"parameters":{"requestMethod":"POST","url":"https://sebratel.matrixdobrasil.ai/rest/v2/authuser","options":{},"bodyParametersUi":{"parameter":[{"name":"login","value":"Misael C"},{"name":"chave","value":"HSUN1O5jL*4?i!a"}]}},"id":"3e7c6de0-a80d-4803-8042-a2c6eb7a1707","name":"Gerar Novo Token","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[416,112]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"page","value":"={{ Number($('Get Pausas').first().json.body.page) + 1 }}"}]},"options":{}},"id":"81b16b65-cd28-4d33-a821-491f163a17fa","name":"Incrementar Page","type":"n8n-nodes-base.set","typeVersion":1,"position":[1760,-112]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"page","value":"=1"}]},"options":{}},"id":"fd72999b-5816-4407-956f-ef00e378344f","name":"Pagina Inicial","type":"n8n-nodes-base.set","typeVersion":1,"position":[-448,-80]},{"parameters":{"requestMethod":"POST","url":"https://sebratel.matrixdobrasil.ai/rest/v2/authuser","options":{},"bodyParametersUi":{"parameter":[{"name":"login","value":"Misael C"},{"name":"chave","value":"HSUN1O5jL*4?i!a"}]}},"id":"d52065a5-2619-4989-afde-c9a5581570c7","name":"Gerar Token","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-992,-80]},{"parameters":{"jsCode":"const hoje = new Date();\n\n// Subtrai 2 dias em milissegundos (2 dias * 24h * 60min * 60s * 1000ms)\nconst doisDiasAtras = new Date(hoje.getTime() - 1 * 24 * 60 * 60 * 1000);\n\nconst ano = doisDiasAtras.getFullYear();\nconst mes = String(doisDiasAtras.getMonth() + 1).padStart(2, '0');\nconst dia = String(doisDiasAtras.getDate()).padStart(2, '0');\n\nconst dataFormatada = `${ano}-${mes}-${dia}`;\n\nreturn [{ json: { dataDoisDiasAtras: dataFormatada } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,-80],"id":"fad4e145-1c10-481a-8191-b38b1d839877","name":"Ontem"},{"parameters":{"operation":"executeQuery","query":"INSERT IGNORE INTO db_matrix_stops (id_agente , agente , data_pausa , data_despausa , seg_pausado , id_pausa , tempo_pausado , pausa)\nVALUES ({{ $json.id_agente }}, '{{ $json.agente }}', '{{ $json.data_pausa }}', '{{ $json.data_despausa }}', {{ $json.seg_pausado }}, {{ $json.id_pausa }}, '{{ $json.tempo_pausado }}', '{{ $json.pausa }}');\n"},"id":"1d7f4ae8-ba6c-4c76-9289-033a697d83d6","name":"Inserir no Banco","type":"n8n-nodes-base.mySql","typeVersion":1,"position":[1264,-96],"credentials":{"mySql":{"id":"oMA4i34MCkG3AGNu","name":"MySQL account"}}},{"parameters":{"jsCode":"const newItems = [];\n\nfor (const item of items) {\n  if (!item.json.body || !item.json.body.rows) continue;\n\n  for (const row of item.json.body.rows) {\n    newItems.push({\n      json: {\n        id_agente: Number(row.id_agente),\n        agente: row.agente,\n        data_pausa: row.data_pausa,\n        data_despausa: row.data_despausa,\n        seg_pausado: Number(row.seg_pausado),\n        id_pausa: Number(row.id_pausa),\n        tempo_pausado: row.tempo_pausado,\n        pausa: row.pausa,\n      }\n    });\n  }\n}\n\nreturn newItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1056,-96],"id":"985918f0-c46e-4077-a901-c6b99a4095f6","name":"Code"}],"connections":{"IF Token Inválido":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Gerar Novo Token","type":"main","index":0}]]},"Hoje":{"main":[[{"node":"Pagina Inicial","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Gerar Token","type":"main","index":0}]]},"Buscar Dados":{"main":[[{"node":"Code","type":"main","index":0}]]},"Salvar Token":{"main":[[{"node":"Buscar Dados","type":"main","index":0}]]},"Get Pausas":{"main":[[{"node":"IF Token Inválido","type":"main","index":0}]]},"If":{"main":[[{"node":"Incrementar Page","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Gerar Novo Token":{"main":[[{"node":"Salvar Token","type":"main","index":0}]]},"Incrementar Page":{"main":[[{"node":"Get Pausas","type":"main","index":0}]]},"Pagina Inicial":{"main":[[{"node":"Get Pausas","type":"main","index":0}]]},"Gerar Token":{"main":[[{"node":"Ontem","type":"main","index":0}]]},"Ontem":{"main":[[{"node":"Hoje","type":"main","index":0}]]},"Inserir no Banco":{"main":[[{"node":"If","type":"main","index":0}]]},"Code":{"main":[[{"node":"Inserir no Banco","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-08-14T06:00:58.009-03:00","Readable date":"August 14th 2025, 6:00:58 am","Readable time":"6:00:58 am","Day of week":"Thursday","Year":"2025","Month":"August","Day of month":"14","Hour":"06","Minute":"00","Second":"58","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"05b85e59-5748-4ec1-b75a-abb2956f4f99","triggerCount":0,"shared":[{"createdAt":"2025-08-14T12:53:36.345Z","updatedAt":"2025-08-14T12:53:36.345Z","role":"workflow:owner","workflowId":"BbiFzpRVEqiHISvp","projectId":"T3171E2RbgkIbJjB"}],"tags":[]}