mc_iamarix-CNHo5ZPuMiVyNv2E.json
{"createdAt":"2025-09-02T13:02:33.093Z","updatedAt":"2025-09-02T19:22:32.000Z","id":"CNHo5ZPuMiVyNv2E","name":"MC_IAmarix","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"16oL4fD-g5SjJID8tjTJkAbBvhd9nFZ8biaY6tFE8AtE","mode":"list","cachedResultName":"Cases_curso_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16oL4fD-g5SjJID8tjTJkAbBvhd9nFZ8biaY6tFE8AtE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1450601,"mode":"list","cachedResultName":"Case 2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16oL4fD-g5SjJID8tjTJkAbBvhd9nFZ8biaY6tFE8AtE/edit#gid=1450601"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $json.Nome }}","WhatsApp":"={{ $json.idConversa }}"},"matchingColumns":[],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"WhatsApp","displayName":"WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[752,432],"id":"9bec2a09-f7e8-4241-8495-babbb3fbfff6","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"jlSK6LVQmnLP7ZaJ","name":"Google Sheets account 2"}},"disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.Mensagem }}","options":{"systemMessage":"Você é um agente de um time de financeiro humanizado Sebratel Tecnologia, provedora de internet na região metropolitana de Porto Alegre. \n\nData de hoje é: {{ $('Code').item.json.dataAtual }}.\n\nSe a primeira mensagem da conversa for o número 2, é porque o cliente te escolheu para resolver o problema dele.\n\nRegras gerais\n 1. Responda de forma clara, simpática e profissional.\n 2. Se o usuário não informar CPF ou CNPJ, solicite educadamente.\n 3. Sempre normalize documentos para conter apenas números (ex: \"123.456.789-00\" → \"12345678900\").\n\n1. Sempre consulte os dados do cliente na ferramenta, execute a ferramenta 'consulta_pessoa'.\n  Retorno:\n{\n  \"id\": clientId,\n  \"name\": \"João da Silva\",\n  \"email\": \"joao@email.com\",\n  \"phone\": \"11999999999\"\n}\n Sempre chame o cliente pelo nome quando disponível.\n Encaminhe id do cliente que está no campo \"id\" para demais ferramentas no formato:\n[\n  {\n    \"clientId\": clientId\n  }\n]\n\n2.Verificação de etiqueta (consulta_etiqueta)\n 1. Sempre antes de abrir solicitação, use esta ferramenta.\n 2. Ela retorna:\n { \"id\": \"12345\" }\n 3. Se houver uma etiqueta → apresente e peça confirmação.\n 4. Se houver várias → apresente todas e peça para escolher.\n 5. Encaminhe a etiqueta confirmada:\n[\n  {\n    \"tagId\": 12345\n  }\n]\n\n3. Regras para abertura de solicitação (abre_solicitacao)\n 1. Somente abrir se realmente necessário, após avaliar o problema reportado.\n 2.  Confirme com o cliente no mínimo duas datas e turnos diferentes antes de prosseguir, (NÃO PERGUNTE HORÁRIOS):\n Crie:\n  Título: máximo 4 palavras-chave.\n  Descrição: detalhar dores, contexto, impacto e as duas datas da preferência do cliente. \n Exemplo: Amanhã de Manhã e Hoje a Tarde. \n Converta então para o dia atual -> turno e o dia de amanhã -> turno.\nFormato para envio:\n[\n  {\n    \"title\": \"Internet instável residência\",\n    \"description\": \"Cliente relata quedas constantes na internet durante a noite, impactando reuniões de trabalho remoto.\"\n  }\n]\n 3. Questione-o se ele tem certeza que deseja abrir uma solicitação no ERP de Produção.\n 4. Informa para o cliente que o protocolo foi criado e informe o número de protocolo pra ele através do campo: \"protocol\". Cujo retono da API será:\n{\n    \"success\": true,\n    \"messages\": null,\n    \"response\": {\n        \"protocol\": porotocolValue,\n        \"assignmentId\": assignmentIdValue,\n        \"message\": \"\"\n    },\n    \"dataResponseType\": \"<>f__AnonymousType955`3\",\n    \"elapsedTime\": null\n}\n\n\n\n5. Caso ele não tenha etiquetas disponíveis tente vender planos de fibra da empresa sebratel para eles:\n[6028] STFiber IP FULL - 4M\tST CORP 4 MB R$2600,00\n[6023] ST PRO - 3 MB\tST PRO 3 MB - R$199,90\n[6025] ST PRO - 5 MB\tST PRO 5 MB - R$319,00\n[6026] ST PRO - 6 MB\tST PRO 6 MB - R$379,90\n[6027] ST PRO - 7 MB\tST PRO 7 MB - R$479,90\n[6034] STFiber PME - 20Mb (20Mb Down / 2Mb Up)\tSTFibra 20Mb - 139,90\n[9005] TRANSPORTE - 2M\tTrans - Terceiros - 2 Mb\n[6031] STFiber PME - 10Mb (10Mb Down / 1Mb Up)\tSTFiber 10 Mb - R$ 429,90\nST CORP 5 MB\tST CORP 5 MB\n[6041] STFiber PME - 8Mb (8Mb Down / 1Mb Up)\tSTFiber 8 Mb - R$ 139,90\n[6009] ST IP FULL - 2M\tST CORP 2Mb Full\n\nⓂ️ Regra para protocolos Matrix/Chats\nSempre que o usuário perguntar sobre protocolos, atendimentos ou chats → use a ferramenta consulta_mysql.\nℹ️ Informações da tabela\nNome da tabela: db_matrix\nColunas disponíveis (use somente estas, nunca invente):\nprotocolo, data_entrada, data_atendimento, data_finalizacao, classificacao, servico, canal, data_fila, tempo_fila, tmic, tmia, ativo_receptivo, atendente, email, cpf\nservico → nome da equipe que atendeu.\ncanal → plataforma utilizada (WhatsApp, Instagram etc).\n📏 Regras para construção da query\nSempre monte queries válidas em MySQL.\nSempre retorne somente no formato JSON, nunca em texto solto.\nO JSON deve obrigatoriamente estar neste formato:\n[\n  {\n    \"query\": \"SELECT protocolo, data_entrada, data_atendimento FROM db_matrix WHERE cpf = '12345678900' LIMIT 5;\"\n  }\n]\nUse sempre os nomes exatos das colunas listadas acima.\nSempre aplique LIMIT 5 para evitar excesso de dados.\nFiltros obrigatórios:\nSe usuário pedir por protocolo → filtre por protocolo.\nSe usuário perguntar sobre tempo → use tempo_fila, tmic e tmia.\nNunca traga todos os registros sem filtro.\nSe o usuário não passar CPF, protocolo ou atendente → pergunte educadamente qual filtro deseja usar.\n\n🧩 Exemplos\nUsuário: “Quero saber o protocolo do agente joaoSilva”\n[\n  {\n    \"query\": \"SELECT protocolo FROM db_matrix WHERE atendente = 'joaoSilva' LIMIT 5;\"\n  }\n];\n\nUsuário: “Qual a data do atendimento cujo protocolo é 1234?”\n[\n  {\n    \"query\": \"SELECT data_atendimento FROM db_matrix WHERE protocolo = 1234 LIMIT 5;\"\n  }\n]\n\nUsuário: “Quantos atendimentos o atendente JoaoSilva realizou?”\n[\n  {\n    \"query\": \"SELECT count(protocolo) FROM db_matrix WHERE atendente LIKE 'JoaoSilva' LIMIT 3;\"\n  }\n]\n\n\n\nSempre que receber uma mensagem do usuário, avalie se ela é importante ou receptiva.  \nSe julgar importante, utilize a ferramenta send_reaction.  \nEscolha apenas um ícone de reação adequado entre: ❤️, 👍, ⚠️.  \nE envie através da variável: 'reaction' para a tool 'send_reaction'.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[1008,432],"id":"2a91d7b7-75ce-4662-8dd7-f25b8f978f0a","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[448,800],"id":"f68f6ada-23b9-458c-89b9-2a29d5373063","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"JKL6I87VMb0TCoX7","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1984,432],"id":"53079c8e-6bff-4123-a19a-fa646fb133d5","name":"No Operation, do nothing"},{"parameters":{"httpMethod":"POST","path":"receber-mensagem-matrix","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1632,448],"id":"29a5ec81-8974-4b46-9956-ab0ccc528688","name":"Webhook","webhookId":"75e75c19-18ee-4b0c-9d35-c4cf13887ad8"},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3E59F2AFB78BA023505DC200745B43DD/token/CC3B98858E449DE870658751/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"client-token","value":"F5b10efc71d93404488016342811ba814S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"= {{ $('Edit Fields').item.json.idConversa }}"},{"name":"message","value":"={{ $('AI Agent').item.json.output }}"},{"name":"send_typing","value":"={{ $json.wordCount }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1696,432],"id":"3909d531-3b5d-4494-9da5-2f20771d3a9c","name":"HTTP Request"},{"parameters":{"content":"## I'm a note \nTodos:  1o atendimento cordial e receptivo, sem menus (dar opção de falar com humano)\n\nBackoffice: Validador de documentos\n\nOperacional: Validador de fotos da ativação/manutenção\nOperacional: Validador de materiais da ativação/manutenção\nOperacional: Validador de documentos/assinaturas da ativação/manutenção\n\nFinanceiro: Validador de comprovante de pagamento - Desbloqueio de contrato\nFinanceiro: Desbloqueio por confiança\nFinanceiro: Envio da segunda via do boleto\nFinanceiro: Envio da linha digitável do PIX.\nFinanceiro: Realizar Cobranças agendar retiradas de equipamentos.\nCampanhas: Campanhas de cobranças dos negativados.\n\n\nRelacionamento: Troca de endereço (pedir por)\nRelacionamento: Troca de titularidade (se vou validar dados, posso fazer)\nRelacionamento: Mudança de plano - ofertar e mudar (se vou validar dados, posso fazer)\nRelacionamento: Cancelamento (pedir por, encaminhar a área)\nRelacionamento: Atualização Cadastral\n\nSuporte: Identificação de Massiva\nSuporte: Identificação de LOS (ONT/PPPoE fora)\nSuporte: Troca de senha da rede Wifi\nSuporte: Troca do nome da rede wifi\nSuporte: pergunta e (re)agenda sobre a visita de manutenção (informar data/turno/hora marcada)\nSuporte: pergunta e (re) agenda sobre a visita de ativação (informar data/turno/hora marcada)\n","height":656,"width":688},"type":"n8n-nodes-base.stickyNote","position":[-1712,704],"typeVersion":1,"id":"306dbf1f-619f-4a0a-8bb8-09b3e2c7a46b","name":"Sticky Note"},{"parameters":{"content":"## Start\nRecebe a mensagem do Whats","height":368,"width":272},"type":"n8n-nodes-base.stickyNote","position":[-1712,320],"typeVersion":1,"id":"4ceb3e28-d7b4-421f-ae45-f5983effc440","name":"Sticky Note1"},{"parameters":{"content":"## Condicionais\nVerifica algumas condicionais da mensagem","height":368,"width":400,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1424,320],"typeVersion":1,"id":"511b7132-c956-42ce-aee4-da5e34d631d2","name":"Sticky Note2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b62fe41-1d7a-4f13-9390-91b9b6370ab5","leftValue":"={{ $json.body.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"ca9290e3-cd45-4434-9016-4c58f11d4bad","leftValue":"={{ $json.body.isNewsletter }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"b462119a-ed14-4edd-a400-4dc52658fcc6","leftValue":"={{ $json.body.broadcast }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"2992c889-6e5f-4ae9-81f2-3eceace36446","leftValue":"={{ $json.body.fromApi }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"791164c1-ac46-4892-bacf-189259f1f324","leftValue":"={{ $json.headers['z-api-token'] }}","rightValue":"CC3B98858E449DE870658751","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1392,448],"id":"b70df277-e85e-4116-a0b5-e3b69e9bf129","name":"If1","disabled":true},{"parameters":{"content":"## Condicionais\nVerifica algumas condicionais da mensagem","height":368,"width":288,"color":2},"type":"n8n-nodes-base.stickyNote","position":[656,304],"typeVersion":1,"id":"195c7fe8-0a4a-4637-ad3a-6b07fed92a02","name":"Sticky Note3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1216,544],"id":"791e4a57-7000-4eea-ae42-49947f109281","name":"Do nothing"},{"parameters":{"content":"## Agente IA Suporte\nMotor do agente de IA","height":368,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","position":[960,304],"typeVersion":1,"id":"c36bb38a-f02a-4994-845b-9e1920c166a7","name":"Sticky Note4"},{"parameters":{"content":"## Encaminhamento\nEncaminha a mensagem gerada pelo motor do agente","height":368,"width":288,"color":2},"type":"n8n-nodes-base.stickyNote","position":[1600,304],"typeVersion":1,"id":"5d25aec5-f397-4c87-a43e-cbdca4a3052f","name":"Sticky Note5"},{"parameters":{"content":"## Final\nFinaliza o atendimento","height":368,"width":288,"color":2},"type":"n8n-nodes-base.stickyNote","position":[1904,304],"typeVersion":1,"id":"652b3a98-adff-4ae8-b8b2-81a345941220","name":"Sticky Note6"},{"parameters":{"content":"## Gemini\nModelo da IA","height":320,"width":272,"color":6},"type":"n8n-nodes-base.stickyNote","position":[352,688],"typeVersion":1,"id":"f8607843-0dc7-4d99-9151-11ff601f44a7","name":"Sticky Note7"},{"parameters":{"content":"## Memória IA\nArmanexamento da IA","height":320,"width":272,"color":7},"type":"n8n-nodes-base.stickyNote","position":[640,688],"typeVersion":1,"id":"5b8e3afb-d9e8-4a83-8beb-0d4f38f7990d","name":"Sticky Note8"},{"parameters":{"content":"## Tool 1\nVerifica quem é o cliente","height":848,"width":1264,"color":5},"type":"n8n-nodes-base.stickyNote","position":[928,688],"typeVersion":1,"id":"3b4b79b7-dbb3-4ff3-97c8-3517fd699512","name":"Sticky Note9"},{"parameters":{"content":"## Condicionais\nVerifica algumas condicionais da mensagem","height":368,"width":288,"color":2},"type":"n8n-nodes-base.stickyNote","position":[352,304],"typeVersion":1,"id":"f42ed57e-e78a-40fc-b20c-203556377a86","name":"Sticky Note11"},{"parameters":{"assignments":{"assignments":[{"id":"77005381-34d3-42d7-ba86-2eff6ae91f97","name":"Nome","value":"={{ $('Webhook').item.json.body.chatName }}","type":"string"},{"id":"5c413e95-b1b7-49c1-8cd4-d4de21df26c6","name":"idConversa","value":"={{ $('Webhook').item.json.body.phone }}","type":"string"},{"id":"e9cdbba3-6164-47c1-a042-a5c7201f3c8c","name":"Mensagem","value":"={{ $json.Mensagem }}","type":"string"},{"id":"e9887fc4-1508-4626-a576-6fd098ef10ac","name":"bearerToken","value":"=Bearer {{ $('gera_novo_token').item.json.access_token }}","type":"string"},{"id":"7d811581-bea1-426f-9cc7-ec4b297429ce","name":"idConversa","value":"={{ $('Webhook').item.json.headers.idconversa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,432],"id":"46758b02-8f55-43be-9651-7ceac27e7ccf","name":"Edit Fields"},{"parameters":{"toolDescription":"Identifica a pessoa através do CPF ou CNPJ capturado na conversa.\n\nutilize a url: \nhttps://erp.sebratel.net.br:45715/external/integrations/thirdparty/people/txid/\n\nse o CPF ou CNPJ for 11111111111 entao faça:\nhttps://erp.sebratel.net.br:45715/external/integrations/thirdparty/people/txid/11111111111.","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $('Edit Fields').item.json.bearerToken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1104,1008],"id":"42c9b53d-56fa-481f-ae39-1b8a772782f2","name":"consulta_pessoa"},{"parameters":{"toolDescription":"Realiza uma abertura de solicitação de visita técnica no sistema.","method":"POST","url":"=https://erp.sebratel.net.br:45715/external/integrations/thirdparty/opendetailedsolicitation","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $('Edit Fields').item.json.bearerToken }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"incidentStatusId\": 1,\n    \"personId\": {{ $fromAI('clientId') }},\n    \"clientId\": {{ $fromAI('clientId') }},\n    \"incidentTypeId\": 1174,\n    \"contractServiceTagId\": {{ $fromAI('tagId') }},\n    \"catalogServiceId\": 1098,\n    \"serviceLevelAgreementId\": 122,\n    \"catalogServiceItemId\": null,\n    \"catalogServiceItemClassId\": null,\n    \"assignment\": {\n        \"title\": \"{{ $fromAI('title') }}\",\n        \"description\": \"{{ $fromAI('description') }}\",\n        \"priority\": 1,\n        \"beginningDate\": null,\n        \"finalDate\": null,\n        \"companyPlaceId\": 1 \n        },\n    \"contractServiceTagCategory\": \"0A3X17P9\", \n    \"solicitationServiceCategory1\": \"9f855136\",\n    \"solicitationServiceCategory2\": \"234d885e\",\n    \"solicitationServiceCategory3\": \"c489c775\"\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1312,1248],"id":"f924cd67-1452-47e0-8635-7611e21be6e8","name":"abre_solicitacao"},{"parameters":{"content":"## Gera token\nVerifica algumas condicionais da mensagem","height":368,"width":288,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-704,320],"typeVersion":1,"id":"71015d70-46e6-4624-8baf-7ca1804a284e","name":"Sticky Note15"},{"parameters":{"method":"POST","url":"https://erp.sebratel.net.br:45700/connect/token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"grant_type","value":"client_credentials"},{"name":"scope","value":"syngw"},{"name":"client_id","value":"544e262e-52f4-44c1-a66f-3e19cf7f4649"},{"name":"client_secret","value":"91ff11d5-4141-4308-8104-87b00287a429"},{"name":"syndata","value":"TWpNMU9EYzVaakk1T0dSaU1USmxaalprWldFd00ySTFZV1JsTTJRMFptUT06WlhsS1ZHVlhOVWxpTTA0d1NXcHZhVTFVWnpKTWFrbDRUMU0wZUUxcVozVk5hbFY0U1dsM2FWVXpiSFZTUjBscFQybEthMWx0Vm5SalJFRjNUVlJCZDBscGQybFNSMHBWWlZoQ2JFbHFiMmxqUnpsNlpFZGtlVnBZVFdsbVVUMDk6WlRoa01qTTFZamswWXpsaU5ETm1aRGczTURsa01qWTJZekF4TUdNM01HVT0="}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-608,432],"id":"33fc1283-7e85-47f1-a89f-38dcfb49a139","name":"gera_novo_token"},{"parameters":{"descriptionType":"manual","toolDescription":"Executa query para obter dados de protocolos de chats como data e hora de atendimentos, atendentes e outras informações.\nⓂ️ Regra para protocolos Matrix/Chats\nSempre que o usuário perguntar sobre protocolos, atendimentos ou chats → use a ferramenta consulta_mysql.\n\nℹ️ Informações da tabela\nNome da tabela: db_matrix\nColunas disponíveis (use somente estas, nunca invente):\nprotocolo, data_entrada, data_atendimento, data_finalizacao, classificacao, servico, canal, data_fila, tempo_fila, tmic, tmia, ativo_receptivo, atendente, email, cpf\nservico → nome da equipe que atendeu.\ncanal → plataforma utilizada (WhatsApp, Instagram etc).\n\n📏 Regras para construção da query\nSempre monte queries válidas em MySQL.\nSempre retorne somente no formato JSON, nunca em texto solto.\nO JSON deve obrigatoriamente estar neste formato:\n[\n  {\n    \"query\": \"SELECT protocolo, data_entrada, data_atendimento FROM db_matrix WHERE cpf = '12345678900' LIMIT 5;\"\n  }\n]\n\nUse sempre os nomes exatos das colunas listadas acima.\nSempre aplique LIMIT 5 para evitar excesso de dados.\nFiltros obrigatórios:\nSe usuário pedir por protocolo → filtre por protocolo.\nSe usuário perguntar sobre tempo → use tempo_fila, tmic e tmia.\nNunca traga todos os registros sem filtro.\nSe o usuário não passar CPF, protocolo ou atendente → pergunte educadamente qual filtro deseja usar.\n\n🧩 Exemplos\nUsuário: “Quero saber o protocolo do agente joaoSilva”\n[\n  {\n    \"query\": \"SELECT protocolo FROM db_matrix WHERE atendente = 'joaoSilva' LIMIT 5;\"\n  }\n];\n\nUsuário: “Qual a data do atendimento cujo protocolo é 1234?”\n[\n  {\n    \"query\": \"SELECT data_atendimento FROM db_matrix WHERE protocolo = 1234 LIMIT 5;\"\n  }\n]\n\nUsuário: “Quantos atendimentos o atendente JoaoSilva realizou?”\n[\n  {\n    \"query\": \"SELECT count(protocolo) FROM db_matrix WHERE atendente LIKE 'JoaoSilva' LIMIT 3;\"\n  }\n]\n\n\n\n ","operation":"executeQuery","query":"{{ $fromAI('query') }}","options":{"connectionTimeoutMillis":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Connection_Timeout', ``, 'number') }}"}},"type":"n8n-nodes-base.mySqlTool","typeVersion":2.5,"position":[1008,864],"id":"1de30771-388b-437e-a760-bea22c1b569d","name":"consulta_mysql","credentials":{"mySql":{"id":"oMA4i34MCkG3AGNu","name":"MySQL account"}}},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  item.json.dataAtual = new Date().toLocaleDateString(\"pt-BR\");\n}\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-912,432],"id":"548ff67b-88f0-4333-a049-34be1adf5871","name":"Code"},{"parameters":{"content":"## Data atual\nVerifica a data atual\n","height":368,"width":288,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-1008,320],"typeVersion":1,"id":"938125ad-4e41-4a70-b615-5c1a3448e88d","name":"Sticky Note16"},{"parameters":{"operation":"executeQuery","query":"    select cst.id, cst.description, p.tx_id, c.id contractId from contract_service_tags cst\n    left join people p on p.id = cst.client_id\n    left join contracts c on c.id=cst.contract_id \n    where p.tx_id = {{ $fromAI('cpf') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1184,1168],"id":"2042e247-a182-408e-b7c9-7794dfa622a8","name":"consulta_etiqueta","credentials":{"postgres":{"id":"WPeCduylH9tQ5UXn","name":"Postgres account"}}},{"parameters":{"toolDescription":"Realiza uma abertura de solicitação de visita técnica no sistema.","method":"POST","url":"=https://erp.sebratel.net.br:45715/external/integrations/thirdparty/getcontractbillets/{{ $fromAI('contractId') }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $('Edit Fields').item.json.bearerToken }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1472,1296],"id":"a8d32f5b-3d3b-4de8-948d-e01e0ecb9b7f","name":"consulta_faturas"},{"parameters":{"operation":"executeQuery","query":"{{ $fromAI('query') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1616,1328],"id":"87030589-f1a3-48bf-99d6-977522c81ea9","name":"consulta_erp","credentials":{"postgres":{"id":"WPeCduylH9tQ5UXn","name":"Postgres account"}}},{"parameters":{"toolDescription":"Realiza uma abertura de solicitação de visita técnica no sistema.","method":"POST","url":"=https://api.z-api.io/instances/3E59F2AFB78BA023505DC200745B43DD/token/CC3B98858E449DE870658751/send-reaction","sendHeaders":true,"headerParameters":{"parameters":[{"name":"phone","value":"={{ $('Webhook').item.json.body.phone }}"},{"name":"reaction","value":"={{ $fromAI('reaction') }}"},{"name":"messageId","value":"={{ $('Webhook').item.json.body.messageId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1776,1344],"id":"851e1955-c7a6-4acf-bea7-df9645f21add","name":"send_reaction","disabled":true},{"parameters":{"content":"## Encaminhamento\nEncaminha a mensagem gerada pelo motor do agente","height":368,"width":288,"color":2},"type":"n8n-nodes-base.stickyNote","position":[1296,304],"typeVersion":1,"id":"17ade575-73a2-4d96-a899-85baccc49f4e","name":"Sticky Note10"},{"parameters":{"content":"## Analyze Text","height":192,"width":432,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-96,288],"typeVersion":1,"id":"9fb04f9b-dbdb-42fe-9828-bdb3f3541082","name":"Sticky Note17"},{"parameters":{"content":"## Analiyze Audio\n","height":192,"width":432,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-96,496],"typeVersion":1,"id":"c564c819-5027-48d8-b240-2ef06427af45","name":"Sticky Note18"},{"parameters":{"content":"## Analiyze Image\n","height":192,"width":432,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-96,704],"typeVersion":1,"id":"91dcadc7-2ded-467d-900a-965797ffaf58","name":"Sticky Note19"},{"parameters":{"content":"## Analiyze Document\n","height":192,"width":432,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-96,80],"typeVersion":1,"id":"d038398c-5a8b-4262-a30d-25e162b7307c","name":"Sticky Note20"},{"parameters":{"resource":"audio","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"audioUrls":"={{ $('Webhook').item.json.body.audio.audioUrl }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-48,336],"id":"3c399e82-8334-4937-9bcd-55e1681ddc48","name":"Analyze audio","credentials":{"googlePalmApi":{"id":"JKL6I87VMb0TCoX7","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"0a236099-525e-4748-a57d-8b8e2c63c48b","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"=","rightValue":""}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"24b7e8b8-6fce-4ddc-94b6-30b852891995","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $('Webhook').item.json.body.audio.audioUrl }}","rightValue":""}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0520071e-8968-44c6-95ff-e49076326be0","leftValue":"={{ $('Webhook').item.json.body.document.documentUrl }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"351f017b-c3ff-46cf-9646-fa6c48f16e08","leftValue":"={{ $('Webhook').item.json.body.image.imageUrl }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"}]},"options":{}},"id":"aeba6400-9801-4c1b-9600-574b8f95eace","name":"Text Or Voice","type":"n8n-nodes-base.switch","position":[-304,400],"typeVersion":3.2},{"parameters":{"content":"## Gera token\nVerifica algumas condicionais da mensagem","height":368,"width":288,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-400,320],"typeVersion":1,"id":"eda78698-d112-49f5-bbba-8f35ac5fd49d","name":"Sticky Note21"},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"documentUrls":"={{ $('Webhook').item.json.body.document.documentUrl }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-32,544],"id":"b2e4fb4c-2a4b-4396-a842-add256e39b72","name":"Analyze document","credentials":{"googlePalmApi":{"id":"JKL6I87VMb0TCoX7","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"imageUrls":"={{ $('Webhook').item.json.body.image.imageUrl }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-32,752],"id":"251e9a67-3bcc-438d-92d9-16598654edc8","name":"Analyze image","credentials":{"googlePalmApi":{"id":"JKL6I87VMb0TCoX7","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"e9cdbba3-6164-47c1-a042-a5c7201f3c8c","name":"Mensagem","value":"={{ $json.content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,336],"id":"bd8b3b9b-3812-4efc-ac23-d03c5e5f698d","name":"editAudio"},{"parameters":{"jsCode":"// Obtemos o texto do output do agente\nconst text = $input.first().json.output || \"\";\n\n// Remove espaços extras e conta as palavras separando por espaços\nconst wordCount = text.trim().split(/\\s+/).filter(word => word.length > 0).length;\n\n// Retornamos como número inteiro\nreturn [\n  {\n    json: {\n      wordCount: wordCount * 0.25\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,432],"id":"836f6b0a-30df-4f10-b94a-8052d9b30505","name":"countMessage"},{"parameters":{"assignments":{"assignments":[{"id":"e9cdbba3-6164-47c1-a042-a5c7201f3c8c","name":"Mensagem","value":"={{ $('Webhook').item.json.body.Mensagem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,128],"id":"565fe981-1b05-43ec-b2c8-dd06af1d8c5e","name":"editText"},{"parameters":{"assignments":{"assignments":[{"id":"e9cdbba3-6164-47c1-a042-a5c7201f3c8c","name":"Mensagem","value":"={{ $json.content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,544],"id":"0a99d406-f373-4cc4-a29e-d5411bcddb5b","name":"editDocument"},{"parameters":{"assignments":{"assignments":[{"id":"e9cdbba3-6164-47c1-a042-a5c7201f3c8c","name":"Mensagem","value":"={{ $json.content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,752],"id":"bc668262-67ec-4054-8e83-b81b6fabc926","name":"editImage"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.idConversa }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[736,800],"id":"1930cc44-12e2-4761-9d68-e1dc6a74f641","name":"Redis Chat Memory","credentials":{"redis":{"id":"mGJhO8ABjjvK9WUO","name":"Redis account"}}}],"connections":{"Append row in sheet":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"countMessage","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"If1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If1":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Do nothing","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"consulta_pessoa":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"abre_solicitacao":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"gera_novo_token":{"main":[[{"node":"Text Or Voice","type":"main","index":0}]]},"consulta_mysql":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"gera_novo_token","type":"main","index":0}]]},"consulta_etiqueta":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consulta_faturas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consulta_erp":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"send_reaction":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Analyze audio":{"main":[[{"node":"editAudio","type":"main","index":0}]]},"Text Or Voice":{"main":[[{"node":"editText","type":"main","index":0}],[{"node":"Analyze audio","type":"main","index":0}],[{"node":"Analyze document","type":"main","index":0}],[{"node":"Analyze image","type":"main","index":0}]]},"Analyze document":{"main":[[{"node":"editDocument","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"editImage","type":"main","index":0}]]},"editAudio":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"countMessage":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"editText":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"editDocument":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"editImage":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"48352114-09d4-427e-9833-98a17a8acf16","triggerCount":0,"shared":[{"createdAt":"2025-09-02T13:02:33.098Z","updatedAt":"2025-09-02T13:02:33.098Z","role":"workflow:owner","workflowId":"CNHo5ZPuMiVyNv2E","projectId":"T3171E2RbgkIbJjB"}],"tags":[]}