my-workflow-2-cyVn7KdL9gUFp9cR.json
{"createdAt":"2025-07-26T17:29:33.550Z","updatedAt":"2025-07-30T17:36:19.000Z","id":"cyVn7KdL9gUFp9cR","name":"My workflow 2","active":false,"isArchived":true,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-304,16],"id":"2c9c5984-00ce-4267-9dfa-17467cde964a","name":"When chat message received","webhookId":"b6e764d5-0f5d-4be3-9d51-09dc6dcaccf0"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=Você é um especialista em PostgreSQL.\nGere apenas a query SQL com base nesta pergunta: \"{{ $json.chatInput }}\".\nConsidere a estrutura:\nTabela: vendas\nColunas: cliente, produto, valor, data "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-32,16],"id":"726480fb-30e9-4e22-bc8a-85d8c3886055","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-80,192],"id":"2a68d549-4747-4f8a-8ce7-a941b57c9186","name":"Groq Chat Model","credentials":{"groqApi":{"id":"HErl272LaZ9mTyQ9","name":"Groq account 2"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[64,208],"id":"76ed6e78-41fb-46c3-a15b-e99eacc25b24","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"VOePVehRmDnVynKO","name":"dbVoalle"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Execute a SQL query in Postgres","operation":"executeQuery","query":"Você é um especialista em PostgreSQL.\nGere apenas a query SQL com base nesta pergunta: \"{{ $json.chatInput }}\".\nConsidere a estrutura:\nTabela: vendas\nColunas: cliente, produto, valor, data\n","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[288,192],"id":"dc49cdf5-d160-4186-95ec-7b7928a31905","name":"Execute a SQL query in Postgres1","credentials":{"postgres":{"id":"pZZuMR6i37yaEw54","name":"Postgres account 2"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Execute a SQL query in Postgres1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"042fe36a-e826-4389-9b68-b42b0c510a2e","triggerCount":0,"shared":[{"createdAt":"2025-07-26T17:29:33.559Z","updatedAt":"2025-07-26T17:29:33.559Z","role":"workflow:owner","workflowId":"cyVn7KdL9gUFp9cR","projectId":"2CRGWlpvxl6HNury"}],"tags":[]}