my-workflow-9-HnIW95Lpy9MrLnuY.json
{"createdAt":"2025-09-03T12:45:11.420Z","updatedAt":"2025-09-04T09:37:49.000Z","id":"HnIW95Lpy9MrLnuY","name":"My workflow 9","active":true,"isArchived":false,"nodes":[{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"f5d33994-9b04-4aed-947a-6464073550cc","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[912,512]},{"parameters":{"content":"## Acionar\nVocê pode alterá-lo para [gatilho \"Agendar\"](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) para fazer backups regularmente.","height":380,"width":182},"id":"98646aec-daf6-4d90-b752-5c0673c00f20","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-576,304]},{"parameters":{"content":"## Definir e formatar data/hora\nEsses nós são responsáveis ​​por definir a data e hora atuais no formato `dd-MM-yyyy/H:mm`. Data e hora são usadas para compor mensagens de commit no GitHub, por exemplo: `backup-12-07-2023/14:18`.","height":379,"width":585},"id":"de2403fa-478e-41b0-8de5-1b81fa618c0a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-368,304]},{"parameters":{"content":"## Faça uma lista de arquivos existentes\nRetorne uma lista de arquivos existentes (backups) no repositório GitHub. Os dados retornados por esses nós são usados ​​pelo nó \"IF\" (posteriormente no fluxo de trabalho) para verificar se os arquivos de backup devem ser criados ou atualizados.","height":379,"width":390},"id":"c2d7d70b-67c8-4055-9c21-4de0c609320c","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[224,304]},{"parameters":{"content":"## Recupere os workflows\nObtenha todos os fluxos de trabalho da sua instância n8n. Lembre-se de que **suas credenciais precisam apontar para a instância da qual você deseja fazer backup.**","height":379,"width":424},"id":"addedb21-a8e0-4585-b6a0-8dce2606a4e8","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[640,304]},{"parameters":{"content":"## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.","height":731.633426614796,"width":703.8733020263451},"id":"813999b3-2319-47f8-98b6-68794e83aa7c","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1088,80]},{"parameters":{"content":"## ⚠️ Aviso\n\n1. Automação inspirada do Canal do Oskar > [Canal dele no YouTube](https://www.youtube.com/watch?v=dNuVuoPD0Jo). \n","height":135,"width":509},"id":"1f318f36-7439-4b9a-a893-7730d711684a","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-576,144]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"MisaelCruz15","mode":"name"},"repository":{"__rl":true,"value":"https://github.com/MisaelCruz15/flows_n8n","mode":"url"},"filePath":"="},"id":"5401d23e-0147-4e76-b895-3cbea45da68a","name":"Liste o Arquivos do Repositorio [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[272,512],"alwaysOutputData":true,"webhookId":"a3b45a11-c58a-4bea-946a-dc0bb6ca0e28","credentials":{"githubApi":{"id":"dlf8qGBmmVw4gtcj","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"9f8f8138-29aa-44d5-8dda-0433f0b756ef","name":"Combine os nomes do Arquivos [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[464,512]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"9395c960-215a-4a97-a6d8-bf196f5cf4e2","name":"Setar a data do Commit","type":"n8n-nodes-base.set","typeVersion":2,"position":[64,512]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine os nomes do Arquivos [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"2834acdc-6d71-4e6d-ab6d-7efdea2a5830","name":"Cheque se existem arquivos no Repositorio","type":"n8n-nodes-base.if","typeVersion":1,"position":[1392,432]},{"parameters":{"options":{}},"id":"c2a20d30-968a-4fd5-825b-6989601ee6fe","name":"Sete a data","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-336,512]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"b462a811-5b86-4c0a-bc57-73d2df09bdb6","name":"Data formatada","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-128,512]},{"parameters":{"batchSize":1,"options":{}},"id":"4057791d-aee7-443d-b903-7b4fc25c3059","name":"Dividindo em Arquivos Únicos","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1152,512]},{"parameters":{"filters":{},"requestOptions":{}},"id":"2415af44-a5ee-4f0f-8f01-99b4e4f4a8f9","name":"Recupere os workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[704,512],"credentials":{"n8nApi":{"id":"R94ZtrorDI6rneAd","name":"n8n account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"Sebratel","mode":"name"},"repository":{"__rl":true,"value":"n8n-workflow","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Setar a data do Commit'].json.commitDate }}"},"id":"567902f8-6d5a-427b-a069-feec29045752","name":"Atualiza Arquivos [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1616,224],"webhookId":"4e812872-5a80-41f3-aa8e-b51892027a91","credentials":{"githubApi":{"id":"dlf8qGBmmVw4gtcj","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"=MisaelCruz15","mode":"name"},"repository":{"__rl":true,"value":"=flows_n8n","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Setar a data do Commit'].json.commitDate }}"},"id":"bef699d6-a1b5-435b-b2e1-0d0211dc577f","name":"Atualiza arquivos [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1616,624],"webhookId":"c42be864-5c16-45ad-a711-fd416cda53f0","credentials":{"githubApi":{"id":"dlf8qGBmmVw4gtcj","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-544,512],"id":"46441fde-55a5-424c-9961-cec57b6e5c7e","name":"Schedule Trigger"}],"connections":{"Move JSON to binary":{"main":[[{"node":"Dividindo em Arquivos Únicos","type":"main","index":0}]]},"Liste o Arquivos do Repositorio [GITHUB]":{"main":[[{"node":"Combine os nomes do Arquivos [GITHUB]","type":"main","index":0}]]},"Combine os nomes do Arquivos [GITHUB]":{"main":[[{"node":"Recupere os workflows [N8N]","type":"main","index":0}]]},"Setar a data do Commit":{"main":[[{"node":"Liste o Arquivos do Repositorio [GITHUB]","type":"main","index":0}]]},"Cheque se existem arquivos no Repositorio":{"main":[[{"node":"Atualiza Arquivos [GITHUB]","type":"main","index":0}],[{"node":"Atualiza arquivos [GITHUB]","type":"main","index":0}]]},"Sete a data":{"main":[[{"node":"Data formatada","type":"main","index":0}]]},"Data formatada":{"main":[[{"node":"Setar a data do Commit","type":"main","index":0}]]},"Dividindo em Arquivos Únicos":{"main":[[{"node":"Cheque se existem arquivos no Repositorio","type":"main","index":0}]]},"Recupere os workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Atualiza Arquivos [GITHUB]":{"main":[[{"node":"Dividindo em Arquivos Únicos","type":"main","index":0}]]},"Atualiza arquivos [GITHUB]":{"main":[[{"node":"Dividindo em Arquivos Únicos","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Sete a data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a00191e9-8cee-4647-9d8a-f01ac1e74233","triggerCount":1,"shared":[{"createdAt":"2025-09-03T12:45:11.425Z","updatedAt":"2025-09-03T12:45:11.425Z","role":"workflow:owner","workflowId":"HnIW95Lpy9MrLnuY","projectId":"T3171E2RbgkIbJjB"}],"tags":[]}