my-workflow-5-f7BAZg8DXNgfe6DT.json
{"createdAt":"2025-08-12T00:18:44.912Z","updatedAt":"2025-08-12T00:19:02.000Z","id":"f7BAZg8DXNgfe6DT","name":"My workflow 5","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-352,188],"id":"ba772230-5e32-46b1-b019-95d207c90815","name":"When clicking ‘Execute workflow’"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"output\": \"informe o usuário\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[160,336],"id":"276c6ea7-a58e-4120-abd3-6a84db4045ec","name":"Respond to Webhook"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[144,-64],"id":"2ea82eec-8f59-47db-98bc-55951f233c49","name":"AI Agent"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0034bd75-b0e1-4a30-8686-6b92eea440de","leftValue":"={{ $json.chatInput }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-128,188],"id":"78f14ee8-c54c-49c5-ba88-73dff633e308","name":"If"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[104,160],"id":"1aba957f-b7dc-49a0-8746-f754c6d7cafc","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"JKL6I87VMb0TCoX7","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[232,160],"id":"0ef29683-25f6-4b23-b013-3a8a419328e0","name":"Simple Memory"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"If","type":"main","index":0}]]},"AI Agent":{"main":[[]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f1dc0a19-11a7-4449-9427-f9ecacbd7888","triggerCount":0,"shared":[{"createdAt":"2025-08-12T00:18:44.919Z","updatedAt":"2025-08-12T00:18:44.919Z","role":"workflow:owner","workflowId":"f7BAZg8DXNgfe6DT","projectId":"UkmxdPS16V9GSHYc"}],"tags":[]}