n8n-atividade-#2---zapi-coDd5hWSVgDcrqOg.json
{"createdAt":"2025-08-09T19:50:34.107Z","updatedAt":"2025-08-12T23:42:41.000Z","id":"coDd5hWSVgDcrqOg","name":"N8N Atividade #2 - ZAPI","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"a3d05cbf-ff3e-4bdd-9e3b-06c0c453e64f","name":"idconversa","value":"={{ $json.body.phone }}","type":"string"},{"id":"f19e0da0-0f49-496c-a6fd-a088115bbdba","name":"mensagem","value":"={{ $json.body.text.message }}","type":"string"},{"id":"b3c1c266-667d-446f-b78b-ad8ab5ff8c35","name":"datetime","value":"={{ $now }}","type":"string"},{"id":"36043f72-c853-4202-aa9a-bcbabdb0b833","name":"nome","value":"={{ $('Webhook').item.json.body.chatName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,0],"id":"a25d6fae-7252-42df-a1e0-944920af79e6","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=Você é o assistente de IA do Daniel Menezes, seja educado e amistoso. Não use emojis nas respostas e nunca seja rude ou use palavras de baixo calão.\n\nAo responder, informe o nome da pessoa conforme a variável  {{ $json.nome }}, seja gentil e amistoso."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[816,0],"id":"8604fd74-c868-41f2-b35d-73bf4f257286","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[688,224],"id":"0f3bc499-8bb1-4188-82f4-22f4225187b8","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"yKGo5HNJO3JwmlDo","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.idconversa }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[816,224],"id":"d350f26b-04f1-4c9b-87ba-22b5a2c5bed2","name":"Simple Memory"},{"parameters":{"httpMethod":"POST","path":"zapi-dani","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-208,96],"id":"d0c53f1a-f5de-4ebe-89b6-f115a96fb4a8","name":"Webhook","webhookId":"ce1232f5-52f0-4c99-81a0-99a24c40be8e"},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3E59FAE2925E800FF7C7DEA70E730544/token/1614BC2064012820EAAC82C4/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"client-token","value":"Ff6a73dd4433b4fcead6a765297203148S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Edit Fields').item.json.idconversa }}"},{"name":"message","value":"=  {{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,0],"id":"0a71858a-b5be-47dd-b2c8-f4284de599a3","name":"HTTP Request1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1504,0],"id":"d7b27218-2bfd-439d-a546-b2280510aea0","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"75bfea00-72c7-4375-a45a-9131d3912884","leftValue":"={{ $json.body.isGroup }}","rightValue":"false","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"44c27608-028e-434c-b65f-a0dbb52f5f60","leftValue":"={{ $json.body.isNewsletter }}","rightValue":"false","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"28580241-4296-4030-b3fd-0f8e8742c7c6","leftValue":"={{ $json.body.isNewsletter }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[16,96],"id":"8551c6d5-37df-4c88-8940-6e507e9c8c5b","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[240,192],"id":"29cf85b7-8fa3-4a08-93fd-414821f90763","name":"No Operation, do nothing1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04","mode":"list","cachedResultName":"N8N-TESTE","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"idconversa":"={{ $json.idconversa }}","mensagem":"={{ $json.mensagem }}","datetime":"={{ $json.datetime }}","nome":"={{ $json.nome }}"},"matchingColumns":["idconversa"],"schema":[{"id":"datetime","displayName":"datetime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"idconversa","displayName":"idconversa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[464,0],"id":"3889f57c-dd4b-4567-84da-b195b2a1cd80","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"bdtx0CIYVT2yv04Y","name":"Google Sheets account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[944,224],"id":"d469696e-bfcd-40b2-a7fb-09c5e329f6e8","name":"Wikipedia"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1072,224],"id":"bcf78440-e4d6-42e8-a2d0-83dd9603059b","name":"Calculator"}],"connections":{"Edit Fields":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"235ce1db-2816-4eef-abf7-1c3f665ce984","triggerCount":1,"shared":[{"createdAt":"2025-08-09T19:50:34.112Z","updatedAt":"2025-08-09T19:50:34.112Z","role":"workflow:owner","workflowId":"coDd5hWSVgDcrqOg","projectId":"UkmxdPS16V9GSHYc"}],"tags":[]}