n8n-atividade-#1---chat-ItuRvdvi3mDEZR0S.json
{"createdAt":"2025-07-14T12:05:23.933Z","updatedAt":"2025-08-12T23:42:28.000Z","id":"ItuRvdvi3mDEZR0S","name":"N8N Atividade #1 - Chat","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-208,-64],"id":"f10577da-a5cb-415c-82de-3f16e6bec63b","name":"When chat message received","webhookId":"36a427e7-1993-43e1-81c0-7e4f994f36c5","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"a3d05cbf-ff3e-4bdd-9e3b-06c0c453e64f","name":"idconversa","value":"={{ $json.sessionId }}","type":"string"},{"id":"f19e0da0-0f49-496c-a6fd-a088115bbdba","name":"mensagem","value":"={{ $json.chatInput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"cb7e20d4-6088-41a9-b608-ad7e43426a4c","name":"Edit Fields"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04","mode":"list","cachedResultName":"N8N-TESTE","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1W6rxFrHhyhSvcWRyss8gSDIiJDVEQrDq4Dp7U4F0j04/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"idconversa":"={{ $json.idconversa }}","mensagem":"={{ $json.mensagem }}"},"matchingColumns":[],"schema":[{"id":"idconversa","displayName":"idconversa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[464,0],"id":"1a855729-9d64-4232-b753-3fe4b410c27f","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"bdtx0CIYVT2yv04Y","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"Você é o assistente de IA do Daniel Menezes, seja educado e amistoso. Não use emojis nas respostas e nunca seja rude ou use palavras de baixo calão."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[672,0],"id":"058b1caf-3136-426c-a31f-69dd528dd414","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[544,224],"id":"be7d1580-1c41-4c4c-863b-64cde60d75a1","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"yKGo5HNJO3JwmlDo","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.idconversa }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[720,208],"id":"a94c5a6f-d375-49d2-8d2c-ebbee6130847","name":"Simple Memory"},{"parameters":{"httpMethod":"POST","path":"3899d99b-7047-423d-9f08-55690a6fd5e5","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-208,160],"id":"98c3207d-cfeb-4080-af32-da173a0df43c","name":"Webhook","webhookId":"3899d99b-7047-423d-9f08-55690a6fd5e5","credentials":{"httpHeaderAuth":{"id":"cDnt2weSygzrypPv","name":"Header Auth account"}}}],"connections":{"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c3729653-1329-405b-9434-e0a6550b2466","triggerCount":0,"shared":[{"createdAt":"2025-07-14T12:05:23.942Z","updatedAt":"2025-07-14T12:05:23.942Z","role":"workflow:owner","workflowId":"ItuRvdvi3mDEZR0S","projectId":"UkmxdPS16V9GSHYc"}],"tags":[]}