native_relatapis-cvtcbVMb6i33ebrg.json
{"createdAt":"2025-08-14T13:26:05.566Z","updatedAt":"2025-08-14T19:06:25.000Z","id":"cvtcbVMb6i33ebrg","name":"native_relatAPIs","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"INSERT IGNORE INTO db_native (\n    data_hora,\n    agente,\n    fila,\n    pausa,\n    tempo_estimado,\n    tempo_em_pausa,\n    justificativa,\n    justificativa_atraso\n) VALUES (\n    '{{ $json.data_hora }}',\n    '{{ $json.agente }}',\n    '{{ $json.fila }}',\n    '{{ $json.pausa }}',\n    '{{ $json.tempo_estimado }}',\n    '{{ $json.tempo_em_pausa }}',\n    '{{ $json.justificativa }}',\n    '{{ $json.justificativa_atraso }}'\n);\n"},"id":"186e8b17-fa41-4e4e-bf68-e1caf5d5b92a","name":"Inserir no Banco","type":"n8n-nodes-base.mySql","typeVersion":1,"position":[1552,192],"credentials":{"mySql":{"id":"oMA4i34MCkG3AGNu","name":"MySQL account"}}},{"parameters":{"jsCode":"function formatDate(dateStr) {\n  if (!dateStr) return null;\n  const [datePart, timePart] = dateStr.split(' ');\n  const [day, month, year] = datePart.split('/');\n  return `${year}-${month}-${day} ${timePart}`;\n}\n\nconst newItems = [];\n\nfor (const item of items) {\n  if (!item.json.body || !item.json.body.data) continue;\n\n  for (const row of item.json.body.data) {\n    newItems.push({\n      json: {\n        data_hora: formatDate(row[\"Data/Hora\"]),\n        agente: row[\"Agente\"],\n        fila: row[\"Fila\"],\n        pausa: row[\"Pausa\"],\n        tempo_estimado: row[\"Tempo Estimado\"],\n        tempo_em_pausa: row[\"Tempo em Pausa\"],\n        justificativa: row[\"Justificativa\"],\n        justificativa_atraso: row[\"Justificativa - Atraso\"]\n      }\n    });\n  }\n}\n\nreturn newItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,192],"id":"9660c1e6-df5e-400d-b0e5-8ce5c9570e7f","name":"Code"},{"parameters":{"jsCode":"const hoje = new Date();\n\nconst ano = hoje.getFullYear();\nconst mes = String(hoje.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\nconst dia = String(hoje.getDate()).padStart(2, '0');\n\nconst dataFormatada = `${ano}-${mes}-${dia}`;\n\nreturn [{ json: { dataHoje: dataFormatada } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,208],"id":"9892d8bf-4a20-492b-aca6-89105d6bc956","name":"Hoje"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":60}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-864,208],"id":"c21b1abe-774e-4f55-b378-d2ceca53e3d1","name":"Schedule Trigger"},{"parameters":{"url":"https://sebratel.matrixdobrasil.ai/rest/v2/RelPesqAnalitico?data_final=2025-08-08&pesquisa=14&data_inicial=2025-08-08","options":{},"headerParametersUi":{"parameter":[{"name":"Authorization","value":"Bearer {{$json[\"token\"]}}"}]}},"id":"796fd4b3-684c-4f9f-be8b-6c2c11e6ed19","name":"Buscar Dados","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1104,400]},{"parameters":{"values":{"string":[{"name":"token","value":"={{$json[\"body\"][\"token\"]}}"}]},"options":{}},"id":"35968812-38fa-419b-88b2-008945d6e7df","name":"Salvar Token","type":"n8n-nodes-base.set","typeVersion":1,"position":[912,400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5b33beda-a923-4b44-80cb-973eb51d1d41","leftValue":"={{ Number($('Get Pausas Native').first().json.body.page) }}","rightValue":"={{ Number($('Get Pausas Native').first().json.body.total) }}","operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1792,192],"id":"67727bc2-24b7-4b6d-bd14-ba32aacb15be","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2064,368],"id":"e58f293f-63bd-467b-a96d-280331406dc5","name":"No Operation, do nothing"},{"parameters":{"content":"## Início fluxo\nComeça fluxo e armazena variáveis de datas a cada 30 minots\n\n","height":560,"width":880},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-896,0],"id":"8abb673e-d3fe-4d68-89f7-5dcef59d6095","name":"Sticky Note"},{"parameters":{"content":"## Desenvolvimento\n\nRealiza a chamada na API por paginação\n","height":560,"width":624,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"239f3a0f-0282-4365-ab46-e014a69867fb","name":"Sticky Note1"},{"parameters":{"content":"## Exceções\n\nCaso o token expire executará este fluxo","height":560,"width":608},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[640,0],"id":"d56777e1-f3a1-4574-8211-221a2659f94d","name":"Sticky Note2"},{"parameters":{"content":"## Armanezamento\n\nArmaneza no maria DB todas as informações das páginas","height":560,"width":448,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1264,0],"id":"d7cba8ed-4971-4ba9-931a-21a9459c1106","name":"Sticky Note3"},{"parameters":{"content":"## Fim / Início Loop\n\nVerifica a paginação e inicia o loop até finalização das páginas","height":560,"width":544,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1728,0],"id":"cc0e29d4-67bf-4462-bd13-447256f13e8f","name":"Sticky Note4"},{"parameters":{"requestMethod":"POST","url":"https://sebratel.matrixdobrasil.ai/rest/v2/authuser","options":{},"bodyParametersUi":{"parameter":[{"name":"login","value":"Misael C"},{"name":"chave","value":"HSUN1O5jL*4?i!a"}]}},"id":"7f38ed7d-8d3d-450b-97fe-f697e0a36e40","name":"Gerar Novo Token","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[704,400]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"page","value":"={{ Number($('Get Pausas Native').first().json.body.page) + 1 }}"}]},"options":{}},"id":"88de128d-fc56-409c-9d75-90d903a0b935","name":"Incrementar Page","type":"n8n-nodes-base.set","typeVersion":1,"position":[2048,176]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"page","value":"=1"}]},"options":{}},"id":"8809c383-e7dc-4151-933e-9e76c5d85f37","name":"Pagina Inicial","type":"n8n-nodes-base.set","typeVersion":1,"position":[-144,208]},{"parameters":{"jsCode":"const hoje = new Date();\n\n// Subtrai 2 dias em milissegundos (2 dias * 24h * 60min * 60s * 1000ms)\nconst doisDiasAtras = new Date(hoje.getTime() - 2 * 24 * 60 * 60 * 1000);\n\nconst ano = doisDiasAtras.getFullYear();\nconst mes = String(doisDiasAtras.getMonth() + 1).padStart(2, '0');\nconst dia = String(doisDiasAtras.getDate()).padStart(2, '0');\n\nconst dataFormatada = `${ano}-${mes}-${dia}`;\n\nreturn [{ json: { dataDoisDiasAtras: dataFormatada } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,208],"id":"3931abea-c958-4d52-89c3-c2cec42a1e60","name":"Ontem"},{"parameters":{"conditions":{"number":[{"value1":"={{$json[\"statusCode\"]}}","operation":"equal","value2":200}]}},"id":"93e69ae3-1c75-459f-8a1d-8c3c826c701b","name":"If Token Inválido","type":"n8n-nodes-base.if","typeVersion":1,"position":[448,208]},{"parameters":{"url":"=https://sebratel.native-infinity.com.br/api/apiReport/21","options":{"fullResponse":true},"headerParametersUi":{"parameter":[{"name":"Authorization","value":"=Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6MSwicGVybWlzc2lvbnMiOlsiY29udGFjdHMiLCJjdXN0b21SdWxlcyIsImZlYXR1cmVzIiwicm91dGVzIiwiaXZycyIsIm1lZXRtZXMiLCJwZWVycyIsInF1ZXVlcyIsInNlcnZpY2VIb3VycyIsInRydW5rcyIsInVzZXJzIiwicmVwb3J0cyIsIm1vaHMiLCJhcGlzIiwiY29ja3BpdCIsImNhbGxjZW50ZXIiLCJ2aWRlb1Jvb21zIiwicGVlcnNQYW5lbCIsImJsYWNrbGlzdHMiLCJzbXMiLCJtb25pdG9yaW5nRm9ybXMiLCJtb25pdG9yaW5nUmF0aW5ncyIsImNoYXRHcm91cHMiLCJiaWxsaW5nIiwicmVwb3J0c0l2cnMiLCJyZXBvcnRzUmVjb3JkcyIsIm5vdGljZXMiLCJzdXBlcnZpc29yIl0sImlzQWRtaW4iOnRydWUsImV4cGlyYXRpb24iOjE3NTUzNjA2Njk4MTV9.ICgzbp5CMUZ48PNbjEbcRjlUKNkdmDDcsqPjVj8wuHE"}]},"queryParametersUi":{"parameter":[{"name":"DATE_SUB(br.startTime, INTERVAL 3 HOUR)","value":"={\"type\":\">=\",\"value\":\"'2025-06-01 00:00:00'\"}"},{"name":"DATE_SUB(br.startTime, INTERVAL 3 HOUR)","value":"={\"type\":\"<=\",\"value\":\"'2025-08-01 00:00:00'\"}"}]}},"id":"d74f49fa-1c16-4f32-a870-809601053868","name":"Get Pausas Native","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[112,208]}],"connections":{"Inserir no Banco":{"main":[[{"node":"If","type":"main","index":0}]]},"Code":{"main":[[{"node":"Inserir no Banco","type":"main","index":0}]]},"Hoje":{"main":[[{"node":"Pagina Inicial","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Ontem","type":"main","index":0}]]},"Buscar Dados":{"main":[[{"node":"Code","type":"main","index":0}]]},"Salvar Token":{"main":[[{"node":"Buscar Dados","type":"main","index":0}]]},"If":{"main":[[{"node":"Incrementar Page","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Gerar Novo Token":{"main":[[{"node":"Salvar Token","type":"main","index":0}]]},"Incrementar Page":{"main":[[{"node":"Get Pausas Native","type":"main","index":0}]]},"Pagina Inicial":{"main":[[{"node":"Get Pausas Native","type":"main","index":0}]]},"Ontem":{"main":[[{"node":"Hoje","type":"main","index":0}]]},"If Token Inválido":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Gerar Novo Token","type":"main","index":0}]]},"Get Pausas Native":{"main":[[{"node":"If Token Inválido","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-08-14T06:00:58.009-03:00","Readable date":"August 14th 2025, 6:00:58 am","Readable time":"6:00:58 am","Day of week":"Thursday","Year":"2025","Month":"August","Day of month":"14","Hour":"06","Minute":"00","Second":"58","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"3079caa1-d51e-4837-84f8-4021ed97b3d4","triggerCount":1,"shared":[{"createdAt":"2025-08-14T13:26:05.570Z","updatedAt":"2025-08-14T13:26:05.570Z","role":"workflow:owner","workflowId":"cvtcbVMb6i33ebrg","projectId":"T3171E2RbgkIbJjB"}],"tags":[]}