remote-test-LHIxQj5JFeK37chy.json
{"createdAt":"2025-08-30T18:58:28.118Z","updatedAt":"2025-08-30T19:24:01.000Z","id":"LHIxQj5JFeK37chy","name":"Dani Redis Local/Remote Test","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-176,-16],"id":"e1fb384f-e61e-44e7-9adf-537429966e65","name":"When chat message received","webhookId":"fed7efd3-a565-4ff6-8961-6498a4e17b84"},{"parameters":{"operation":"push","list":"={{ $json.sessionId }}","messageData":"={{ $json.chatInput }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[32,-96],"id":"5aa671dc-2adf-48cd-8b32-a2526f99b0f8","name":"Redis [Cloud]","credentials":{"redis":{"id":"Bx0wMrY9Z1JFvzJL","name":"DM - Redis account [Cloud]"}}},{"parameters":{"operation":"push","list":"={{ $json.sessionId }}","messageData":"={{ $json.chatInput }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[32,64],"id":"66550c1a-b6a2-42b6-bd76-6fe53693336e","name":"Redis [Local]","credentials":{"redis":{"id":"fnMyftpFUcF93jR3","name":"DM - Redis account [Local]"}}}],"connections":{"When chat message received":{"main":[[{"node":"Redis [Cloud]","type":"main","index":0},{"node":"Redis [Local]","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"62e8d078-d699-41dd-aa7b-1fbe186a0689","triggerCount":0,"shared":[{"createdAt":"2025-08-30T18:58:28.123Z","updatedAt":"2025-08-30T18:58:28.123Z","role":"workflow:owner","workflowId":"LHIxQj5JFeK37chy","projectId":"UkmxdPS16V9GSHYc"}],"tags":[]}