schedule_ia-9rWIFVSMrOU4gHYv.json
{"createdAt":"2025-08-09T13:14:39.140Z","updatedAt":"2025-08-31T00:07:59.000Z","id":"9rWIFVSMrOU4gHYv","name":"Schedule_IA","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"e40af769-c973-40b3-8a20-bf5e99a95598","name":"idConversa","value":"={{ $json.body.phone }}","type":"string"},{"id":"2be0ceff-1e97-4e6e-b7af-6014803cff1f","name":"Mensagem","value":"={{ $json.body.text.message }}","type":"string"},{"id":"72dc4574-322a-4134-9de1-add4e3bce3e3","name":"Nome","value":"={{ $json.body.chatName }}","type":"string"},{"id":"df36db46-960b-452b-8681-78b38f457b63","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-464,0],"id":"73198cfd-e2d1-4c61-bbd2-6504a5c489f9","name":"Edit Fields"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"16oL4fD-g5SjJID8tjTJkAbBvhd9nFZ8biaY6tFE8AtE","mode":"list","cachedResultName":"Cases_curso_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16oL4fD-g5SjJID8tjTJkAbBvhd9nFZ8biaY6tFE8AtE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1450601,"mode":"list","cachedResultName":"Case 2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16oL4fD-g5SjJID8tjTJkAbBvhd9nFZ8biaY6tFE8AtE/edit#gid=1450601"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $json.Nome }}","WhatsApp":"={{ $json.idConversa }}"},"matchingColumns":[],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"WhatsApp","displayName":"WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-240,0],"id":"68dbf516-5804-4b7c-a967-6dfad55ce283","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"jlSK6LVQmnLP7ZaJ","name":"Google Sheets account 2"}},"disabled":true},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields').item.json.Mensagem }}","options":{"systemMessage":"=1. Você se chama Andreia e é uma recepcionista de um lugar que realiza Terapias Integrativas, a ideia é você apresentar os serviços que tem e realizar a agenda do mesmo com a ferramenta do google calendar:\n\nHeike completo: 01:00:00\nHeike simples: 00:30:00\nTarô: 00:15:00\nTerapia completa: 02:00:00\n\n2. Data de hoje: {{ $json.dataAtual }}.\n\n3. Para realizar agendamentos utilize a tool 'get_agenda' para verificar se aquele horário pedido está disponível, caso não esteja dê as opções de horários diponíveis para ele escolher novamnete, caso esteja livre utilize a tool 'create_agenda' envie os horários de início e fim. Além de enviar um title através da variável 'title' que será o nome do cliente - nome do serviço - {{ $('Webhook').item.json.body.phone }}.\n\n4. Caso o cliente queira reagendar utilize a tool 'get_agenda' para identificar qual a o id da agenda que ele gostaria de editar. Após identificar envia o id da agenda da seguinte forma 'eventId' para a ferramenta 'update_agenda' com o novo horário de início: 'startTime' e fim: 'endTime'.\n\n5. Caso o cliente queira cancelar a agenda utilize a tool 'delete_agenda', mas antes identifique qual a o id da agenda que ele gostaria de editar através da tool 'get_agenda'. Após identificado envia o id da agenda da seguinte forma 'eventId'."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[288,0],"id":"1d6f8cb7-5140-4637-a097-3cb672026ed8","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[96,192],"id":"36984d02-e3a8-45b1-ab8a-d47e3d265e96","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"JKL6I87VMb0TCoX7","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.idConversa }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[256,192],"id":"91d7a4ac-003c-4bdb-aff7-9c4d571eb3f4","name":"Simple Memory"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1104,0],"id":"2d6bc0a8-578f-4ad8-b5c8-345f155f25f0","name":"No Operation, do nothing"},{"parameters":{"httpMethod":"POST","path":"receber-mensagem-zapi","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-960,96],"id":"949b0bc1-36a3-4e5e-a4b0-2f535f9b8c8a","name":"Webhook","webhookId":"75e75c19-18ee-4b0c-9d35-c4cf13887ad8"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-464,224],"id":"c1c9ea61-a814-460d-9ac7-4b837592d2c2","name":"No Operation, do nothing1"},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3E59F2AFB78BA023505DC200745B43DD/token/CC3B98858E449DE870658751/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"client-token","value":"F5b10efc71d93404488016342811ba814S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=phone","value":"={{ $('Edit Fields').item.json.idConversa }}"},{"name":"=message","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,0],"id":"7ef9a4bc-67d5-481d-8e0c-ae1352f5ff9a","name":"HTTP Request"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b62fe41-1d7a-4f13-9390-91b9b6370ab5","leftValue":"={{ $json.body.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"ca9290e3-cd45-4434-9016-4c58f11d4bad","leftValue":"={{ $json.body.isNewsletter }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"b462119a-ed14-4edd-a400-4dc52658fcc6","leftValue":"={{ $json.body.broadcast }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"2992c889-6e5f-4ae9-81f2-3eceace36446","leftValue":"={{ $json.body.fromApi }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-736,96],"id":"5e733495-42ce-430e-aa17-bd1c23a29cb4","name":"If1"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  item.json.dataAtual = new Date().toLocaleDateString(\"pt-BR\");\n}\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,0],"id":"8d8f67cb-c03c-4317-92e9-eb872f54b501","name":"Code"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"misael.cruz@sebratel.com.br","mode":"list","cachedResultName":"misael.cruz@sebratel.com.br"},"eventId":"={{ $fromAI('eventId') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[480,448],"id":"b32b4023-24ff-41ed-98a5-fed15581bf39","name":"delete_agenda","credentials":{"googleCalendarOAuth2Api":{"id":"4qjWr2MCYOnO4oX1","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"misael.cruz@sebratel.com.br","mode":"list","cachedResultName":"misael.cruz@sebratel.com.br"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Aqui iremos colocar a data e a hora que o cliente quer iniciar seu atendimento`, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Aqui iremos colocar a hora inicial mais o tempo de cada serviço especificado.`, 'string') }}","additionalFields":{"summary":"={{ $fromAI('title') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[336,448],"id":"24e8609f-9f30-495d-8ca2-e897809a76d8","name":"create_agenda","credentials":{"googleCalendarOAuth2Api":{"id":"4qjWr2MCYOnO4oX1","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"misael.cruz@sebratel.com.br","mode":"list","cachedResultName":"misael.cruz@sebratel.com.br"},"eventId":"={{ $fromAI('eventId') }}","updateFields":{"end":"={{ $fromAI('endTime') }}","start":"={{ $fromAI('startTime') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[624,448],"id":"e1ab8a0a-4e9f-4835-b858-c22b656bd40a","name":"update_agenda","credentials":{"googleCalendarOAuth2Api":{"id":"4qjWr2MCYOnO4oX1","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"misael.cruz@sebratel.com.br","mode":"list","cachedResultName":"misael.cruz@sebratel.com.br"},"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[752,448],"id":"38cebd2b-aa04-429f-b512-8900f0af8dfd","name":"get_agenda","credentials":{"googleCalendarOAuth2Api":{"id":"4qjWr2MCYOnO4oX1","name":"Google Calendar account"}}}],"connections":{"Edit Fields":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Code","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"If1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"delete_agenda":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"create_agenda":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"update_agenda":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"get_agenda":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"47cbeb4a-7b78-4c22-b516-fc0e41e0a46f","triggerCount":1,"shared":[{"createdAt":"2025-08-09T13:14:39.144Z","updatedAt":"2025-08-09T13:14:39.144Z","role":"workflow:owner","workflowId":"9rWIFVSMrOU4gHYv","projectId":"T3171E2RbgkIbJjB"}],"tags":[]}