sebratel-844AXs74PrSz87WG.json
{"createdAt":"2025-09-02T13:39:07.142Z","updatedAt":"2025-09-02T14:53:43.000Z","id":"844AXs74PrSz87WG","name":"Sebratel","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"16oL4fD-g5SjJID8tjTJkAbBvhd9nFZ8biaY6tFE8AtE","mode":"list","cachedResultName":"Cases_curso_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16oL4fD-g5SjJID8tjTJkAbBvhd9nFZ8biaY6tFE8AtE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1450601,"mode":"list","cachedResultName":"Case 2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16oL4fD-g5SjJID8tjTJkAbBvhd9nFZ8biaY6tFE8AtE/edit#gid=1450601"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ $json.Nome }}","WhatsApp":"={{ $json.idConversa }}"},"matchingColumns":[],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"WhatsApp","displayName":"WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[704,448],"id":"00afbb89-a6b5-41a5-9dff-03d9aa7c1692","name":"Append row in sheet","disabled":true},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields').item.json.Mensagem }}","options":{"systemMessage":"Você é um agente de suporte técnico humanizado e altamente técnico da Sebratel Tecnologia, provedora de internet na região metropolitana de Porto Alegre. \n\nData de hoje é: {{ $('Code').item.json.dataAtual }}.\n\nRegras gerais\n 1. Responda de forma clara, simpática e profissional.\n 2. Se o usuário não informar CPF ou CNPJ, solicite educadamente.\n 3. Sempre normalize documentos para conter apenas números (ex: \"123.456.789-00\" → \"12345678900\").\n\n1. Sempre consulte os dados do cliente na ferramenta 'consulta_pessoa'.\n  Retorno:\n{\n  \"id\": clientId,\n  \"name\": \"João da Silva\",\n  \"email\": \"joao@email.com\",\n  \"phone\": \"11999999999\"\n}\n Sempre chame o cliente pelo nome quando disponível.\n Encaminhe id do cliente que está no campo \"id\" para demais ferramentas no formato:\n[\n  {\n    \"clientId\": clientId\n  }\n]\n\n2.Verificação de etiqueta (consulta_etiqueta)\n 1. Sempre antes de abrir solicitação, use esta ferramenta.\n 2. Ela retorna:\n { \"id\": \"12345\" }\n 3. Se houver uma etiqueta → apresente e peça confirmação.\n 4. Se houver várias → apresente todas e peça para escolher.\n 5. Encaminhe a etiqueta confirmada:\n[\n  {\n    \"tagId\": 12345\n  }\n]\n\n3. Regras para abertura de solicitação (abre_solicitacao)\n 1. Somente abrir se realmente necessário, após avaliar o problema reportado.\n 2.  Confirme com o cliente no mínimo duas datas e turnos diferentes antes de prosseguir, (NÃO PERGUNTE HORÁRIOS):\n Crie:\n  Título: máximo 4 palavras-chave.\n  Descrição: detalhar dores, contexto, impacto e as duas datas da preferência do cliente. \n Exemplo: Amanhã de Manhã e Hoje a Tarde. \n Converta então para o dia atual -> turno e o dia de amanhã -> turno.\nFormato para envio:\n[\n  {\n    \"title\": \"Internet instável residência\",\n    \"description\": \"Cliente relata quedas constantes na internet durante a noite, impactando reuniões de trabalho remoto.\"\n  }\n]\n 3. Questione-o se ele tem certeza que deseja abrir uma solicitação no ERP de Produção.\n 4. Informa para o cliente que o protocolo foi criado e informe o número de protocolo pra ele através do campo: \"protocol\". Cujo retono da API será:\n{\n    \"success\": true,\n    \"messages\": null,\n    \"response\": {\n        \"protocol\": porotocolValue,\n        \"assignmentId\": assignmentIdValue,\n        \"message\": \"\"\n    },\n    \"dataResponseType\": \"<>f__AnonymousType955`3\",\n    \"elapsedTime\": null\n}\n\n\n\n5. Caso ele não tenha etiquetas disponíveis tente vender planos de fibra da empresa sebratel para eles:\n[6028] STFiber IP FULL - 4M\tST CORP 4 MB R$2600,00\n[6023] ST PRO - 3 MB\tST PRO 3 MB - R$199,90\n[6025] ST PRO - 5 MB\tST PRO 5 MB - R$319,00\n[6026] ST PRO - 6 MB\tST PRO 6 MB - R$379,90\n[6027] ST PRO - 7 MB\tST PRO 7 MB - R$479,90\n[6034] STFiber PME - 20Mb (20Mb Down / 2Mb Up)\tSTFibra 20Mb - 139,90\n[9005] TRANSPORTE - 2M\tTrans - Terceiros - 2 Mb\n[6031] STFiber PME - 10Mb (10Mb Down / 1Mb Up)\tSTFiber 10 Mb - R$ 429,90\nST CORP 5 MB\tST CORP 5 MB\n[6041] STFiber PME - 8Mb (8Mb Down / 1Mb Up)\tSTFiber 8 Mb - R$ 139,90\n[6009] ST IP FULL - 2M\tST CORP 2Mb Full\n\nⓂ️ Regra para protocolos Matrix/Chats\nSempre que o usuário perguntar sobre protocolos, atendimentos ou chats → use a ferramenta consulta_mysql.\nℹ️ Informações da tabela\nNome da tabela: db_matrix\nColunas disponíveis (use somente estas, nunca invente):\nprotocolo, data_entrada, data_atendimento, data_finalizacao, classificacao, servico, canal, data_fila, tempo_fila, tmic, tmia, ativo_receptivo, atendente, email, cpf\nservico → nome da equipe que atendeu.\ncanal → plataforma utilizada (WhatsApp, Instagram etc).\n📏 Regras para construção da query\nSempre monte queries válidas em MySQL.\nSempre retorne somente no formato JSON, nunca em texto solto.\nO JSON deve obrigatoriamente estar neste formato:\n[\n  {\n    \"query\": \"SELECT protocolo, data_entrada, data_atendimento FROM db_matrix WHERE cpf = '12345678900' LIMIT 5;\"\n  }\n]\nUse sempre os nomes exatos das colunas listadas acima.\nSempre aplique LIMIT 5 para evitar excesso de dados.\nFiltros obrigatórios:\nSe usuário pedir por protocolo → filtre por protocolo.\nSe usuário perguntar sobre tempo → use tempo_fila, tmic e tmia.\nNunca traga todos os registros sem filtro.\nSe o usuário não passar CPF, protocolo ou atendente → pergunte educadamente qual filtro deseja usar.\n\n🧩 Exemplos\nUsuário: “Quero saber o protocolo do agente joaoSilva”\n[\n  {\n    \"query\": \"SELECT protocolo FROM db_matrix WHERE atendente = 'joaoSilva' LIMIT 5;\"\n  }\n];\n\nUsuário: “Qual a data do atendimento cujo protocolo é 1234?”\n[\n  {\n    \"query\": \"SELECT data_atendimento FROM db_matrix WHERE protocolo = 1234 LIMIT 5;\"\n  }\n]\n\nUsuário: “Quantos atendimentos o atendente JoaoSilva realizou?”\n[\n  {\n    \"query\": \"SELECT count(protocolo) FROM db_matrix WHERE atendente LIKE 'JoaoSilva' LIMIT 3;\"\n  }\n]\n\n\n\nSempre que receber uma mensagem do usuário, avalie se ela é importante ou receptiva.  \nSe julgar importante, utilize a ferramenta send_reaction.  \nEscolha apenas um ícone de reação adequado entre: ❤️, 👍, ⚠️.  \nE envie através da variável: 'reaction' para a tool 'send_reaction'.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[960,448],"id":"df93d8b6-c9e1-489d-858f-782ef887f9c7","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[400,816],"id":"041224bc-c9b9-4e8f-9b21-110c194107e9","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"d4Zm1E6Xt1ckJUM9","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1936,448],"id":"6173fc12-3a46-48ac-b370-86b03cd94fc6","name":"No Operation, do nothing"},{"parameters":{"httpMethod":"POST","path":"receber-mensagem-zapi","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1680,464],"id":"3ae24ef0-daf8-4c55-af3a-e5776a1ea138","name":"Webhook","webhookId":"75e75c19-18ee-4b0c-9d35-c4cf13887ad8"},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3E59F2AFB78BA023505DC200745B43DD/token/CC3B98858E449DE870658751/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"client-token","value":"F5b10efc71d93404488016342811ba814S"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"= {{ $('Edit Fields').item.json.idConversa }}"},{"name":"message","value":"={{ $('AI Agent').item.json.output }}"},{"name":"send_typing","value":"={{ $json.wordCount }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1648,448],"id":"865cc0dc-9cf5-40d6-9a62-2819b1f052fd","name":"HTTP Request"},{"parameters":{"content":"## I'm a note \nTodos:  1o atendimento cordial e receptivo, sem menus (dar opção de falar com humano)\n\nBackoffice: Validador de documentos\n\nOperacional: Validador de fotos da ativação/manutenção\nOperacional: Validador de materiais da ativação/manutenção\nOperacional: Validador de documentos/assinaturas da ativação/manutenção\n\nFinanceiro: Validador de comprovante de pagamento - Desbloqueio de contrato\nFinanceiro: Desbloqueio por confiança\nFinanceiro: Envio da segunda via do boleto\nFinanceiro: Envio da linha digitável do PIX.\nFinanceiro: Realizar Cobranças agendar retiradas de equipamentos.\nCampanhas: Campanhas de cobranças dos negativados.\n\n\nRelacionamento: Troca de endereço (pedir por)\nRelacionamento: Troca de titularidade (se vou validar dados, posso fazer)\nRelacionamento: Mudança de plano - ofertar e mudar (se vou validar dados, posso fazer)\nRelacionamento: Cancelamento (pedir por, encaminhar a área)\nRelacionamento: Atualização Cadastral\n\nSuporte: Identificação de Massiva\nSuporte: Identificação de LOS (ONT/PPPoE fora)\nSuporte: Troca de senha da rede Wifi\nSuporte: Troca do nome da rede wifi\nSuporte: pergunta e (re)agenda sobre a visita de manutenção (informar data/turno/hora marcada)\nSuporte: pergunta e (re) agenda sobre a visita de ativação (informar data/turno/hora marcada)\n","height":656,"width":688},"type":"n8n-nodes-base.stickyNote","position":[-1728,832],"typeVersion":1,"id":"1f7fc0b2-efe3-4647-b249-dc95aab6518b","name":"Sticky Note"},{"parameters":{"content":"## Start\nRecebe a mensagem do Whats","height":368,"width":272},"type":"n8n-nodes-base.stickyNote","position":[-1760,336],"typeVersion":1,"id":"2767dc42-8e22-47f3-94c6-d09341246d4d","name":"Sticky Note1"},{"parameters":{"content":"## Condicionais\nVerifica algumas condicionais da mensagem","height":368,"width":400,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1472,336],"typeVersion":1,"id":"aca618c8-162d-4105-aa6e-f86a14d2aa30","name":"Sticky Note2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b62fe41-1d7a-4f13-9390-91b9b6370ab5","leftValue":"={{ $json.body.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"ca9290e3-cd45-4434-9016-4c58f11d4bad","leftValue":"={{ $json.body.isNewsletter }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"b462119a-ed14-4edd-a400-4dc52658fcc6","leftValue":"={{ $json.body.broadcast }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"2992c889-6e5f-4ae9-81f2-3eceace36446","leftValue":"={{ $json.body.fromApi }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"791164c1-ac46-4892-bacf-189259f1f324","leftValue":"={{ $json.headers['z-api-token'] }}","rightValue":"CC3B98858E449DE870658751","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"ceefa000-d6e9-436a-bb9d-17563140e4cb","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1440,464],"id":"03aad594-e0ad-4b70-84fa-29a3b023ed08","name":"If1"},{"parameters":{"content":"## Condicionais\nVerifica algumas condicionais da mensagem","height":368,"width":288,"color":2},"type":"n8n-nodes-base.stickyNote","position":[608,320],"typeVersion":1,"id":"dcd2080a-284b-49f1-9dd4-4cd9710db8ad","name":"Sticky Note3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1264,560],"id":"e49cc039-4688-45bc-a5d5-36f327e6a13f","name":"Do nothing"},{"parameters":{"content":"## Agente IA Suporte\nMotor do agente de IA","height":368,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","position":[912,320],"typeVersion":1,"id":"70be7623-244a-45d1-b6c9-ed19d2b454be","name":"Sticky Note4"},{"parameters":{"content":"## Encaminhamento\nEncaminha a mensagem gerada pelo motor do agente","height":368,"width":288,"color":2},"type":"n8n-nodes-base.stickyNote","position":[1552,320],"typeVersion":1,"id":"0aa0e2e5-ec15-4d3a-9db1-00781044a862","name":"Sticky Note5"},{"parameters":{"content":"## Final\nFinaliza o atendimento","height":368,"width":288,"color":2},"type":"n8n-nodes-base.stickyNote","position":[1856,320],"typeVersion":1,"id":"e652572f-c78a-4512-a8fa-4a70ed55296b","name":"Sticky Note6"},{"parameters":{"content":"## Gemini\nModelo da IA","height":320,"width":272,"color":6},"type":"n8n-nodes-base.stickyNote","position":[304,704],"typeVersion":1,"id":"3eb200cb-7e0e-45a7-a1c6-6ae9005436f8","name":"Sticky Note7"},{"parameters":{"content":"## Memória IA\nArmanexamento da IA","height":320,"width":272,"color":7},"type":"n8n-nodes-base.stickyNote","position":[592,704],"typeVersion":1,"id":"26ee14e0-b979-4ba5-bef1-eb4d4cbe2ae7","name":"Sticky Note8"},{"parameters":{"content":"## Tool 1\nVerifica quem é o cliente","height":848,"width":1264,"color":5},"type":"n8n-nodes-base.stickyNote","position":[880,704],"typeVersion":1,"id":"d760a822-7b79-4266-ae52-2c1855bdab21","name":"Sticky Note9"},{"parameters":{"content":"## Condicionais\nVerifica algumas condicionais da mensagem","height":368,"width":288,"color":2},"type":"n8n-nodes-base.stickyNote","position":[304,320],"typeVersion":1,"id":"3fe90c69-8b26-499a-956c-e667668c0032","name":"Sticky Note11"},{"parameters":{"assignments":{"assignments":[{"id":"77005381-34d3-42d7-ba86-2eff6ae91f97","name":"Nome","value":"={{ $('Webhook').item.json.body.chatName }}","type":"string"},{"id":"5c413e95-b1b7-49c1-8cd4-d4de21df26c6","name":"idConversa","value":"={{ $('Webhook').item.json.body.phone }}","type":"string"},{"id":"e9cdbba3-6164-47c1-a042-a5c7201f3c8c","name":"Mensagem","value":"={{ $json.Mensagem }}","type":"string"},{"id":"e9887fc4-1508-4626-a576-6fd098ef10ac","name":"bearerToken","value":"=Bearer {{ $('gera_novo_token').item.json.access_token }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,448],"id":"5c011e4b-ffbb-4cd3-a324-2ec2e9632c9e","name":"Edit Fields"},{"parameters":{"toolDescription":"Identifica a pessoa através do CPF ou CNPJ capturado na conversa.\n\nutilize a url: \nhttps://erp.sebratel.net.br:45715/external/integrations/thirdparty/people/txid/\n\nse o CPF ou CNPJ for 11111111111 entao faça:\nhttps://erp.sebratel.net.br:45715/external/integrations/thirdparty/people/txid/11111111111.","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $('Edit Fields').item.json.bearerToken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1056,1024],"id":"3b3e3c31-7cec-47cb-a3e1-896ff10ea57c","name":"consulta_pessoa"},{"parameters":{"toolDescription":"Realiza uma abertura de solicitação de visita técnica no sistema.","method":"POST","url":"=https://erp.sebratel.net.br:45715/external/integrations/thirdparty/opendetailedsolicitation","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $('Edit Fields').item.json.bearerToken }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"incidentStatusId\": 1,\n    \"personId\": {{ $fromAI('clientId') }},\n    \"clientId\": {{ $fromAI('clientId') }},\n    \"incidentTypeId\": 1174,\n    \"contractServiceTagId\": {{ $fromAI('tagId') }},\n    \"catalogServiceId\": 1098,\n    \"serviceLevelAgreementId\": 122,\n    \"catalogServiceItemId\": null,\n    \"catalogServiceItemClassId\": null,\n    \"assignment\": {\n        \"title\": \"{{ $fromAI('title') }}\",\n        \"description\": \"{{ $fromAI('description') }}\",\n        \"priority\": 1,\n        \"beginningDate\": null,\n        \"finalDate\": null,\n        \"companyPlaceId\": 1 \n        },\n    \"contractServiceTagCategory\": \"0A3X17P9\", \n    \"solicitationServiceCategory1\": \"9f855136\",\n    \"solicitationServiceCategory2\": \"234d885e\",\n    \"solicitationServiceCategory3\": \"c489c775\"\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1264,1264],"id":"a7fa1032-f8d0-484d-82dd-ac7b3a9c531e","name":"abre_solicitacao"},{"parameters":{"content":"## Gera token\nVerifica algumas condicionais da mensagem","height":368,"width":288,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-752,336],"typeVersion":1,"id":"75908839-7c86-4b05-ab2e-d21db293d7e3","name":"Sticky Note15"},{"parameters":{"method":"POST","url":"https://erp.sebratel.net.br:45700/connect/token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"grant_type","value":"client_credentials"},{"name":"scope","value":"syngw"},{"name":"client_id","value":"544e262e-52f4-44c1-a66f-3e19cf7f4649"},{"name":"client_secret","value":"91ff11d5-4141-4308-8104-87b00287a429"},{"name":"syndata","value":"TWpNMU9EYzVaakk1T0dSaU1USmxaalprWldFd00ySTFZV1JsTTJRMFptUT06WlhsS1ZHVlhOVWxpTTA0d1NXcHZhVTFVWnpKTWFrbDRUMU0wZUUxcVozVk5hbFY0U1dsM2FWVXpiSFZTUjBscFQybEthMWx0Vm5SalJFRjNUVlJCZDBscGQybFNSMHBWWlZoQ2JFbHFiMmxqUnpsNlpFZGtlVnBZVFdsbVVUMDk6WlRoa01qTTFZamswWXpsaU5ETm1aRGczTURsa01qWTJZekF4TUdNM01HVT0="}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,448],"id":"bdf6a6d0-140b-42ea-9ef6-27e7016850f9","name":"gera_novo_token"},{"parameters":{"descriptionType":"manual","toolDescription":"Executa query para obter dados de protocolos de chats como data e hora de atendimentos, atendentes e outras informações.\nⓂ️ Regra para protocolos Matrix/Chats\nSempre que o usuário perguntar sobre protocolos, atendimentos ou chats → use a ferramenta consulta_mysql.\n\nℹ️ Informações da tabela\nNome da tabela: db_matrix\nColunas disponíveis (use somente estas, nunca invente):\nprotocolo, data_entrada, data_atendimento, data_finalizacao, classificacao, servico, canal, data_fila, tempo_fila, tmic, tmia, ativo_receptivo, atendente, email, cpf\nservico → nome da equipe que atendeu.\ncanal → plataforma utilizada (WhatsApp, Instagram etc).\n\n📏 Regras para construção da query\nSempre monte queries válidas em MySQL.\nSempre retorne somente no formato JSON, nunca em texto solto.\nO JSON deve obrigatoriamente estar neste formato:\n[\n  {\n    \"query\": \"SELECT protocolo, data_entrada, data_atendimento FROM db_matrix WHERE cpf = '12345678900' LIMIT 5;\"\n  }\n]\n\nUse sempre os nomes exatos das colunas listadas acima.\nSempre aplique LIMIT 5 para evitar excesso de dados.\nFiltros obrigatórios:\nSe usuário pedir por protocolo → filtre por protocolo.\nSe usuário perguntar sobre tempo → use tempo_fila, tmic e tmia.\nNunca traga todos os registros sem filtro.\nSe o usuário não passar CPF, protocolo ou atendente → pergunte educadamente qual filtro deseja usar.\n\n🧩 Exemplos\nUsuário: “Quero saber o protocolo do agente joaoSilva”\n[\n  {\n    \"query\": \"SELECT protocolo FROM db_matrix WHERE atendente = 'joaoSilva' LIMIT 5;\"\n  }\n];\n\nUsuário: “Qual a data do atendimento cujo protocolo é 1234?”\n[\n  {\n    \"query\": \"SELECT data_atendimento FROM db_matrix WHERE protocolo = 1234 LIMIT 5;\"\n  }\n]\n\nUsuário: “Quantos atendimentos o atendente JoaoSilva realizou?”\n[\n  {\n    \"query\": \"SELECT count(protocolo) FROM db_matrix WHERE atendente LIKE 'JoaoSilva' LIMIT 3;\"\n  }\n]\n\n\n\n ","operation":"executeQuery","query":"{{ $fromAI('query') }}","options":{"connectionTimeoutMillis":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Connection_Timeout', ``, 'number') }}"}},"type":"n8n-nodes-base.mySqlTool","typeVersion":2.5,"position":[960,880],"id":"f0111a88-fba7-478e-9664-3d36804a9a6d","name":"consulta_mysql","disabled":true},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  item.json.dataAtual = new Date().toLocaleDateString(\"pt-BR\");\n}\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,448],"id":"615abb7d-29f8-4ed4-839d-a597148609f7","name":"Code"},{"parameters":{"content":"## Data atual\nVerifica a data atual\n","height":368,"width":288,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-1056,336],"typeVersion":1,"id":"d1e9fd37-334b-49c0-921c-fb4456c30e9c","name":"Sticky Note16"},{"parameters":{"operation":"executeQuery","query":"    select cst.id, cst.description, p.tx_id, c.id contractId from contract_service_tags cst\n    left join people p on p.id = cst.client_id\n    left join contracts c on c.id=cst.contract_id \n    where p.tx_id = {{ $fromAI('cpf') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1136,1184],"id":"8965029a-3752-4f72-b71a-69081cf493f6","name":"consulta_etiqueta","disabled":true},{"parameters":{"toolDescription":"Realiza uma abertura de solicitação de visita técnica no sistema.","method":"POST","url":"=https://erp.sebratel.net.br:45715/external/integrations/thirdparty/getcontractbillets/{{ $fromAI('contractId') }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $('Edit Fields').item.json.bearerToken }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1424,1312],"id":"12369112-37b0-406c-b2dc-6a72b8b9aa5a","name":"consulta_faturas"},{"parameters":{"operation":"executeQuery","query":"{{ $fromAI('query') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1568,1344],"id":"a43430ae-0cec-4e0a-a06f-8819bab787dc","name":"consulta_erp","disabled":true},{"parameters":{"toolDescription":"Realiza uma abertura de solicitação de visita técnica no sistema.","method":"POST","url":"=https://api.z-api.io/instances/3E59F2AFB78BA023505DC200745B43DD/token/CC3B98858E449DE870658751/send-reaction","sendHeaders":true,"headerParameters":{"parameters":[{"name":"phone","value":"={{ $('Webhook').item.json.body.phone }}"},{"name":"reaction","value":"={{ $fromAI('reaction') }}"},{"name":"messageId","value":"={{ $('Webhook').item.json.body.messageId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1728,1360],"id":"d35e056c-9281-4f93-8349-3ef40a6d886a","name":"send_reaction"},{"parameters":{"content":"## Encaminhamento\nEncaminha a mensagem gerada pelo motor do agente","height":368,"width":288,"color":2},"type":"n8n-nodes-base.stickyNote","position":[1248,320],"typeVersion":1,"id":"a9478c8a-59b5-4473-9346-277de7579570","name":"Sticky Note10"},{"parameters":{"content":"## Analyze Audio","height":192,"width":432,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-144,304],"typeVersion":1,"id":"f647158b-278e-4f31-b268-240e386c56a1","name":"Sticky Note17"},{"parameters":{"content":"## Analiyze Document\n","height":192,"width":432,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-144,512],"typeVersion":1,"id":"a8f7ff6b-60be-4785-92df-62d4daf97acd","name":"Sticky Note18"},{"parameters":{"content":"## Analiyze Image\n","height":192,"width":432,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-144,720],"typeVersion":1,"id":"dcb90fc7-1d89-414d-8899-4a1b50bf9f32","name":"Sticky Note19"},{"parameters":{"content":"## Analiyze Message\n","height":192,"width":432,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-144,96],"typeVersion":1,"id":"80ac831d-6d87-41a8-a72d-325d58c40aff","name":"Sticky Note20"},{"parameters":{"resource":"audio","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"audioUrls":"={{ $('Webhook').item.json.body.audio.audioUrl }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-96,352],"id":"12582054-c5ab-4c2e-8ac7-b1f3d4b3b1c7","name":"Analyze audio","credentials":{"googlePalmApi":{"id":"d4Zm1E6Xt1ckJUM9","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"0a236099-525e-4748-a57d-8b8e2c63c48b","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $('Webhook').item.json.body.text.message }}","rightValue":""}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"24b7e8b8-6fce-4ddc-94b6-30b852891995","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $('Webhook').item.json.body.audio.audioUrl }}","rightValue":""}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0520071e-8968-44c6-95ff-e49076326be0","leftValue":"={{ $('Webhook').item.json.body.document.documentUrl }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"351f017b-c3ff-46cf-9646-fa6c48f16e08","leftValue":"={{ $('Webhook').item.json.body.image.imageUrl }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"}]},"options":{}},"id":"5156ffdf-dfa3-4506-b9d2-0ffc3a61f01b","name":"Text Or Voice","type":"n8n-nodes-base.switch","position":[-352,416],"typeVersion":3.2},{"parameters":{"content":"## Gera token\nVerifica algumas condicionais da mensagem","height":368,"width":288,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-448,336],"typeVersion":1,"id":"9ad76a0e-071d-4ea2-aaa4-9f45a5e731bf","name":"Sticky Note21"},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"documentUrls":"={{ $('Webhook').item.json.body.document.documentUrl }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-80,560],"id":"308b5321-82a0-43b6-91a0-8ffedb22e378","name":"Analyze document","credentials":{"googlePalmApi":{"id":"d4Zm1E6Xt1ckJUM9","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"imageUrls":"={{ $('Webhook').item.json.body.image.imageUrl }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-80,768],"id":"97d074e7-de0b-4718-b2bb-c69fe8304f1b","name":"Analyze image","credentials":{"googlePalmApi":{"id":"d4Zm1E6Xt1ckJUM9","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"e9cdbba3-6164-47c1-a042-a5c7201f3c8c","name":"Mensagem","value":"={{ $json.content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,352],"id":"994d0995-c7ea-46ac-9caa-aa59abd16b95","name":"editAudio"},{"parameters":{"jsCode":"// Obtemos o texto do output do agente\nconst text = $input.first().json.output || \"\";\n\n// Remove espaços extras e conta as palavras separando por espaços\nconst wordCount = text.trim().split(/\\s+/).filter(word => word.length > 0).length;\n\n// Retornamos como número inteiro\nreturn [\n  {\n    json: {\n      wordCount: wordCount * 0.25\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,448],"id":"a24f8b87-a5de-4248-b600-c187b86bb03f","name":"countMessage"},{"parameters":{"assignments":{"assignments":[{"id":"e9cdbba3-6164-47c1-a042-a5c7201f3c8c","name":"Mensagem","value":"={{ $('Webhook').item.json.body.text.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,144],"id":"c58d9491-a6d4-4da9-a244-8bd8db22d3a3","name":"editText"},{"parameters":{"assignments":{"assignments":[{"id":"e9cdbba3-6164-47c1-a042-a5c7201f3c8c","name":"Mensagem","value":"={{ $json.content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,560],"id":"21653624-c9bd-45ca-a3ef-69fd3079b4eb","name":"editDocument"},{"parameters":{"assignments":{"assignments":[{"id":"e9cdbba3-6164-47c1-a042-a5c7201f3c8c","name":"Mensagem","value":"={{ $json.content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,768],"id":"91fc6c84-29b5-465b-a2c4-6f989419446d","name":"editImage"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.idConversa }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[688,816],"id":"7fbe2fd4-82f8-493c-96c6-122df4bf581d","name":"Redis Chat Memory","credentials":{"redis":{"id":"BH3RuLnvr500D9Qy","name":"Redis account 2"}}}],"connections":{"Append row in sheet":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"countMessage","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"If1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If1":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Do nothing","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"consulta_pessoa":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"abre_solicitacao":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"gera_novo_token":{"main":[[{"node":"Text Or Voice","type":"main","index":0}]]},"consulta_mysql":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"gera_novo_token","type":"main","index":0}]]},"consulta_etiqueta":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consulta_faturas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consulta_erp":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"send_reaction":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Analyze audio":{"main":[[{"node":"editAudio","type":"main","index":0}]]},"Text Or Voice":{"main":[[{"node":"editText","type":"main","index":0}],[{"node":"Analyze audio","type":"main","index":0}],[{"node":"Analyze document","type":"main","index":0}],[{"node":"Analyze image","type":"main","index":0}]]},"Analyze document":{"main":[[{"node":"editDocument","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"editImage","type":"main","index":0}]]},"editAudio":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"countMessage":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"editText":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"editDocument":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"editImage":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a1d2084f-6e5d-47fa-9281-90cf0253244a","triggerCount":0,"shared":[{"createdAt":"2025-09-02T13:39:07.150Z","updatedAt":"2025-09-02T13:39:07.150Z","role":"workflow:owner","workflowId":"844AXs74PrSz87WG","projectId":"BY4ni62apLpf6sG8"}],"tags":[]}