templatetranscribevoice-zOcuvHB9239F1bU4.json
{"createdAt":"2025-08-19T21:00:48.128Z","updatedAt":"2025-09-02T11:36:46.000Z","id":"zOcuvHB9239F1bU4","name":"TemplateTranscribeVoice","active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message","*"],"additionalFields":{}},"id":"c43158f5-22e2-44cb-b5c5-6c81725dd008","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","position":[-1312,-96],"webhookId":"912e007f-19d9-4b5a-a90e-12ba01c9978d","typeVersion":1.2},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"gpt-4o"},"options":{}},"id":"747035c2-e4bf-4c83-918c-8e8dd2f74126","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[0,496],"typeVersion":1.2},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":10},"id":"5a07b1c6-6758-4b5a-b61a-d45222a7de6d","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[176,496],"typeVersion":1.3},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"id":"e0455815-4d16-4e47-8644-c932179f4299","name":"Get Voice","type":"n8n-nodes-base.telegram","position":[-656,80],"webhookId":"1962cd81-9991-4199-a78a-2250bf29631a","typeVersion":1.2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0a236099-525e-4748-a57d-8b8e2c63c48b","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.text }}","rightValue":""}]},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"24b7e8b8-6fce-4ddc-94b6-30b852891995","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{  $json.message.voice.file_id }}","rightValue":""}]},"renameOutput":true,"outputKey":"Voice"}]},"options":{}},"id":"66ab5c2a-bd69-416d-bb3d-654692a8c480","name":"Text Or Voice","type":"n8n-nodes-base.switch","position":[-896,-96],"typeVersion":3.2},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"49cce88d-c442-4b8b-88bc-66d7ccadecd4","name":"Transcribe The Voice","type":"@n8n/n8n-nodes-langchain.openAi","position":[-416,80],"typeVersion":1.8},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=# Overview\nYou are a personal assistant that helps user to fulfill their request.\n\nWhen you are asked to perform a task on the current date, please use the current time and date: {{$now}}\n\n## Output\nYou should output the result and don't include any link. Just mentioned where you added it to."}},"id":"32584c39-f2aa-487d-901a-1e3029d86505","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[64,160],"typeVersion":1.9},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.chatId }}"},"id":"bb64b33a-9990-4352-8819-e9fcc8e4e39e","name":"Typing Action","type":"n8n-nodes-base.telegram","position":[-896,-288],"webhookId":"2479f7f8-6d54-4d45-921e-af6dcfae768e","typeVersion":1.2},{"parameters":{"chatId":"={{$('Telegram Trigger').first().json.message.chat.id}}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"b5bedf88-2c46-432f-99af-340f056b13c6","name":"Send Response To Telegram","type":"n8n-nodes-base.telegram","position":[640,176],"webhookId":"76e4b8a4-1086-4d24-b60e-b96942d83bdf","typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"590b803f-833c-4854-bde7-5241d25b2b32","name":"message.text","type":"string","value":"={{ $json.message.text }}"},{"id":"303e0b5d-3d37-48fc-bbd3-ce62dbe7ef78","name":"sessionId","type":"string","value":"={{ $json.message.chat.id }}"}]},"options":{}},"id":"e339a895-5a76-4b7a-9041-77f5448bb60e","name":"Send Context To AI Agent","type":"n8n-nodes-base.set","position":[-240,-112],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"2bb71aef-0ca1-4c26-95e1-c0c83bc82068","name":"message.text","type":"string","value":"={{ $json.text }}"},{"id":"692a2bae-35da-41d3-be8d-32c0f5dfbbef","name":"sessionId","type":"string","value":"={{ $('Telegram Trigger').item.json.message.chat.id }}"}]},"options":{}},"id":"7e16205b-773e-42c2-a0bd-3bd3b8928a05","name":"Send Transcribe Context To AI Agent","type":"n8n-nodes-base.set","position":[-208,80],"typeVersion":3.4}],"connections":{"AI Agent":{"main":[[{"node":"Send Response To Telegram","type":"main","index":0}]]},"Get Voice":{"main":[[{"node":"Transcribe The Voice","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Text Or Voice":{"main":[[{"node":"Send Context To AI Agent","type":"main","index":0}],[{"node":"Get Voice","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Text Or Voice","type":"main","index":0},{"node":"Typing Action","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Transcribe The Voice":{"main":[[{"node":"Send Transcribe Context To AI Agent","type":"main","index":0}]]},"Send Context To AI Agent":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Send Transcribe Context To AI Agent":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"7e24e735-6e08-4707-a2f2-fbba148c0631","triggerCount":0,"shared":[{"createdAt":"2025-08-19T21:00:48.135Z","updatedAt":"2025-08-19T21:00:48.135Z","role":"workflow:owner","workflowId":"zOcuvHB9239F1bU4","projectId":"T3171E2RbgkIbJjB"}],"tags":[]}