upload_pdf-MIVlJPgcUEoKLEBh.json
{"createdAt":"2025-09-01T16:58:23.900Z","updatedAt":"2025-09-03T16:58:04.000Z","id":"MIVlJPgcUEoKLEBh","name":"UPLOAD_PDF","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"80148d2e-4bd8-4a37-9d31-25645f9d53c8","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-448,208],"typeVersion":1},{"parameters":{"url":"https://erp.sebratel.net.br:45715/external/integrations/thirdparty/projects/assignmentsuploads?protocol=1384537&pageNumber=1&pageSize=10","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=bearer  {{ $json.token_refresh }}"}]},"options":{}},"id":"77ccf71b-9114-4f77-a341-1a44107ca4be","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","position":[176,208],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"1337b0dd-d4c1-45ed-850e-409e1092c1c5","name":"ID","value":"={{ $json.response.data[0].id }}","type":"string"},{"id":"43420955-c363-4757-a316-d00016b0219f","name":"assignment_id","value":"={{ $json.response.data[0].assignmentId }}","type":"string"},{"id":"1e01b91c-06b8-453e-b330-a10203253176","name":"descricao","value":"={{ $json.response.data[0].description }}","type":"string"},{"id":"e376b21a-0c22-4570-9b8e-6d44fade907b","name":"title","value":"={{ $json.response.data[0].assignment.title }}","type":"string"},{"id":"cf52278e-9c95-43ed-a6db-8b3b46a6db8a","name":"mimetype","value":"={{ $json.response.data[1].mimetype }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1088,208],"id":"653a0dd3-b0e1-4fea-9001-f562b8849516","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[592,208],"id":"13c36903-84e7-477c-a335-a8c080eaa0c4","name":"No Operation, do nothing"},{"parameters":{"method":"POST","url":"https://erp.sebratel.net.br:45700/connect/token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"client_credentials"},{"name":"scope","value":"syngw"},{"name":"client_id","value":"544e262e-52f4-44c1-a66f-3e19cf7f4649"},{"name":"client_secret","value":"91ff11d5-4141-4308-8104-87b00287a429"},{"name":"syndata","value":"TWpNMU9EYzVaakk1T0dSaU1USmxaalprWldFd00ySTFZV1JsTTJRMFptUT06WlhsS1ZHVlhOVWxpTTA0d1NXcHZhVTFVWnpKTWFrbDRUMU0wZUUxcVozVk5hbFY0U1dsM2FWVXpiSFZTUjBscFQybEthMWx0Vm5SalJFRjNUVlJCZDBscGQybFNSMHBWWlZoQ2JFbHFiMmxqUnpsNlpFZGtlVnBZVFdsbVVUMDk6WlRoa01qTTFZamswWXpsaU5ETm1aRGczTURsa01qWTJZekF4TUdNM01HVT0="}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,208],"id":"dac2661a-f852-44af-a934-05ea9ff1650e","name":"HTTP Request1"},{"parameters":{"assignments":{"assignments":[{"id":"ac4f2716-5c5f-4693-acbd-fb5f4f09b05b","name":"token_refresh","value":"={{ $json.access_token }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,208],"id":"f4cd1880-df30-4cb5-8f0a-3daff934ab3b","name":"Edit Fields1"},{"parameters":{"jsCode":"const baseUrl = \"https://erp.sebratel.net.br/\"; // substitua pelo seu servidor\n\nconst registros = $input.first().json.response.data;\n\nconst resultado = registros\n  .filter(r => r.mimetype === \"application/pdf\" && r.hasFile)\n  .map(r => ({\n    ID: r.id,\n    SOLICITACAO: r.assignment?.title,\n    TIPO: r.mimetype,\n    LINKPDF: r.dir ? `${baseUrl}${r.dir}arquivo.pdf` : null, // aqui monta o link completo\n    CLIENTE: r.createdByUser?.name\n  }));\n\nreturn resultado.map(r => ({ json: r }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,208],"id":"e9c06750-a203-4346-b11a-6b9b485bf790","name":"Code"},{"parameters":{"content":"## Etapa 1 \nGatilho para ativar o worklflow","height":432,"width":192},"type":"n8n-nodes-base.stickyNote","position":[-496,32],"typeVersion":1,"id":"d3c7202d-38f1-4c25-a59c-60cb35aa1ded","name":"Sticky Note"},{"parameters":{"content":"## Etapa 2\nRealizar a atualização do token.","height":432,"width":192},"type":"n8n-nodes-base.stickyNote","position":[-288,32],"typeVersion":1,"id":"42cbe217-207f-43ec-b7d8-36bbab112d07","name":"Sticky Note1"},{"parameters":{"content":"## Etapa 3\nRealiza a separação somente do valor que contém o token para jogar ao próximo nó.","height":432,"width":192},"type":"n8n-nodes-base.stickyNote","position":[-80,32],"typeVersion":1,"id":"12bb6080-473b-412d-9a7d-3adc5efa5f1f","name":"Sticky Note2"},{"parameters":{"content":"## Etapa 4\nBusca dados da API, em JSON.","height":432,"width":192},"type":"n8n-nodes-base.stickyNote","position":[128,32],"typeVersion":1,"id":"10011e60-b1a5-4f63-b74a-8da39b8c7f98","name":"Sticky Note3"},{"parameters":{"content":"## Etapa 5\nRealiza uma ação de lista, e puxa somente os dados listados faz a formatação.","height":432,"width":192},"type":"n8n-nodes-base.stickyNote","position":[336,32],"typeVersion":1,"id":"19c23a72-06fe-436f-aa0f-baf0210a9fc1","name":"Sticky Note4"},{"parameters":{"content":"## Etapa 6\nNão realiza ação!","height":432,"width":192},"type":"n8n-nodes-base.stickyNote","position":[544,32],"typeVersion":1,"id":"abddbc7f-8889-40b8-80b4-8f8ec483cd51","name":"Sticky Note5"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]},"Edit Fields":{"main":[[]]},"HTTP Request1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Code":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c95da74d-e709-453e-a559-6e487029c96f","triggerCount":0,"shared":[{"createdAt":"2025-09-01T16:58:23.905Z","updatedAt":"2025-09-01T16:58:23.905Z","role":"workflow:owner","workflowId":"MIVlJPgcUEoKLEBh","projectId":"2CRGWlpvxl6HNury"}],"tags":[]}