workflow_brunosoares-KhLuNwQDBU77Zhhd.json
{"createdAt":"2025-08-09T13:13:44.360Z","updatedAt":"2025-08-31T13:28:11.000Z","id":"KhLuNwQDBU77Zhhd","name":"WorkFlow_BrunoSoares","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"receber-mensagem-zapi","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-496,96],"id":"259f7d60-f1fe-47a9-ac33-ebeb3214c82f","name":"Webhook","webhookId":"75e75c19-18ee-4b0c-9d35-c4cf13887ad8"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,224],"id":"412f96ae-6d36-4776-9a3d-19cfc0ce945e","name":"No Operation, do nothing1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b62fe41-1d7a-4f13-9390-91b9b6370ab5","leftValue":"={{ $json.body.isGroup }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"ca9290e3-cd45-4434-9016-4c58f11d4bad","leftValue":"={{ $json.body.isNewsletter }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"b462119a-ed14-4edd-a400-4dc52658fcc6","leftValue":"={{ $json.body.broadcast }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"2992c889-6e5f-4ae9-81f2-3eceace36446","leftValue":"={{ $json.body.fromApi }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"8839468b-4ed3-4cc4-8764-dcadc21e4a15","leftValue":"={{ $json.body.phone }}","rightValue":"555189638143","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"db10546b-ddfc-4bc0-bb78-71144befc32d","leftValue":"={{ $json.headers['z-api-token'] }}","rightValue":"=452D431820172C077FAA9751","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-272,96],"id":"6d176620-a119-4163-8d51-d85f4c87dfe4","name":"If"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"23df817b-ab43-4403-ac13-4b898b662d8b","triggerCount":0,"shared":[{"createdAt":"2025-08-09T13:13:44.366Z","updatedAt":"2025-08-09T13:13:44.366Z","role":"workflow:owner","workflowId":"KhLuNwQDBU77Zhhd","projectId":"T3171E2RbgkIbJjB"}],"tags":[]}